@import 'src/styles/style';

.checkboxTreeExtended {
    // Компенсация отступа последней ноды.
    margin-bottom: -8px;
}

.checkboxTreeExtendedNode {
    .checkboxTreeExtendedNode {
        margin-left: @metric-24;
    }
}

.checkboxTreeExtendedNodeHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: @metric-8;

    // В базовом компоненте чекбокс почему-то есть отступы, которые не убираются.
    .checkboxTreeCheckboxLabel {
        margin-bottom: 0 !important;
    }

    .caretIconWrapper {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: transform 0.3s ease;
        transform: rotate(0);

        &:focus {
            outline: 1px solid var(--triplex-Checkbox-Border_Color_Focus);
        }
    }

    &.opened {
        .caretIconWrapper {
            transform: rotate(180deg);
        }
    }
}

@media (max-width: @screen-sm-max) {
    .checkboxTreeExtended {
        margin: 0 16px;
    }
    .checkboxTreeExtendedNodeHeader {
        margin-bottom: 0;
    }

    // Увеличение области клика чекбокса.
    .checkboxTreeCheckboxLabel {
        padding-top: 16px;
        padding-bottom: 16px;

        // .checkmarkIcon
        & > span,
        // .checkboxIcon
        & > svg,
        .checkboxTreeCheckbox {
            top: 18px !important;
        }
    }
}