@import 'src/desktop/common/theme/default.less';

.tdSubText {
    margin-top: @metric-4;
    .b4-text-info(@color-asphalt-01);
}

.amountRange {
    display: flex;

    .dash {
        padding: 4px 6px;
        user-select: none;
        .b1-text-main(@color-graphite-01);
    }
}

.footerText {
    .b1-text-main(@color-graphite-01);
}

.footerButtonGroup {
    display: flex;
}

.actionFilterPanel {
    display: flex;
    justify-content: flex-end;

    .clean {
        margin-right: 16px;
    }
}
