@import 'src/styles/style';

.subLabel {
    .b1-text-main(@color-asphalt-01);
    color: var(--triplex-Neutral-900);

    overflow: hidden;
    // высота в 2 строки - line-height * 2
    max-height: 40px;
}
