@import 'src/styles/style';

.field {
    display: flex;
    flex-wrap: wrap;
    margin-left: -@ufs-theme-grid-horizontal-gap;
    margin-right: -@ufs-theme-grid-horizontal-gap;

    &.alignLabel {
        .globalLabelWrapper {
            padding-top: 6px;
        }
    }
}
