@import url('src/styles/style');

.calendarViewDays {
    width: calc(100% + 2px + 2px);
    margin: 6px -2px -2px;
    border-spacing: 2px;
    table-layout: fixed;

    .adaptive & {
        width: calc(100% + 4px + 4px);
        margin: 20px -4px -4px -4px;
        border-spacing: 4px 0;
    }
}

.calendarViewDaysHeader {
    padding: 0;
    .b1-text-main(@color-asphalt-01);
    color: var(--triplex-Calendar-View_Header_Color);

    .adaptive & {
        padding: 6px 0;
    }
}

.calendarViewDaysBody {
    .b1-text-main(@color-graphite-01);
    color: var(--triplex-Calendar-View_Item_Color_Default);

    &::before {
        display: block;
        content: '\200C';
        line-height: 8px;
    }
}
