@import url('src/styles/style');

.calendarViewYears {
    width: calc(100% + 6px + 6px);
    margin: -2px -6px -8px -6px;
    border-spacing: 6px 12px;
    table-layout: fixed;
    .b1-text-main(@color-graphite-01);
    color: var(--triplex-Calendar-View_Item_Color_Default);

    .adaptive & {
        width: calc(100% + 10px + 10px);
        margin: 12px -10px -8px -10px;
        border-spacing: 10px 8px;
    }
}

.calendarYear {
    padding: 8px 0;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;

    .adaptive & {
        padding: 20px 0;
    }

    &:hover {
        background: var(--triplex-Calendar-View_Item_Background_Hover);
    }

    &.active {
        color: var(--triplex-Calendar-View_Item_Color_Selected);
        background: var(--triplex-Calendar-View_Item_Background_Selected_Default);

        &:hover {
            background: var(--triplex-Calendar-View_Item_Background_Selected_Hover);
        }
    }

    &.disabled {
        color: var(--triplex-Calendar-View_Item_Color_Disabled);
        cursor: default;
        pointer-events: none;
    }
}
