@import url('src/styles/style');

.calendar {
    width: 180px;
    padding: 8px 12px;
    background: var(--triplex-Calendar-Background);
    border-radius: @radius-8;
    user-select: none;

    &.adaptive {
        width: auto;
        padding: 20px;
    }
}

.calendarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .b1-text-main(@color-graphite-01);
    color: var(--triplex-Calendar-View_Item_Color_Default);

    .adaptive & {
        margin-right: 8px;
        margin-left: 8px;
    }
}
