@import 'src/styles/style';

.label {
    display: inline-block;
    position: relative;
    min-width: @ufs-theme-size-icon-16;
    min-height: @ufs-theme-size-icon-16;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--triplex-Radio-Color_Default);
    cursor: pointer;

    &.nonempty {
        padding-left: 24px;
    }

    &.disabled {
        color: var(--triplex-Radio-Color_Disabled);
        cursor: default;
    }
}

.radio {
    margin: 0;
    opacity: 0;
}

.radioIcon {
    box-sizing: border-box;
    background: var(--triplex-Radio-Background_Default);
    border: 1px solid var(--triplex-Radio-BorderColor_Default);
    border-radius: 50%;
}

.radioIcon::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 4px;
    left: 4px;
    background: var(--triplex-Radio-Dot_Default);
    border-radius: 50%;
    transform: scale(0);
}

.radioIcon,
.radioIcon::after {
    pointer-events: none;
}

.radio,
.radioIcon {
    position: absolute;
    width: @ufs-theme-size-icon-16;
    height: @ufs-theme-size-icon-16;
    left: 0;

    .nonempty & {
        top: 2px;
    }
}

.radio:enabled {
    cursor: pointer;
}

.radio:checked {
    + .radioIcon {
        background: var(--triplex-Radio-Background_Checked_Default);
        border-color: var(--triplex-Radio-BorderColor_Checked);
    }

    + .radioIcon::after {
        transform: scale(1);
        transition: transform 200ms ease-out;
    }
}

.radio:hover + .radioIcon {
    border-color: var(--triplex-Radio-BorderColor_Hover);
}

.radio:disabled {
    + .radioIcon {
        background: var(--triplex-Radio-Background_Disabled);
        border-color: var(--triplex-Radio-BorderColor_Disabled);
    }

    + .radioIcon::after {
        background: var(--triplex-Radio-Dot_Disabled);
    }
}

.radio[data-focus-visible]:focus + .radioIcon {
    border-color: var(--triplex-Radio-BorderColor_Focused);
}

.radio:checked:enabled:hover + .radioIcon {
    background-color: var(--triplex-Radio-Background_Checked_Hover);
}
