@import '../../../../common/theme/default';

.numberInput {
    display: flex;
    align-items: center;

    .unitBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        height: @ufs-theme-input-height;
        border: 1px solid @color-asphalt-03;
        border-radius: 0 @ufs-theme-input-border-radius @ufs-theme-input-border-radius 0;
        border-left: none;
        background-color: @color-snowy;

        .unitText {
            padding-right: @metric-12 - 1;
            padding-left: @metric-4;
            .b2-text-controls-normal(@color-asphalt-01);

            line-height: normal; // DCBSWT-1866 выравнивание наименования валюты
            white-space: nowrap;
        }
    }

    &.filled .unitBox .unitText {
        color: @color-graphite-01;
    }

    &.error .unitBox {
        border-color: @color-ruby-02 !important;
    }

    &.disabled .unitBox {
        cursor: default;
        user-select: none;
        background-color: @color-asphalt-05;

        .unitText {
            color: @color-asphalt-01;
        }
    }

    input {
        text-align: right;

        &:focus + .unitBox {
            border-color: @color-graphite-01;
        }
    }

    &.withUnit input {
        padding-right: @metric-4;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.grouped {
    flex: 1;

    &:not(:first-child) {
        margin-left: -1px;
    }

    .left,
    .left + .unitBox {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .intermediate,
    .intermediate + .unitBox {
        border-radius: 0;
    }

    .right,
    .right + .unitBox {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.error input,
    &.error input + .unitBox {
        z-index: 1;
    }

    input:focus,
    input:focus + .unitBox {
        z-index: 2;
    }
}
