@import '../../../../common/theme/default';

.maskedInputWrapper {
    position: relative;

    &:disabled {
        .inputDisabled();
    }
}

.maskedInput {
    position: relative;
    background: none !important;
}

.maskedInputPlaceholder {
    color: @color-asphalt-01 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    position: absolute;
    left: 0;
    top: 0;
}

.grouped {
    flex: 1;

    &:not(:first-child) {
        margin-left: -1px;
    }

    .left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .intermediate {
        border-radius: 0;
    }

    .right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .maskedInput.error {
        z-index: 1;
    }

    .maskedInput:focus {
        z-index: 2;
    }
}
