// Используется в компонентах ModalWindow и LightBox.
.backdropDefault() {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--triplex-Backdrop-background);
    pointer-events: none;

    // фикс ie в рамках DCBSWT-1315
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        bottom: 1px;
        min-height: calc(100% + 1px);
    }
}
