@import 'src/styles/style';

@ufs-theme-button-height-lg: 48px;
@ufs-theme-button-height-md: 32px;
@ufs-theme-button-height-sm: 28px;

@ufs-theme-button-min-width-lg: 96px;
@ufs-theme-button-min-width-md: 96px;
@ufs-theme-button-min-width-sm: 80px;
@ufs-theme-button-min-width-link-lg: 0;
@ufs-theme-button-min-width-link-md: 0;
@ufs-theme-button-min-width-link-sm: 0;

@ufs-theme-button-padding-horizontal-lg: 28px;
@ufs-theme-button-padding-horizontal-md: 24px;
@ufs-theme-button-padding-horizontal-sm: 16px;
@ufs-theme-button-padding-horizontal-dots-lg: 16px;
@ufs-theme-button-padding-horizontal-dots-md: 8px;
@ufs-theme-button-padding-horizontal-dots-sm: 6px;
@ufs-theme-button-padding-horizontal-link-lg: 2px;
@ufs-theme-button-padding-horizontal-link-md: 2px;
@ufs-theme-button-padding-horizontal-link-sm: 2px;

@ufs-theme-button-siblings-margin-left: 16px;

.button-padding(@height, @padding-horizontal) {
    & when (@padding-horizontal = @ufs-theme-button-padding-horizontal-link-md) or (@padding-horizontal = @ufs-theme-button-padding-horizontal-link-sm) {
        padding: (@height - @line-height) / 2 @padding-horizontal;
        @line-height: .line-height-by-font-size(@font-size-14)[@result];
    }

    & when not (@padding-horizontal = @ufs-theme-button-padding-horizontal-link-md) and not (@padding-horizontal = @ufs-theme-button-padding-horizontal-link-sm) {
        padding: (@height - @line-height-inline) / 2 @padding-horizontal;
        @line-height-inline: .line-height-by-font-size-inline(@font-size-14)[@result];
    }
}

.button-size(@height, @min-width) {
    height: @height;
    min-width: @min-width;

    & when not (@min-width = @ufs-theme-button-min-width-link-md) and not (@min-width = @ufs-theme-button-min-width-link-sm) {
        border-radius: @height / 2;
    }
}

.size-SM(@min-width: @ufs-theme-button-min-width-sm,
@padding-horizontal: @ufs-theme-button-padding-horizontal-sm) {
    .button-size(@ufs-theme-button-height-sm, @min-width);
    .button-padding(@ufs-theme-button-height-sm, @padding-horizontal);
}

.size-MD(@min-width: @ufs-theme-button-min-width-md,
@padding-horizontal: @ufs-theme-button-padding-horizontal-md) {
    .button-size(@ufs-theme-button-height-md, @min-width);
    .button-padding(@ufs-theme-button-height-md, @padding-horizontal);
}

.size-LG(@min-width: @ufs-theme-button-min-width-lg,
@padding-horizontal: @ufs-theme-button-padding-horizontal-lg) {
    .button-size(@ufs-theme-button-height-lg, @min-width);
    .button-padding(@ufs-theme-button-height-lg, @padding-horizontal);
}
