// Базовое значение
@ufs-theme-base: 4px;

// Отступ сверху/снизу для страницы/заголовка
@ufs-theme-page-padding-y: 24px;
// Отступ слева/справа для страницы/заголовка
@ufs-theme-page-padding-x: 32px;
// Отступ для страницы/заголовка/футера в экранах sm
@page-padding-sm: 16px;
// Отступ сверху/снизу для элементов заголовка/футера в экранах sm
@page-elements-padding-y-sm: 8px;

// Отступ перед колонкой с действиями
@ufs-theme-padding-before-controls-column: 24px;

// Минимальная ширина приложения
@ufs-theme-screen-min: 1024px;

// Тени
@shadow-01: 0px 1px 3px rgba(31, 31, 34, 0.25);
@shadow-02: 0px 2px 7px rgba(31, 31, 34, 0.25);
@shadow-03: 0px 6px 10px rgba(31, 31, 34, 0.25);
@shadow-04: 0px 16px 24px rgba(31, 31, 34, 0.25);
@shadow-05: 0px 2px 7px rgba(31, 31, 34, 0.08);
