// размеры иконок
@ufs-theme-size-icon-16: 16px;
@ufs-theme-size-icon-20: 20px;
@ufs-theme-size-icon-24: 24px;
@ufs-theme-size-icon-32: 32px;
@ufs-theme-size-icon-64: 64px;
@ufs-theme-size-icon-128: 128px;
