.chipClearButton {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
  // Для центрирования иконки внутри.
  display: flex;

  &:focus-visible {
    box-shadow: var(--triplex-Chip-Shadow_Focus);
  }
}