.design-token-table {
    margin-bottom: 48px;
}

.design-token-cell,
.design-token-th {
    padding: 8px 24px 8px 0;
    text-align: left;
}

.design-token-cell {
    text-transform: lowercase;
}

.design-token-cell-preview {
    padding-right: 8px;
}

.design-token-image {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
}