@import 'src/styles/style';

.accordion {
    margin: 0;
    padding: 0;

    .item {
        border-radius: @radius-16;
        background: var(--triplex-AccordionForm-Background_Default);
        position: relative;
        list-style-type: none;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        & + .item {
            margin-top: @metric-16;
        }

        .header {
            display: flex;
            width: 100%;
            margin: 0; // Safari/Firefox fix
            padding: 19px 31px;
            outline: none;
            border: 1px solid transparent;
            border-radius: @radius-16;
            text-align: left;
            background-color: var(--triplex-AccordionForm-Background_Default);
            cursor: pointer;

            &:hover {
                background-color: var(--triplex-AccordionForm-Background_Hover);
            }

            // Фикс, чтобы в IE11 кнопка не утопала при нажатии мышью.
            .buttonContent {
                position: relative;
                display: flex;
                width: 100%;
                padding: 0;
            }
        }

        &:hover {
            background-color: var(--triplex-AccordionForm-Background_Hover);

            .header {
                background-color: var(--triplex-AccordionForm-Background_Hover);
            }
        }

        .body {
            display: block;
            padding-left: @metric-32 + @metric-24 + @metric-24 - 1; // Паддинг заголовка + ширина иконки + отступ надписи - граница.
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-radius: 0 0 @radius-16 @radius-16;
            // Чтобы focus не попадал во внутренние элементы в закрытом состоянии.
            visibility: hidden;

            // Шаг аккордеона без статуса.
            &.bodyWithoutStatus {
                padding-left: 0;

                .content,
                .footer {
                    padding-left: 32px;
                }
            }
        }

        .title {
            .h5-header-form(@color-graphite-01);

            color: var(--triplex-AccordionForm-Title_Color_Default);
            margin: 0 12px 0 0;
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .caret {
            margin: @metric-4;
            flex-shrink: 0;
            transition: transform 0.3s ease-in-out;
        }

        .step {
            margin: 0 @metric-24 0 0;

            > div {
                cursor: pointer;
            }
        }

        .prevLine {
            top: -@metric-8;
            height: @metric-24;
        }

        .nextLine {
            bottom: -@metric-16;
            top: @metric-24 * 2;
        }

        .nextLine,
        .prevLine {
            position: absolute;
            background-color: var(--triplex-AccordionForm-Step_Line_Default);
            width: 2px;
            left: 43px;
            border-radius: 1px;

            &.success,
            &.wait {
                background-color: var(--triplex-AccordionForm-Step_Line_Success);
            }

            &.warning {
                background-color: var(--triplex-AccordionForm-Step_Line_Warning);
            }

            &.error {
                background-color: var(--triplex-AccordionForm-Step_Line_Error);
            }
        }

        .content {
            padding: @metric-24 @metric-32 - 1 @metric-24 0;
            border-top: var(--triplex-AccordionForm-BorderColor_Default) 1px solid;
        }

        .footer {
            padding: 18px @metric-32 - 1 18px - 1 0; // 18px - исключение из правил.
            text-align: right;
            border-top: var(--triplex-AccordionForm-BorderColor_Default) 1px solid;
        }

        .remove {
            position: absolute;
            right: -(@metric-16 + @metric-4);
            top: @metric-24;
        }

        &.opened .header {
            border-radius: @radius-16 @radius-16 0 0;
        }

        &.disabled {
            .header {
                cursor: default;
            }

            .title {
                color: var(--triplex-AccordionForm-Title_Color_Disabled);
            }

            .step > div {
                cursor: default;
            }
        }

        &.disabled .header,
        &.opened .header {
            background-color: var(--triplex-AccordionForm-Background_Default);
        }

        &.focused .header {
            border-color: var(--triplex-AccordionForm-BorderColor_Default);

            &:focus {
                border-color: var(--triplex-AccordionForm-BorderColor_Focus);
            }
        }

        &.disabled,
        &.opened {
            &:hover,
            &:hover .header {
                background-color: var(--triplex-AccordionForm-Background_Default);
            }
        }

        &.opened .body {
            border-bottom: 1px solid transparent;
            visibility: visible;
        }

        &.focused.opened .body {
            border-color: var(--triplex-AccordionForm-BorderColor_Default);
        }

        &.focused {
            &.opened .header {
                border-bottom-color: transparent;

                &:focus {
                    border-color: var(--triplex-AccordionForm-BorderColor_Focus);
                }
            }

            &.focusedByMouse .header:focus {
                border-color: var(--triplex-AccordionForm-BorderColor_Default);
            }

            .headerFocused + .body .content {
                border-top-color: transparent;
            }

            &.opened {
                &.focusedByMouse {
                    .header {
                        border-bottom-color: transparent;
                    }
                }

                &.focusedByMouse .headerFocused + .body .content {
                    border-top-color: var(--triplex-AccordionForm-BorderColor_Default);
                }
            }
        }

        &.opened .caret {
            transform: rotate(-180deg);
        }
    }

    /* stylelint-disable no-descending-specificity */
    &.single .item {
        .body {
            padding-left: 0;
        }

        .content,
        .footer {
            padding-left: 32px;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .accordion {
        .item {
            .header {
                padding: 16px;
            }

            .body,
            .body.bodyWithoutStatus {
                padding-left: 0;

                .content {
                    padding: 0 16px 16px 16px;
                    border-top: none;
                }

                .footer {
                    border-top: none;
                    text-align: left;
                    padding: 0 16px 16px 16px;
                    // Отступы, компенсирующие отступы у Button.
                    margin-top: -16px;
                    margin-left: -16px;

                    > button,
                    > .globalButtonDropdownExtended {
                        margin-left: 16px;
                        margin-top: 16px;
                    }
                }
            }

            .nextLine,
            .prevLine {
                display: none;
            }
        }
    }
}