@import '../../../../common/theme/default';

button.mobileButtonGeneral {
    .b3-text-controls-medium(@color-snowy);

    background-color: @color-malachite-02;
    padding: @metric-16;
    border-radius: @button-default-border-radius;

    &.globalMobileButtonHover {
        background-color: @color-malachite-01;
    }

    &:disabled {
        background-color: @color-malachite-04;
    }
}
