@import '../../../../common/theme/default';

.mobileButton {
    width: 100%;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: none;
    position: relative;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;

    &:disabled {
        pointer-events: none;

        * {
            pointer-events: none;
        }
    }

    &.loading {
        pointer-events: none;

        .globalMobileButtonInner {
            visibility: hidden;
        }
    }

    .mobileButtonSpinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .globalMobileButtonSpinnerIcon {
        .animation-spin-360();
    }
}
