@import 'src/styles/style';

.styleguide-playground {
    font-family: SBSansUI, sans-serif;
}

.styleguide-playground-preview {
    padding: 20px - 1;
    border: 1px solid #D0D7DD;
    border-radius: 8px;

    @media (max-width: @screen-md-max) {
        padding: 16px;
    }

    &.light-mode.light-background,
    &.dark-mode.dark-background {
        background: #F2F4F7;
    }

    &.light-mode.dark-background,
    &.dark-mode.light-background {
        background: #1F1F22;
    }

    &.light-mode.white-to-black-background,
    &.dark-mode.black-to-white-background {
        background: linear-gradient(to right, #FFFFFF 50%, #1F1F22 50%);
    }

    &.light-mode.black-to-white-background,
    &.dark-mode.white-to-black-background {
        background: linear-gradient(to left, #E4E8EB 50%, #1F1F22 50%);
    }
}

.styleguide-playground-controls {
    margin-top: 20px;
    line-height: 0;
    text-align: right;

    @media (max-width: @screen-md-max) {
        margin-top: 8px;
    }
}

.styleguide-playground-tabs,
.styleguide-playground-toolbar {
    display: inline-block;
}

.styleguide-playground-toolbar {
    float: right;
    margin-left: 10px;
}

.styleguide-playground-tab {
    margin-top: 20px;
    margin-bottom: 20px;

    @media (max-width: @screen-md-max) {
        margin-top: 16px;
    }
}
