.styleguide-playground {
    font-family: SBSansUI, sans-serif;
}

.styleguide-playground-preview {
    padding: 20px - 1;
    border: 1px solid #D0D7DD;
    border-radius: 8px;

    &.light-background {
        background: #F2F4F7;
    }

    &.dark-background {
        background: #1F1F22;
    }

    &.semidark-background {
        background: linear-gradient(to right, #fff 50%, #1F1F22 50%);
    }
}

.styleguide-playground-controls {
    margin-top: 20px;
    line-height: 0;
    text-align: right;
}

.styleguide-playground-tabs,
.styleguide-playground-toolbar {
    display: inline-block;
}

.styleguide-playground-toolbar {
    float: right;
    margin-left: 10px;
}

.styleguide-playground-tab {
    margin-top: 20px;
    margin-bottom: 20px;
}