@import 'src/styles/style';

.action {
    box-shadow: var(--triplex-Card-Shadow_Default);
    cursor: pointer;

    &.selected {
        border-color: var(--triplex-Card-BorderColor_Selected);
        box-shadow: none;
    }

    &:hover {
        border-color: var(--triplex-Card-BorderColor_Hover);
        box-shadow: var(--triplex-Card-Shadow_Hover)
    }

    &:focus {
        outline: none;

        &.focusVisible {
            border-color: var(--triplex-Card-BorderColor_Focus);
        }
    }
}
