@import 'src/styles/style';

.sliderExtendedTooltipOverlay {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    position: absolute;
    pointer-events: none;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, 0);

    .tooltipBody {
        position: relative;
        box-sizing: border-box;
        text-align: center;
        padding: @metric-16;
        background: var(--triplex-Slider-Tooltip_Background);
        white-space: nowrap;
        min-width: 52px;
        min-height: 52px;
        color: var(--triplex-Slider-Tooltip_Color);
        border-radius: @metric-8;
    }

    .tooltipTip {
        content: '';
        width: 0;
        height: 0;
        border-top: @metric-8 solid var(--triplex-Slider-Tooltip_Background);
        border-right: @metric-8 solid transparent;
        border-left: @metric-8 solid transparent;
    }

    //IE hack
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .tooltipTip {
            margin: -0.5px;
        }
    }
}
