/* stylelint-disable no-descending-specificity */
@import 'src/styles/style';
@import 'src/components/ModalWindow/styles/ModalWindowKeyFrames';

.modalWindowContainer {
    position: fixed;
    left: var(--modalWindow-screen-left, 0);
    top: var(--modalWindow-screen-top, 0);
    width: var(--modalWindow-screen-width, 100%);
    bottom: 0;
    z-index: @z-index-modal-window;

    .modalWindowBackdrop {
        .backdropDefault();

        width: var(--modalWindow-screen-width, 100%);
    }

    .modalWindow {
        position: fixed;
        height: calc(100% - var(--modalWindow-screen-top, 0));
        width: var(--modalWindow-screen-width, 100%);
        overflow-y: scroll;
        overflow-x: hidden;

        .modalWindowContentWrapper {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: calc(100% - 32px);
            animation: modalWindowContentAnimationOnEnter 0.6s ease;

            .modalWindowContent {
                margin-top: @ufs-theme-modal-window-top;
                width: 100%;

                &,
                .globalSpinnerWidget {
                    border-radius: @radius-16;
                }

                .modalWindowBody {
                    .keyframes-fadeIn();

                    box-sizing: border-box;
                    animation: fadeIn 0.3s ease;
                }

                .spinnerSm {
                    display: none;
                }

                @media (max-width: @screen-sm-max) {
                    .spinner {
                        display: none;
                    }

                    .spinnerSm {
                        display: flex;
                    }
                }
            }
        }
    }

    .modalWindowClose {
        transition: visibility 0s 0.3s;
        -webkit-tap-highlight-color: transparent;
    }

    &.modalTopOverlayActive {
        .modalWindowClose {
            visibility: hidden;
            transition: none;
        }

        // Overlay.
        .modalWindowContent::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: @z-index-step + @z-index-step / 2;
            background-color: @ufs-theme-overlay-white-background-color;
            width: 100%;
            border-radius: @radius-16;
            animation: fadeIn 0.3s ease;
        }
    }
}

.modalWindowTransition-exit .modalWindow .modalWindowContentWrapper {
    transform: @ufs-theme-modal-content-translate-exit;
    -ms-transform: @ufs-theme-modal-content-translate-exit-ie11;
    animation: modalWindowContentAnimationOnExit 0.3s ease;

    .modalWindowBody {
        .keyframes-fadeOut();

        animation: fadeOut 0.3s ease;
    }
}

.no-hash-overflow-hidden {
    overflow: hidden;
}
