.component-control-panel {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    margin-bottom: 16px;
    transition: color 0.5s;

    .triplex-theme-dark & {
        color: white;
    }
}
