@import 'src/styles/style';

.globalStep {
    .font-medium();
    .font-size-inline(@font-size-14);

    text-transform: none;

    display: flex;
    flex-shrink: 0; //ie11-fix
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: @ufs-theme-size-icon-24;
    height: @ufs-theme-size-icon-24;
    user-select: none;
    cursor: default;
    box-shadow: @shadow-05;
    border: 2px solid;
    border-radius: 50%;

    &.wait {
        color: var(--triplex-Step-Color_Wait);
        background-color: var(--triplex-Step-Background_Color_Wait);
        border-color: var(--triplex-Step-Border_Color_Wait);
    }

    &.disabled {
        color: var(--triplex-Step-Color_Disabled);
        background-color: var(--triplex-Step-Background_Color_Disabled);
        border-color: var(--triplex-Step-Border_Color_Disabled);
    }

    &.success {
        color: var(--triplex-Step-Color_Success);
        background-color: var(--triplex-Step-Background_Color_Success);
        border-color: var(--triplex-Step-Border_Color_Success);
    }

    &.warning {
        color: var(--triplex-Step-Color_Warning);
        background-color: var(--triplex-Step-Background_Color_Warning);
        border-color: var(--triplex-Step-Border_Color_Warning);
    }

    &.error {
        color: var(--triplex-Step-Color_Error);
        background-color: var(--triplex-Step-Background_Color_Error);
        border-color: var(--triplex-Step-Border_Color_Error);
    }
}
