@import 'src/styles/style';

.globalStep {
    .font-medium();
    .font-size-inline(@font-size-14);

    text-transform: none;
    color: var(--triplex-Basic-100);

    display: flex;
    flex-shrink: 0; //ie11-fix
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: @ufs-theme-size-icon-24;
    height: @ufs-theme-size-icon-24;
    user-select: none;
    cursor: default;
    box-shadow: @shadow-05;
    border: 2px solid transparent;
    border-radius: 50%;

    &.wait {
        color: var(--triplex-Primary-700);
        background-color: var(--triplex-Basic-100);
        border-color: var(--triplex-Primary-700);
    }

    &.disabled {
        color: var(--triplex-Neutral-700);
        background-color: var(--triplex-Basic-100);
    }

    &.success {
        color: var(--triplex-Basic-100);
        background-color: var(--triplex-Primary-700);
    }

    &.warning {
        color: var(--triplex-Warning-700);
        background-color: var(--triplex-Basic-100);
        border-color: var(--triplex-Warning-700);
    }

    &.error {
        color: var(--triplex-Basic-100);
        background-color: var(--triplex-Error-700);
    }
}
