@import '../../../../common/theme/default';

.tabsExtended {
    position: relative;
}

.tabsExtendedContent {
    display: inline-flex;
    padding: 2px;
}

.tabsExtendedTab + .tabsExtendedTab,
.tabsExtendedDropdown {
    margin-left: 2px;
}

.tabsReal,
.tabsFake {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.tabsReal {
    &.hidden {
        visibility: hidden;
    }

    .tabsExtendedTab.hidden {
        display: none;
    }
}

.tabsFake {
    padding: 2px;
    position: absolute;
    left: -10000px;
    visibility: hidden;
}
