body {
    font-family: Roboto, SBSansUI, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #F2F4F7;

    &.modal-open {
        overflow: hidden;
    }
}

@font-face {
    font-family: SBSansUI;
    src:
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff2') format('woff2'),
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: SBSansUI;
    src:
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff2') format('woff2'),
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SBSansUI;
    src:
        url('../../../src/fonts/SBSansUI/SBSansUI-Semibold.woff2') format('woff2'),
        url('../../../src/fonts/SBSansUI/SBSansUI-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.styleguidist-row {
    margin-left: -12px;
    margin-right: -12px;

    & + .styleguidist-row {
        margin-top: 8px;
    }

    each(range(12), {
        .styleguidist-col@{value} {
            @percent: 100 / 12 * @value;
            width: ~'calc(@{percent}% - 24px)';
            margin-right: 12px;
            margin-left: 12px;
            float: left;
        }
    });

    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// Кнопка "Оставить отзыв"
.styleguidist-live #atlwdg-trigger {
    display: none;
}
