body {
    font-family: Roboto, SBSansUI, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #F2F4F7;

    &.modal-open {
        overflow: hidden;
    }
}

@font-face {
    font-family: SBSansUI;
    src:
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff2') format('woff2'),
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: SBSansUI;
    src:
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff2') format('woff2'),
        url('../../../src/fonts/SBSansUI/SBSansUI-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SBSansUI;
    src:
        url('../../../src/fonts/SBSansUI/SBSansUI-Semibold.woff2') format('woff2'),
        url('../../../src/fonts/SBSansUI/SBSansUI-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../public/fonts/Roboto-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.styleguidist-row {
    margin-left: -12px;
    margin-right: -12px;

    & + .styleguidist-row {
        margin-top: 8px;
    }

    each(range(12), {
        .styleguidist-col@{value} {
            @percent: 100 / 12 * @value;
            width: ~'calc(@{percent}% - 24px)';
            margin-right: 12px;
            margin-left: 12px;
            float: left;
        }
    });

    &::before,
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// Кнопка "Оставить отзыв"
.styleguidist-live #atlwdg-trigger {
    display: none;
}
// Логотип в хедере.
.header-logo-light {
    display: block;
}
// Логотип в хедере.
.header-logo-dark {
    display: none;
}

// Темная тема.
html.styleguidist-dark-theme {
    body {
        color: #F2F4F7;
    }

    body,
    .styleguide-sidebar,
    .styleguide-section:not(:last-child)::after {
        background-color: #1F1F22;
    }

    .styleguide-sidebar-burger-slice {
        background-color: #F2F4F7;
    }

    .component-control-panel,
    .styleguide-para,
    a.styleguide-section-heading-link,
    .styleguide-heading {
        color: #F2F4F7;
    }

    // Ссылка левого меню.
    .styleguide-link {
        color: #b2b8bf;
    }

    // Контент лайаута.
    .styleguide-content {
        background: #181819;
    }


    .styleguide-components-list-section-heading-icon > path {
        fill: #D0D7DD;
    }

    // Контейнер примера.
    .styleguide-playground-preview {
        border-color: #565B62;
    }

    // Иконка поиска.
    .styleguide-search-input-icon path {
        fill: #565B62 !important;
    }

    // Поле поиска.
    .styleguide-search-input,
    .styleguide-search-input:focus {
        background: #1F1F22;
        border: 1px solid #7D838A;
        color: #7D838A;
    }

    // Логотип в хедере.
    .header-logo-light {
        display: none;
    }
    // Логотип в хедере.
    .header-logo-dark {
        display: block;
    }

    // Checkbox в примере компонента.
    .checkbox-frame rect {
        stroke: #565B62;
        fill: transparent;
    }

    // Select в примере компонента.
    .component-control-select select {
        border-color: #565B62;
        background: transparent;
        color: #F2F4F7;
    }
    // Select в примере компонента, иконка стрелка.
    .component-control-select-arrow path {
        stroke: #565B62;
    }

    .example-background {
        &.light {
            background: #1F1F22;
        }

        &.dark {
            background: #F2F4F7;
        }
    }
}
//
//#triplex-info {
//    position: fixed;
//    top: 0;
//    right: 0;
//    background: #fff;
//    min-height: 20px;
//    min-width: 100px;
//    padding: 10px;
//    z-index: 10000000;
//
//    .triplex-info-list {
//        margin: 0;
//        padding: 0;
//        list-style: none;
//
//        .triplex-info-list-item {
//            margin-bottom: 10px;
//            display: flex;
//        }
//
//        .triplex-info-list-item-color {
//            width: 20px;
//            height: 20px;
//            border-radius: 10px;
//            margin-right: 8px;
//        }
//    }
//}

