@import '../../../../common/theme/default';

button.helpBoxButton {
    position: relative;
    vertical-align: text-bottom;
}

// Добавление отступа под иконкой "Закрыть".
.helpBoxTooltipBody {
    padding-right: 16px;
}
