@import 'src/styles/style';

.tabsExtendedTabButton {
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    flex-shrink: 0;
    border: 1px solid var(--triplex-Tabs-Tab_BorderColor_Default);
    outline: none;
    background: var(--triplex-Tabs-Tab_Background_Default);
    cursor: pointer;
    border-radius: 14px;
    padding: 5px 15px;
    white-space: nowrap;
    position: relative;
    overflow: visible;

    &::-moz-focus-inner {
        border: none;
    }

    & + .tabsExtendedTabButton {
        margin-left: 2px;
    }

    &:hover {
        background: var(--triplex-Tabs-Tab_Background_Hover);
    }

    &:focus-visible {
        border-color: var(--triplex-Tabs-Tab_BorderColor_Focus);
    }

    &.selected {
        background: var(--triplex-Tabs-Tab_Background_Selected);
        cursor: default;
    }

    .tabsExtendedTabButtonInner {
        // Fix IE11 pointer-events
        display: inline-block;
        // Fix IE11 position
        position: relative;
    }
}
