@import 'src/styles/style';

.tabsExtendedTabButton {
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    flex-shrink: 0;
    border: 1px solid transparent;
    outline: none;
    background: @color-snowy;
    cursor: pointer;
    border-radius: 14px;
    padding: 5px 15px;
    white-space: nowrap;
    position: relative;
    overflow: visible;

    &::-moz-focus-inner {
        border: none;
    }

    & + .tabsExtendedTabButton {
        margin-left: 2px;
    }

    &:hover {
        background: @color-asphalt-05;
    }

    &[data-focus-visible]:focus {
        border-color: @color-sunny-01;
    }

    &.selected,
    &.selected:hover {
        background: @color-asphalt-03;
        cursor: default;
    }

    .tabsExtendedTabButtonInner {
        // Fix IE11 pointer-events
        display: inline-block;
        // Fix IE11 position
        position: relative;
    }
}
