@import '../../../../../../common/theme/default';

.sliderExtendedMarks {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}

.sliderExtendedMark {
    position: absolute;
    top: 15px;
    transform: translateX(-50%);
    cursor: pointer;

    .sliderExtendedMarkDot {
        background: @color-asphalt-03;
        width: @metric-8;
        height: @metric-8;
        border-radius: @metric-4;
        display: block;
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);

        &.inSelectedRange {
            background: @color-malachite-02;
        }
    }

    .sliderExtendedMarkText {
        user-select: none;
        color: @color-asphalt-02;
        white-space: nowrap;
        cursor: pointer;
    }

    &.disabled {
        pointer-events: none;

        .sliderExtendedMarkText {
            pointer-events: none;
        }

        .sliderExtendedMarkDot.inSelectedRange {
            background: @color-asphalt-02;
        }
    }

    &:first-child,
    &:last-child {
        transform: none;
    }

    &:first-child {
        &.reverse {
            .sliderExtendedMarkDot {
                right: 0;
                left: auto;
                transform: translateX(50%);
            }

            .sliderExtendedMarkText {
                margin-right: -4px;
            }
        }

        &:not(.reverse) {
            .sliderExtendedMarkDot {
                left: 0;
                transform: translateX(-50%);
            }
        }

        .sliderExtendedMarkText {
            margin-left: -4px;
        }
    }

    &:last-child {
        &.reverse {
            .sliderExtendedMarkDot {
                left: 0;
                transform: translateX(-50%);
            }

            .sliderExtendedMarkText {
                margin-left: -4px;
            }
        }

        &:not(.reverse) {
            .sliderExtendedMarkDot {
                right: 0;
                left: auto;
                transform: translateX(50%);
            }
        }

        .sliderExtendedMarkText {
            margin-right: -4px;
        }
    }

    &.active {
        pointer-events: none;

        .sliderExtendedMarkText {
            color: @color-graphite-01;
        }
    }
}
