input.masked-input {
    min-width: 120px; // Временный фикс бага в MaskedInput.
}

.input-group-wrapper > * {
    flex-basis: 50%;
}

.currency-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.currency-select {
    flex: 0 0 86px;
}
