@import '../../../../src/common/styles/theme/default/colors.less';

.icons-list {
    display: flex;
    margin: -8px;
    flex-wrap: wrap;
    border-radius: 4px;

    &.highlighted {
        background-color: @color-asphalt-01;
    }
}

.icon-item {
    display: flex;
    margin: 8px;
    flex: 1 0 240px;
    align-items: center;

    &.deprecated {
        text-decoration: line-through;
    }
}

.icon-name {
    margin-left: 8px;
}
