.custom-markdown {
    text-align: right;

    // Убирается заголовок внутри Markdown, он уже продублирован в заголовке Аккордеона.
    h3 {
        display: none;
    }

    &-title {
        > div {
            margin-bottom: 0;
        }

        &:not(.opened) {
            button {
                outline: none;
                border-bottom: 2px solid transparent;
            }
        }

        h3 {
            display: block;
        }
    }
}

.styleguide-static-code-tab-button {
    line-height: 0;
    color: #7D838A;
    cursor: pointer;

    &:hover {
        color: #2E2F36;
    }
}