@import 'src/styles/style';

.globalHeaderTitle {
    padding: @ufs-theme-page-padding-y @ufs-theme-page-padding-x;
    display: flex;
    justify-content: space-between;

    .headerTitleContent {
        .globalHeaderTitleContentText {
            .font-medium();
            .font-size(@font-size-21);

            text-transform: none;
            color: var(--triplex-Header-Title_Color);
            margin: 0;
            padding: 0;

            outline: none;
            box-sizing: border-box;
            text-transform: initial;
        }

        .headerTitleContentSubhead {
            .font-size(@font-size-14);

            color: var(--triplex-Header-TitleSubhead_Color);
        }
    }

    .globalHeaderTitleControls {
        white-space: nowrap;
        padding-left: @ufs-theme-padding-before-controls-column;
    }
}

.headerLink + .globalHeaderTitle {
    padding-top: 0;
}

@media (max-width: @screen-sm-max) {
    .globalHeaderTitle {
        flex-wrap: wrap;
        padding: 20px 16px;

        .headerTitleContent {
            width: 100%;

            .globalHeaderTitleContentText {
                .font-size(@font-size-16);
            }

            .headerTitleContentSubhead {
                margin-top: 4px;
            }
        }

        .globalHeaderTitleControls {
            padding-left: 0;
            white-space: normal;
            // Отступы, компенсирующие отступы у Button.
            margin-left: -16px;

            > button,
            > .globalButtonDropdownExtended {
                margin-left: 16px;
                margin-top: 16px;
            }
        }
    }
}
