@import 'src/styles/style';

// Ширина нотификации.
@ufs-theme-notification-width: 376px;
// Ширина контента нотификации без иконки.
@ufs-theme-notification-content-width-with-icon: 300px;
// Ширина контента нотификации с иконкой.
@ufs-theme-notification-content-width-without-icon: @ufs-theme-notification-content-width-with-icon + @ufs-theme-size-icon-20;

.notification {
    display: flex;
    width: @ufs-theme-notification-width;
    position: relative;
    border-radius: @metric-8;
    box-shadow: var(--triplex-Notification-Shadow);
    background: var(--triplex-Notification-Background);
    margin-top: @metric-8;
    padding: @metric-16 @metric-32 @metric-16 @metric-16;
    box-sizing: border-box;
    color: var(--triplex-Notification-Color);
    z-index: @z-index-step * 3;

    &:first-child {
        margin-top: 0;
    }

    &.extraBottomPadding {
        padding-bottom: @metric-24;
    }

    .notificationHeader {
        .font-size(@font-size-16);
        .font-medium();

        color: var(--triplex-Notification-Color);
        width: 100%;
        margin-top: 0;
        margin-bottom: @metric-8;
    }

    .notificationIcon {
        // Убирает нижний отступ от иконки.
        line-height: 0;
    }

    .notificationBody {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: @metric-8;
    }

    .notificationBodyList {
        margin-top: 8px;
    }

    .notificationBodyContent {
        width: 100%;
        .font-size(@font-size-14);
    }

    .notificationClose {
        position: absolute;
        top: @metric-8;
        right: @metric-8;
        background-color: transparent;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        outline: none;
        line-height: 0;
    }

    &.showCloseOnHover {
        .notificationClose {
            opacity: 0;
        }

        &:hover {
            cursor: pointer;

            .notificationClose {
                opacity: 1;
            }
        }
    }

    .notificationFooter {
        display: flex;
        align-items: center;
        margin-top: @metric-16;

        button + a {
            margin-left: @metric-16;
        }
    }

    .notificationTime {
        .h6-header-table();

        position: absolute;
        bottom: @metric-8;
        right: @metric-8;
    }
}

.notificationGroupedWrapper {
    width: @ufs-theme-notification-width;
    position: relative;
    margin-bottom: @metric-32;

    &:hover {
        cursor: pointer;
    }

    .notificationGroupedFooterItem {
        border-radius: 0 0 @metric-8 @metric-8;
        position: absolute;
        background: var(--triplex-Notification-Background);
        left: 1px;
        right: 1px;
        height: @metric-16;
        box-shadow: var(--triplex-Notification-Shadow);

        &.first {
            bottom: -@metric-8;
            z-index: @z-index-step * 2;
        }

        &.second {
            bottom: -@metric-16;
            z-index: @z-index-step;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .notification,
    .notificationGroupedWrapper {
        width: 100%;
    }
}