@import 'src/desktop/common/theme/default.less';

.statusTrackerDeprecatedStepDivider {
    height: 2px;
    margin-left: @metric-8;
    margin-right: @metric-8;
    border-radius: 1px;

    &.fourStepDividerCenter {
        width: 36px;
    }

    &.fourStepDividerSide {
        width: 34px;
    }

    &.threeStepDivider {
        width: 72px;
    }

    &.wait {
        background-color: @color-malachite-02;
    }

    &.warning {
        background-color: @color-pumpkin-02;
    }

    &.error {
        background-color: @color-ruby-02;
    }

    &.success {
        background-color: @color-malachite-02;
    }

    &.disabled {
        background-color: @color-asphalt-03;
    }
}
