@import 'src/desktop/common/theme/default.less';

.statusTrackerDeprecatedSteps {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 64px;
    padding: @metric-24 @metric-24 @metric-16 @metric-24;
    background-color: @color-asphalt-05;
    border-radius: @radius-8 @radius-8 0 0;
}
