.svg-preview-section-item {
    display: inline-block;
    position: relative;
    height: 240px;
    box-sizing: border-box;
    overflow: hidden;
    background: transparent;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;

    &.copied::after {
        content: 'Code example copied!';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        background-color: #21A19A;
    }

    .styleguidist-light-theme & {
        color: #686977;
        border: 1px solid #E5E5E7;

        &:hover {
            border-color: #21A19A;
        }

        &.copied::after {
            color: #FFFFFF;
        }
    }

    .styleguidist-dark-theme & {
        color: #A3A3A3;
        border: 1px solid #2E2F36;

        &:hover {
            border-color: #21A19A;
        }

        &.copied::after {
            color: #181819;
        }
    }

    &.inverted {
        color: #EBEBEC;
        background: #7D838A;
    }
}

.svg-preview-section-item-target {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 0;
    transform: translate(-50%, -50%);
}

.svg-preview-section-item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    box-sizing: border-box;
    padding: 8px 12px;
    position: absolute;
    inset: auto 0 0 0;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    white-space: normal;

    &.deprecated {
        text-decoration: line-through;
    }
}
