.styleguide-section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.styleguide-section-heading-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.styleguide-section-heading-toolbar {
    line-height: 0;
}
