@import 'src/styles/style';

.styleguide-section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    @media (max-width: @screen-md-max) {
        margin-bottom: 16px;

        &:has(> h3) {
            margin-bottom: 0px;
        }
    }
}

.styleguide-section-heading-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.styleguide-section-heading-toolbar {
    line-height: 0;
}
