@import url('src/styles/style');

.accordionView {
    background: var(--triplex-AccordionView-Background);
    border-radius: @radius-16;

    .accordionViewHeaderWrapper {
        display: flex;
        justify-content: space-between;
        outline: none;
        border: 1px solid var(--triplex-AccordionView-BorderColor_Default);
        border-radius: @radius-16;
        padding: 19px 31px;
        cursor: pointer;

        .accordionViewHeader {
            .h5-header-form(@color-graphite-01);

            color: var(--triplex-AccordionView-Header_Color);
            flex-grow: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .caretIcon {
            transition: transform 0.3s ease-in-out;
            margin: 4px 0 4px 20px;
            flex-shrink: 0;
        }

        &:not(.focusedByClick):focus {
            border-color: var(--triplex-AccordionView-BorderColor_Focus);
        }

        &.animating,
        &.opened {
            border-radius: @radius-16 @radius-16 0 0;

            .caretIcon {
                transform: rotate(-180deg);
            }
        }
    }

    .accordionViewBody {
        padding: 24px 31px 23px;
    }

    .accordionViewContent {
        box-sizing: content-box;
        visibility: hidden;

        &.globalExpandAnimationAnimating,
        &.globalExpandAnimationOpened {
            border: 1px solid var(--triplex-AccordionView-BorderColor_Default);
            border-top: none;
            border-radius: 0 0 @metric-16 @metric-16;
            visibility: visible;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .accordionView {
        .accordionViewHeaderWrapper,
        .accordionViewBody {
            padding: 15px;
        }
    }
}