/* @deprecated Используйте импорт из core-styles напрямую */

// Malachite.
@color-malachite-01: #005E7F; // Нажатое состояние кнопок, цвет ссылок.
@color-malachite-02: #107F8C; // Базовый цвет. Кнопки “Создать” / “Отправить” / “Подключить” и т.п.
@color-malachite-03: #21A19A; // Hover на внешних ссылках и на кнопках.
@color-malachite-04: #90D0CC; // Состояние Disabled.
@color-malachite-05: #E5FCF7; // Состояние виджета ВЭД, hover и active состояние фона ссылок меню.

// Sky.
@color-sky-01: #0F5498; // Состояние Active текстовых ссылок.
@color-sky-02: #1358BF; // Текстовые ссылки, бордер инфо-уведомлений, иконки.
@color-sky-03: #198CFE;    // Hover на ссылках.
@color-sky-04: #93B7ED;    // Состояние Disabled для ссылок.
@color-sky-05: #F2F8FF;    // Фон инфо-алертов.

// Ruby.
@color-ruby-01: #A80E2A; // Нажатое состояние кнопки, бордер алерт-уведомлений.
@color-ruby-02: #C11030; // Критические алерты, ошибки, Алерт-кнопка, состояние Default.
@color-ruby-03: #DB1237; // Hover на кнопках.
@color-ruby-04: #FFBDC5; // Состояние Disabled.
@color-ruby-05: #FFE5E8; // Заливка Alert.

// Pumpkin.
@color-pumpkin-01: #E58A00; // Нажатое состояние кнопок.
@color-pumpkin-02: #FF9900; // Кнопки “Call to action”, выбранные контролы, фон инфо-бэджей, иконки в некритичных алертах.
@color-pumpkin-03: #FFB13B; // Hover на кнопках “Call to action”.
@color-pumpkin-04: #FFD9A0; // Состояние Disabled, светлая заливка в контролах, фокус-обводка.
@color-pumpkin-05: #FFF5E6; // Состояние виджета ВЭД, фон инфо-алертов.

// Sunny.
@color-sunny-01: #FFDD64; // Фокус-обводка.

// Graphite.
@color-graphite-01: #1F1F22; // Основной цвет текста на странице для всех заголовков и наборного текста на светлом фоне, активные пункты табов.
@color-graphite-02: #565B62; // Ссылки во втором уровне меню, темные элементы иконок цвета Asphalt 02.

// Asphalt.
@color-asphalt-01: #7D838A; // Активные навигационные табы, названия столбцов в таблицах, плейсхолдеры, текст описания, подписи.
@color-asphalt-02: #B2B8BF; // Иконоки, вспомогательные ссылки.
@color-asphalt-03: #D0D7DD; // Разделители, границы инпутов, границы блоков, иконки в таблицах.
@color-asphalt-04: #E4E8EB; // Фон второго уровня, разделители таблиц, сетка графиков, Hover навигационных табов.
@color-asphalt-05: #F2F4F7; // Фон в состоянии Disabled и правом сайдбаре на главной странице, фон для хедера страницы, фон заголовка таблицы, фон шапки лайтбокса, футер лайтбокса, фон трекера, фон аккордеона.

// Snowy.
@color-snowy: #FFFFFF;
