/* @deprecated Используйте импорт из core-styles напрямую */

// Aquamarine.
@color-aquamarine-01: #6EDCD7;
@color-aquamarine-02: #6EE0BF;

// Turquoise.
@color-turquoise-01: #59E1DB;

// Picton.
@color-picton-01: #4BB6ED;
