.styleguide-section {
    &:not(:last-child)::after {
        content: "";
        display: block;
        height: 30px;
        margin-right: -42px;
        margin-left: -42px;
        background-color: #F2F4F7;
    }

    + .styleguide-section {
        padding-top: 24px;
    }
}
