@import '../../../../common/theme/default';

// Ширина календаря.
@calendarWidth: 188px;

// Ширина заголовка календаря.
@calendarHeaderWidth: @calendarWidth - @metric-4 * 2;

// Ширина кнопки в заголовке календаря.
@calendarHeaderButtonWidth: 24px;

// Ширина даты в заголовке календаря.
@calendarHeaderDateWidth: @calendarHeaderWidth - @calendarHeaderButtonWidth * 2;

// Ширина ячейки просмотра года и диапазона лет.
@calendarYearDecadeTableItemWidth: 56px;

// Ширина правого отступа ячейки просмотра года и диапазона лет.
@calendarYearDecadeTableItemMarginRight: 6px;

// Ширина таблицы просмотра года и диапазона лет.
@calendarYearDecadeTableWidth: (@calendarYearDecadeTableItemWidth + @calendarYearDecadeTableItemMarginRight) * 3;

// Отступ между днями (в таблице календаря).
@calendarDayMargin: 1px;

// Отступ с двух сторон между днями (в таблице календаря).
@calendarDayTwoSideMargin: @calendarDayMargin + @calendarDayMargin;

// Размер ячейки дня (по ширине или высоте, в таблице календаря).
@calendarDayCellSize: 24px;

// Диаметр маркера отмеченного дня;
@marked-dot-diameter: @metric-4;

// Компенсирующий отступ маркера отмеченного дня для первого столбца.
@marked-dot-first-column-margin-compensation: -1px;

.globalCalendar {
    box-sizing: content-box;
    width: @calendarWidth;
    padding: @metric-8;
    background-color: @color-snowy;
    border-radius: @radius-8;
    user-select: none;

    .calendarHeader {
        display: flex;
        align-items: center;
        margin: 0 @metric-4;
        width: @calendarHeaderWidth;

        .calendarHeaderDate {
            display: flex;
            justify-content: center;
            width: @calendarHeaderDateWidth;
        }

        .calendarHeaderText {
            .b1-text-main(@color-graphite-01);
        }
    }

    .calendarYearTable,
    .calendarDecadeTable {
        display: flex;
        flex-wrap: wrap;
        margin: @metric-12 0 0 @metric-4;
        width: @calendarYearDecadeTableWidth;
        .b1-text-main(@color-graphite-01);

        .calendarTableItem {
            display: flex;
            width: @calendarYearDecadeTableItemWidth;
            height: 36px;
            margin-right: @calendarYearDecadeTableItemMarginRight;
            margin-bottom: @metric-4;
            justify-content: center;
            align-items: center;
            border-radius: @radius-8;
        }
    }

    .calendarYearTable,
    .calendarDecadeTable,
    .calendarMonthTable {
        border-collapse: collapse;
        border-spacing: 0;

        .calendarTableItem {
            &:not(.calendarTableItemDisabled):hover {
                background-color: @color-asphalt-05;
                cursor: pointer;
            }

            &.calendarTableItemActive {
                background-color: @color-malachite-02;
                .b1-text-main(@color-snowy);

                &:not(.calendarTableItemDisabled):hover {
                    background-color: @color-malachite-03;
                }
            }

            &.calendarTableItemDisabled {
                .b1-text-main(@color-asphalt-03);
            }
        }
    }

    .calendarMonthTable {
        margin: @metric-8 @metric-4 @metric-4 @metric-4;

        thead {
            .calendarWeekCell {
                padding: 0;
                text-align: center;
                cursor: default;
                .b1-text-main(@color-asphalt-01);
            }
        }

        tbody {
            // Отступ между thead и tbody.
            &::before {
                display: block;
                content: '\200C';
                line-height: @metric-12;
            }

            .calendarWeekRow {
                box-sizing: border-box;

                .calendarDayWrapper {
                    position: relative;
                    box-sizing: border-box;
                    width: @calendarDayCellSize + @calendarDayTwoSideMargin;
                    height: @calendarDayCellSize + @calendarDayTwoSideMargin;
                    padding: @calendarDayMargin;

                    &:first-child {
                        width: @calendarDayCellSize + @calendarDayMargin;
                        padding-left: 0;

                        &.calendarDayInRangeWrapper {
                            border-radius: 50% 0 0 50%;
                        }

                        &.calendarRightBorderDay {
                            border-radius: 50%;
                        }
                    }

                    &:last-child {
                        width: @calendarDayCellSize + @calendarDayMargin;
                        padding-right: 0;

                        &.calendarDayInRangeWrapper {
                            border-radius: 0 50% 50% 0;
                        }

                        &.calendarLeftBorderDay {
                            border-radius: 50%;
                        }
                    }

                    .calendarDay {
                        display: table-cell;
                        height: @calendarDayCellSize;
                        width: @calendarDayCellSize;
                        text-align: center;
                        vertical-align: middle;
                        border-radius: 50%;

                        &:not(.calendarDayCurrent):not(.calendarDayMuted):not(.calendarTableItemDisabled):not(.calendarTableItemActive) {
                            .b1-text-main(@color-graphite-01);
                        }

                        &.calendarDayCurrent {
                            .b3-text-controls-medium(@color-graphite-01);

                            &.calendarTableItemActive {
                                color: @color-snowy;
                            }

                            &.calendarTableItemDisabled {
                                color: @color-asphalt-03;
                            }
                        }

                        &.calendarDayMarked::after {
                            position: absolute;
                            left: 50%;
                            bottom: 1px;
                            display: block;
                            margin-left: -@marked-dot-diameter / 2;
                            width: @marked-dot-diameter;
                            height: @marked-dot-diameter;
                            content: '';
                            border-radius: 50%;
                            background-color: @color-asphalt-02;
                        }

                        &.calendarTableItem {
                            &.calendarDayMuted {
                                .b1-text-main(@color-asphalt-03);
                            }
                        }
                    }

                    &:first-child .calendarDay.calendarDayMarked::after {
                        margin-left: -@marked-dot-diameter / 2 + @marked-dot-first-column-margin-compensation;
                    }
                }

                .calendarDayInRangeWrapper {
                    box-shadow: inset 0 -1px @color-snowy, inset 0 1px @color-snowy;
                    background-color: @color-asphalt-05;
                }

                .calendarLeftBorderDay {
                    box-shadow: inset 0 -1px @color-snowy, inset 0 1px @color-snowy;
                    background-color: @color-asphalt-05;
                    border-radius: 50% 0 0 50%;
                }

                .calendarRightBorderDay {
                    box-shadow: inset 0 -1px @color-snowy, inset 0 1px @color-snowy;
                    background-color: @color-asphalt-05;
                    border-radius: 0 50% 50% 0;
                }

                &:first-child {
                    .calendarDayWrapper {
                        height: @calendarDayCellSize + @calendarDayMargin;
                        padding-top: 0;
                    }

                    .calendarLeftBorderDay {
                        box-shadow: inset 0 -1px @color-snowy, inset 0 0 @color-snowy;
                        background-color: @color-asphalt-05;
                    }

                    .calendarRightBorderDay {
                        box-shadow: inset 0 -1px @color-snowy, inset 0 0 @color-snowy;
                        background-color: @color-asphalt-05;
                    }

                    .calendarDayInRangeWrapper {
                        box-shadow: inset 0 -1px @color-snowy, inset 0 0 @color-snowy;
                        background-color: @color-asphalt-05;
                    }
                }

                &:last-child {
                    .calendarDayWrapper {
                        height: @calendarDayCellSize + @calendarDayMargin;
                        padding-bottom: 0;

                        .calendarDay.calendarDayMarked::after {
                            bottom: 0;
                        }
                    }

                    .calendarLeftBorderDay {
                        box-shadow: inset 0 0 @color-snowy, inset 0 1px @color-snowy;
                        background-color: @color-asphalt-05;
                    }

                    .calendarRightBorderDay {
                        box-shadow: inset 0 0 @color-snowy, inset 0 1px @color-snowy;
                        background-color: @color-asphalt-05;
                    }

                    .calendarDayInRangeWrapper {
                        box-shadow: inset 0 0 @color-snowy, inset 0 1px @color-snowy;
                        background-color: @color-asphalt-05;
                    }
                }
            }
        }
    }
}
