@import '../../../../common/theme/default';

.wrapper {
    display: flex;
    padding-bottom: @metric-24;

    &:nth-child(odd) {
        flex-grow: 0;
    }

    &:nth-child(even) {
        flex-grow: 1;
    }

    .line {
        height: 2px;
        width: 100%;
        margin: 11px 8px;
        background-color: @color-asphalt-03;
        border-radius: 1px;

        &.error {
            background-color: @color-ruby-02;
        }

        &.warning {
            background-color: @color-pumpkin-02;
        }

        &.wait,
        &.success {
            background-color: @color-malachite-02;
        }
    }

    .xStepperStep {
        position: relative;
        outline: none;
        display: block;
        cursor: auto;

        .globalStep {
            cursor: pointer;
        }

        .xStepperStepLabel {
            position: absolute;
            top: @metric-32;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;

            .b4-text-info(@color-asphalt-01);

            &.active {
                color: @color-graphite-01;
            }
        }

        &.disabled {
            .globalStep {
                cursor: default;
            }

            .xStepperStepLabel {
                cursor: default;
            }
        }

        &:first-child .xStepperStepLabel {
            left: 0;
            right: auto;
            text-align: left;
        }

        &:last-child .xStepperStepLabel {
            left: auto;
            right: 0;
            text-align: right;
        }

        &:not(.disabled):hover .xStepperStepLabel {
            color: @color-graphite-01;
        }

        &:not(:first-child):not(:last-child) .xStepperStepLabel {
            left: 50%;
            transform: translateX(-50%);
        }

        &:not(.disabled):not(.focusedByClick):focus .xStepperStepLabel {
            color: @color-graphite-01;
            outline: 1px solid @color-sunny-01;
        }
    }
}
