@import 'src/styles/style';

@border-width: 1px;

.tag {
    border-radius: @radius-16;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;

    .tagContent {
        display: flex;
        align-items: center;
        border-radius: @radius-16;
        box-sizing: border-box;
    }

    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &,
    .text,
    .edit,
    .remove,
    .tagContent {
        .b4-text-info(@color-graphite-01);
    }

    .edit,
    .remove,
    .text {
        vertical-align: top;
    }

    .remove,
    .edit {
        display: inline-block;
        margin-left: @metric-4;
    }

    &.sm .tagContent {
        height: @metric-24;
        background-color: @color-asphalt-05;
        padding: @metric-4 @metric-8 @metric-4 @metric-12;
        border: none;
    }

    &.md .tagContent {
        height: @metric-32;
        background-color: @color-snowy;
        padding: @metric-8 - @border-width @metric-8 - @border-width @metric-8 - @border-width @metric-12 - @border-width;
        border: @border-width solid @color-asphalt-03;
    }
}
