@import 'src/styles/style';

.tagGroup {
    &.md {
        margin: -@metric-8 -@metric-12 / 2;

        & > .tag {
            margin: @metric-8 @metric-12 / 2;
        }
    }

    &.sm {
        margin: -@metric-4;

        & > .tag {
            margin: @metric-4;
        }
    }
}
