@import '../../../../common/theme/default';

.widgetBody {
    padding: @metric-8 @metric-32;

    &.widgetBodyWithoutFooter {
        padding-bottom: 24px;
        border-radius: 0 0 @metric-16 @metric-16;
    }
}

@media (max-width: @screen-sm-max) {
    .widgetBody {
        padding-left: 16px;
        padding-right: 16px;
    }
}
