@import 'src/styles/style';

.globalSmsInput {
    display: inline-block;
    position: relative;
    width: 100%;

    .input {
        padding-left: 33px;
        padding-right: 33px;
        background-color: @color-snowy;
        border-radius: @radius-16;
        box-sizing: border-box;
        text-align: center;

        &.SM {
            height: 28px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 14px;
        }

        &:focus {
            border-color: @color-graphite-01;
        }

        &.error {
            border-color: @color-ruby-02;
        }
    }

    .btnRefresh {
        position: absolute;
        left: 6px;
        outline: none;

        &.MD {
            top: 6px;
        }

        &.SM {
            top: 4px;
        }

        &.disabled {
            cursor: default;
        }

        .light {
            fill: @color-asphalt-02;
        }

        .dark {
            fill: @color-graphite-02;
        }
    }

    .btnSubmit {
        position: absolute;
        right: 6px;

        &.MD {
            top: 6px;
        }

        &.SM {
            top: 4px;
        }
    }
}
