@import 'src/styles/style';

.globalSmsInput {
    display: inline-block;
    position: relative;
    width: 100%;

    .input {
        padding-left: 33px;
        padding-right: 33px;
        border-radius: @radius-16;
        box-sizing: border-box;
        text-align: center;

        &.SM {
            height: 28px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 14px;
        }
    }

    .btnRefresh {
        position: absolute;
        left: 6px;
        outline: none;

        &.MD {
            top: 6px;
        }

        &.SM {
            top: 4px;
        }

        &.disabled {
            cursor: default;
        }

        .full {
            fill: var(--triplex-SMSInput-Refresh_Fill_Full);
        }

        .empty {
            fill: var(--triplex-SMSInput-Refresh_Fill_Empty);
        }
    }

    .btnSubmit {
        position: absolute;
        right: 6px;

        &.MD {
            top: 6px;
        }

        &.SM {
            top: 4px;
        }
    }
}
