@import 'src/desktop/common/theme/default.less';

.globalStep {
    .b3-text-controls-medium(@color-snowy);

    display: flex;
    flex-shrink: 0; //ie11-fix
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: @ufs-theme-size-icon-24;
    height: @ufs-theme-size-icon-24;
    user-select: none;
    cursor: default;
    box-shadow: @shadow-05;
    border: 2px solid transparent;
    border-radius: 50%;

    &.wait {
        color: @color-malachite-02;
        background-color: @color-snowy;
        border-color: @color-malachite-02;
    }

    &.disabled {
        color: @color-asphalt-02;
        background-color: @color-snowy;
    }

    &.success {
        color: @color-snowy;
        background-color: @color-malachite-02;
    }

    &.warning {
        color: @color-pumpkin-02;
        background-color: @color-snowy;
        border-color: @color-pumpkin-02;
    }

    &.error {
        color: @color-snowy;
        background-color: @color-ruby-02;
    }
}
