.tableBasicSettings {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #005E7F;
    padding: 10px;
    background: #fff;
}

.tableSettingsLink {
    margin-left: 16px;
    // Баг в FF, ссылка из 2 слов переносится на 2 строки.
    white-space: nowrap;
}

.tableSettingsDropdown {
    width: 320px;
}