.custom-wrapper {
    margin: -16px;
    padding: 16px;
}

.custom-mobile-wrapper {
    background: rgb(232, 232, 232);
}

.custom-mobile-wrapper-content {
    padding: 16px 0;
    background: white;
    max-width: 375px;
    margin: -16px auto;

    @media (max-width: 376px) {
        margin: -16px;
    }
}
