@import 'src/styles/style';

.sliderExtendedDot {
    outline: none;
    border: none;
    cursor: pointer;
    width: @metric-24;
    height: @metric-24;
    border-radius: @metric-12;
    background: var(--triplex-Slider-Dot_Background_Default);
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    z-index: @slider-dot-z-index;

    &:focus {
        box-shadow: inset 0 0 1px 1px var(--triplex-Accent-500);
    }

    &.focusedByClick {
        &:focus {
            box-shadow: none;
        }
    }

    &::after {
        content: '';
        width: @metric-8;
        height: @metric-8;
        border-radius: @metric-4;
        display: block;
        position: absolute;
        top: @metric-8;
        left: @metric-8;
        background: var(--triplex-Slider-Dot_Background_Default);
    }

    &::before {
        content: '';
        width: @metric-12;
        height: @metric-12;
        border-radius: 6px;
        display: block;
        position: absolute;
        top: 6px;
        left: 6px;
        background: var(--triplex-Slider-Dot_Inner_Background);
    }

    &.disabled {
        pointer-events: none;
        background: var(--triplex-Slider-Dot_Background_Disabled);

        &::after {
            background: var(--triplex-Slider-Dot_Background_Disabled);
        }
    }

    &:hover,
    &.dragByMouse {
        background: var(--triplex-Slider-Dot_Background_Hover);

        &::after {
            background: var(--triplex-Slider-Dot_Inner_Background);
        }
    }

    &:hover,
    &:focus {
        .sliderExtendedTooltipOverlay {
            visibility: visible;
        }
    }
}
