@import '../../../../common/theme/default';
@import '../../../../common/theme/variables/Link';

.link {
    cursor: pointer;
    padding: 0 2px;
    margin: -1px -3px;
    border: 1px solid transparent;

    &:focus {
        outline: none;

        &.focusVisible {
            border: 1px solid @color-sunny-01;
        }
    }
}

.sm {
    .font-size(@font-size-12);
}

.lg {
    .font-size(@font-size-14);
}

.text {
    position: relative;
    color: @color-sky-02;
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: @color-malachite-02;
        color: var(--link-color-hover);
    }

    &:active {
        color: @color-sky-01;
        color: var(--link-color-active);
    }
}

.line {
    color: @color-snowy;
    color: var(--line-color);
    text-decoration: underline;

    &:hover:not(:active) {
        color: @color-asphalt-01;
        color: var(--line-color-hover);
    }
}

.wordWithContent {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

.before :first-child {
    margin-right: @metric-4;
}

.after :last-child {
    margin-left: @metric-4;
}
