.button-dropdown-extended {
    .caretIcon {
        margin-left: 4px;
        transition: transform 0.25s ease-in-out;
    }

    button.active {
        background-color: #005e7f;

        .caretIcon {
            transform: rotate(-180deg);
        }
    }
}
