@import '../../../../common/theme/default';

// Иначе не перебивается стиль ButtonBase.less, если тот загрузится позже.
button.mobileButtonSecondary {
    .b2-text-controls-normal(@color-graphite-01);

    background-color: @color-snowy;
    padding: @metric-16;
    border-radius: @button-default-border-radius;
    box-shadow: inset 0 0 0 1px @color-asphalt-03;

    &.globalMobileButtonHover {
        color: @color-graphite-01;
        background-color: @color-asphalt-03;
    }

    &:disabled {
        background-color: @color-snowy;
        color: @color-asphalt-03;
        box-shadow: inset 0 0 0 1px @color-asphalt-03;
    }
}
