@import 'src/styles/style';

.label {
    display: inline-block;
    position: relative;
    min-width: @ufs-theme-size-icon-16;
    min-height: @ufs-theme-size-icon-16;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--triplex-Checkbox-Color_Default);
    cursor: pointer;

    &.nonempty {
        padding-left: 24px;
    }

    &.disabled {
        color: var(--triplex-Checkbox-Color_Disabled);
        cursor: default;
    }

    &[hidden] {
        display: none; // Screenshot tests
    }
}

.checkbox {
    margin: 0;
    opacity: 0;
}

.checkboxIcon {
    box-sizing: border-box;
    background-color: var(--triplex-Checkbox-Background_Default);
    border: 1px solid var(--triplex-Checkbox-BorderColor_Default);
    border-radius: @ufs-theme-base;
}

.checkmarkIcon {
    transform: scale(0);

    path {
        fill: var(--triplex-Checkbox-Checkmark_Fill_Default);
    }
}

.checkboxIcon,
.checkmarkIcon {
    pointer-events: none;
}

.checkbox,
.checkboxIcon,
.checkmarkIcon {
    position: absolute;
    width: @ufs-theme-size-icon-16;
    height: @ufs-theme-size-icon-16;
    left: 0;

    .nonempty & {
        top: 2px;
    }
}

.checkbox:enabled {
    cursor: pointer;
}

.checkbox:checked {
    + .checkboxIcon {
        background-color: var(--triplex-Checkbox-Background_Checked_Default);
        border-color: var(--triplex-Checkbox-BorderColor_Checked);
    }

    ~ .checkmarkIcon {
        transform: scale(1);
        transition: transform 200ms ease-out;
    }
}

.checkbox:hover + .checkboxIcon {
    border-color: var(--triplex-Checkbox-BorderColor_Hover);
}

.checkbox:disabled {
    + .checkboxIcon {
        background-color: var(--triplex-Checkbox-Background_Disabled);
        border-color: var(--triplex-Checkbox-BorderColor_Disabled);
    }

    ~ .checkmarkIcon path {
        fill: var(--triplex-Checkbox-Checkmark_Fill_Disabled);
    }
}

.checkbox[data-focus-visible]:focus + .checkboxIcon {
    border-color: var(--triplex-Checkbox-BorderColor_Focus);
}

.checkbox:checked:enabled:hover + .checkboxIcon {
    background-color: var(--triplex-Checkbox-Background_Checked_Hover);
}
