@import 'src/styles/style';

@indent: 12, 16, 20, 24, 28, 32;

.checkboxXGroup {
    display: inline-flex;
    flex-flow: row wrap;

    each(@indent, {
        &.indent-@{value} {
            margin-left: unit(-@value / 2, px);
            margin-right: unit(-@value / 2, px);

            .label {
                margin-left: unit(@value / 2, px);
                margin-right: unit(@value / 2, px);
            }
        }
    });
}
