@import '../../../../common/theme/default';

.multiselectHeader {
    padding: @metric-16 @metric-12 0 @metric-12;

    &::after {
        content: '';
        display: block;
        height: @metric-16;
        margin: 0 -@metric-12;
        border-bottom: 1px solid @color-asphalt-03;
    }
}
