@import '../../../../common/theme/default';

.spoiler {
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        justify-content: space-between;

        .icon {
            margin-left: @metric-4;

            &.animationRotate180 {
                transition: transform 0.25s ease-in-out;

                &.active {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    .content {
        margin-top: @ufs-theme-base*2;

        &.hidden {
            display: none;
        }
    }
}
