@import 'src/styles/style';

.skeleton {
    border-radius: @radius-16;
    flex-grow: 1;
    animation: skeleton-gradient-animation 3.4s cubic-bezier(0.59, 0, 0.45, 0.98) infinite;
    background-position: 0 0;
    background-size: 200%;

    &.light {
        background-image: var(--triplex-Skeleton-BackgroundImage_Light);
    }

    &.dark {
        background-image: var(--triplex-Skeleton-BackgroundImage_Dark);
    }
}

@keyframes skeleton-gradient-animation {
    0%,
    10% {
        background-position: 2% center;
    }

    40%,
    60% {
        background-position: 99% center;
    }

    90%,
    100% {
        background-position: 2% center;
    }
}
