@import 'src/styles/style';

.paginationSelect {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;

    .paginationSelectLabel {
        color: var(--triplex-TableBasic-PaginationBasic_Color);
    }

    .paginationSelectControl {
        margin-left: @metric-8;
    }
}
