@import 'src/styles/style';

.pageEllipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    margin: 0 4px;
    border-radius: 50%;
    color: var(--triplex-TableBasic-PaginationBasic_Color);
    cursor: default;
}
