@import 'src/styles/style';

.lightBoxControls {
    top: 0;
    top: var(--lightBox-screen-top);
    position: fixed;
    background-color: @color-graphite-02;
    height: @lightBox-controls-opened-height;
    z-index: @z-index-step + @z-index-step / 2;

    .lightBoxControlsSmall {
        display: block;
    }

    .lightBoxControlsBig {
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    .lightBoxControlsSmall:hover {
        cursor: pointer;
    }
}

.withKeyboardEvent {
    display: inline-block;
}

.withoutKeyboardEvent {
    display: none;
}

.lightBox.lightBoxSideOverlayActive,
.lightBox.lightBoxTopOverlayActive,
.lightBox.isLoading {
    .withKeyboardEvent {
        display: none;
    }

    .withoutKeyboardEvent {
        display: inline-block;
    }
}

@media (max-width: @screen-sm-max) {
    .LB-less-or-equal-media-point-0-no-hash {
        .lightBoxControls {
            height: @lightBox-controls-opened-height-SM;

            .lightBoxClose {
                // Перекрытие стилей из LightBoxAdaptive.less.
                top: 18px !important;
                right: 16px !important;
            }

            .lightBoxPrev {
                // Перекрытие стилей из LightBoxAdaptive.less.
                top: 16px !important;
                left: 16px !important;
            }

            .lightBoxNext {
                // Перекрытие стилей из LightBoxAdaptive.less.
                top: 16px !important;
                left: 56px !important;
            }
        }
    }
}
