@import 'src/styles/style';

@segment-z-index-step: 10;
@segment-default-z-index: 20;
@segment-selected-z-index: @segment-default-z-index - @segment-z-index-step;
@segment-focus-z-index: @segment-default-z-index + @segment-z-index-step;
@segment-hover-z-index: @segment-focus-z-index + @segment-z-index-step;

.segmentedControl {
    .font-regular();

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.segmentedControlSegment {
    .b2-text-controls-normal(@color-graphite-01);

    margin: 0;
    flex: 1;
    outline: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    padding: 0 7px;
    height: 32px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: @segment-default-z-index;

    &::-moz-focus-inner {
        border: none;
    }

    &:hover {
        z-index: @segment-hover-z-index;
    }

    &.selected {
        z-index: @segment-selected-z-index;
    }

    &:focus-visible {
        z-index: @segment-focus-z-index;
    }

    &:disabled {
        cursor: default;
    }

    &:first-child {
        border-radius: @metric-8 0 0 @metric-8;
    }

    &:last-child {
        border-radius: 0 @metric-8 @metric-8 0;
    }

    & + .segmentedControlSegment {
        margin-left: -1px;
    }
}

.segmentedControlSegmentContent {
    display: block;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.segmentedControlSingleSegment {
    &.selected {
        cursor: default;
    }
}

.segmentedControlGeneral {
    .segmentedControlSegment {
        background: var(--triplex-SegmentedControl-General_Background_Default);
        border-color: var(--triplex-SegmentedControl-General_BorderColor_Default);
        color: var(--triplex-SegmentedControl-General_Color_Default);

        &:hover {
            border-color: var(--triplex-SegmentedControl-General_BorderColor_Hover);
        }

        &.selected {
            font-weight: @font-weight-600;
            background: var(--triplex-SegmentedControl-General_Background_Selected_Default);
            border-color: var(--triplex-SegmentedControl-General_BorderColor_Selected_Default);
            color: var(--triplex-SegmentedControl-General_Color_Selected_Default);

            &:disabled {
                background: var(--triplex-SegmentedControl-General_Background_Selected_Disabled);
                border-color: var(--triplex-SegmentedControl-General_BorderColor_Selected_Disabled);
                color: var(--triplex-SegmentedControl-General_Color_Selected_Disabled);
            }
        }

        &:focus-visible {
            border-color: var(--triplex-SegmentedControl-General_BorderColor_Focus);
        }

        &:disabled {
            background: var(--triplex-SegmentedControl-General_Background_Disabled);
            border-color: var(--triplex-SegmentedControl-General_BorderColor_Disabled);
            color: var(--triplex-SegmentedControl-General_Color_Disabled);
        }

        &.segmentedControlMultipleSegment {
            &.selected:hover {
                background: var(--triplex-SegmentedControl-General_Multiple_Background_Selected_Hover);
                border-color: var(--triplex-SegmentedControl-General_Multiple_BorderColor_Selected_Hover);
            }

            &.selected:focus-visible {
                border-color: var(--triplex-SegmentedControl-General_BorderColor_Focus);
            }
        }
    }
}

.segmentedControlSecondary {
    .segmentedControlSegment {
        background: var(--triplex-SegmentedControl-Secondary_Background_Default);
        border-color: var(--triplex-SegmentedControl-Secondary_BorderColor_Default);
        color: var(--triplex-SegmentedControl-Secondary_Color_Default);

        &:hover {
            border-color: var(--triplex-SegmentedControl-Secondary_BorderColor_Hover);
        }

        &.selected {
            background: var(--triplex-SegmentedControl-Secondary_Background_Selected_Default);
            border-color: var(--triplex-SegmentedControl-Secondary_BorderColor_Selected_Default);
            color: var(--triplex-SegmentedControl-Secondary_Color_Selected_Default);

            &:disabled {
                background: var(--triplex-SegmentedControl-Secondary_Background_Selected_Disabled);
                border-color: var(--triplex-SegmentedControl-Secondary_BorderColor_Selected_Disabled);
                color: var(--triplex-SegmentedControl-Secondary_Color_Selected_Disabled)
            }
        }

        &:focus-visible {
            border-color: var(--triplex-SegmentedControl-Secondary_BorderColor_Focus);
        }

        &:disabled {
            background: var(--triplex-SegmentedControl-Secondary_Background_Disabled);
            border-color: var(--triplex-SegmentedControl-Secondary_BorderColor_Disabled);
            color: var(--triplex-SegmentedControl-Secondary_Color_Disabled);
        }
    }

    .segmentedControlMultipleSegment {
        &.selected:hover {
            background: var(--triplex-SegmentedControl-Secondary_Multiple_Background_Selected_Hover);
            border-color: var(--triplex-SegmentedControl-Secondary_Multiple_BorderColor_Selected_Hover);
        }

        &.selected:focus-visible {
            border-color: var(--triplex-SegmentedControl-Secondary_BorderColor_Focus);
        }
    }
}
