@import '../../../../common/theme/default.less';

.modalWindowClose {
    position: absolute;
    top: @metric-16;
}

.globalModalWindowCloseFixed + .modalWindowClose {
    position: fixed;
    left: 50vw;
}
