@import 'src/styles/style';

.formFieldLabel {
    position: absolute;
    top: 16px;
    left: 0;
    overflow: hidden;
    // line-height задает дочерний элемент.
    line-height: 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.floating {
        top: -8px;
        left: 12px;
    }
}

.formFieldLabelText {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--triplex-FormField-Label_Color_Default);

    .floating & {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 12px;
        background: var(--triplex-FormField-Label_Background);
    }

    .disabled & {
        color: var(--triplex-FormField-Label_Color_Disabled);
    }
}