@import 'src/styles/style';

.formFieldSelect {
    min-width: 72px;
}

.formFieldSelectTarget {
    height: 48px;
    padding: 16px 12px;
}

.formFieldSelectDropdownListItem {
    overflow: hidden;
    text-overflow: ellipsis;
}
