@import 'src/styles/style';

.formFieldInput {
    height: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    box-shadow: var(--triplex-FormField-Shadow_Default);

    &::placeholder {
        color: var(--triplex-FormField-Placeholder_Color);
    }

    &:focus {
        box-shadow: var(--triplex-FormField-Shadow_Focus);
    }

    &:disabled {
        box-shadow: var(--triplex-FormField-Shadow_Disabled);
    }

    &.error {
        box-shadow: var(--triplex-FormField-Shadow_Error);
    }
}
