@import 'src/styles/style';

.formFieldLabel {
    position: absolute;
    top: 16px;
    left: 0;
    overflow: hidden;
    // line-height задает дочерний элемент.
    line-height: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: top .3s  ease-out, left .3s  ease-out;
    // Иначе не кликается вся область Select.
    pointer-events: none;

    &.floating {
        top: -8px;
        left: 12px;
    }
}

.formFieldLabelText {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    color: var(--triplex-FormField-Label_Color_Default);
    transition-property:  font-size, padding-left, padding-right;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    padding-left: 0;
    padding-right: 0;

    .floating & {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 12px;
        background: var(--triplex-FormField-Label_Background);
    }

    .disabled & {
        color: var(--triplex-FormField-Label_Color_Disabled);
    }
}