@import 'src/styles/style';

.formFieldDescription {
    color: var(--triplex-FormField-Description_Color_Default);
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;

    &.error {
        color: var(--triplex-FormField-Description_Color_Error);
    }
}
