@import 'src/styles/style';

.tabsFolder {
    position: relative;
    background: var(--triplex-TabsFolder-Background);
    box-shadow: var(--triplex-TabsFolder-Shadow);

    .inner {
        padding-left: 32px;
        padding-right: 32px;
    }

    .content {
        padding: 0;
    }

    .tab {
        + .tab {
            margin-left: -1px;
        }

        &.disabled {
            pointer-events: none;
        }
    }

    .tabButton {
        padding: 7px 15px;
        box-sizing: border-box;
        white-space: nowrap;
        color: var(--triplex-TabsFolder-Tab_Color_Default);
        background: var(--triplex-TabsFolder-Tab_Background_Default);
        outline: none;
        border: 1px solid var(--triplex-TabsFolder-Tab_BorderColor);
        border-radius: 8px 8px 0 0;
        cursor: pointer;

        &:hover {
            background: var(--triplex-TabsFolder-Tab_Background_Hover);
        }

        &.selected {
            background: var(--triplex-TabsFolder-Tab_Background_Selected);
            border-bottom-color: var(--triplex-TabsFolder-Tab_Background_Selected);
        }

        &:focus {
            z-index: 1;
        }

        &:disabled > span {
            color: var(--triplex-TabsFolder-Tab_Color_Disabled);
        }
    }

    .buttonPrev,
    .buttonNext {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-clip: padding-box;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
        }
    }

    .buttonPrev {
        left: 0;
        background: var(--triplex-TabsFolder-ButtonPrev_Background);

        &:after {
            left: 0;
            background: var(--triplex-TabsFolder-ButtonPrev_Background);
        }
    }

    .buttonNext {
        right: 0;
        background: var(--triplex-TabsFolder-ButtonNext_Background);

        &:after {
            right: 0;
            background: var(--triplex-TabsFolder-ButtonNext_Background);
        }
    }
}
