@import 'src/styles/style';

.example-background {
    padding: 16px;
    border-radius: 8px;

    &.light {
        background: @color-asphalt-05;

        .triplex-theme-dark & {
            background: @color-graphite-01;
        }
    }

    &.dark {
        background: @color-graphite-01;

        .triplex-theme-dark & {
            background: @color-asphalt-05;
        }
    }
}
