@import 'src/styles/style';

.example-background {
    padding: 16px;
    border-radius: 8px;

    &.light {
        background: @color-asphalt-05;
    }

    &.dark {
        background: @color-graphite-01;
    }
}
