@import 'src/styles/style';

.marker {
    width: @metric-8;
    height: @metric-8;
    border-radius: 50%;

    &.markerSuccess {
        background: var(--triplex-Marker-Background_Success);
    }

    &.markerError {
        background: var(--triplex-Marker-Background_Error);
    }

    &.markerWarning {
        background: var(--triplex-Marker-Background_Warning);
    }

    &.markerWaiting {
        background: var(--triplex-Marker-Background_Waiting);
    }
}
