@import 'src/styles/style';

.maskedInputWrapper {
    position: relative;

    .maskedInputPlaceholder {
        position: absolute;
        left: 0;
        top: 0;

        &::placeholder {
            // Переопределяет opacity: 0 в FormFieldInput.less.
            opacity: 1;
        }
    }
}

.maskedInput {
    display: block;
    position: relative;
    background: none !important;
}



.grouped {
    flex: 1;

    &:not(:first-child) {
        margin-left: -1px;
    }

    .left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .intermediate {
        border-radius: 0;
    }

    .right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .maskedInput.error {
        z-index: 1;
    }

    .maskedInput:focus {
        z-index: 2;
    }
}
