@import '../../../../common/theme/default';

.action {
    box-shadow: 0 1px 3px 0 ~'@{color-graphite-01}40';
    cursor: pointer;

    &.selected {
        border-color: @color-malachite-02;
        box-shadow: none;
    }

    &:hover {
        box-shadow: 0 2px 7px 0 ~'@{color-graphite-01}40';
    }

    &:focus {
        outline: none;

        &.focusVisible {
            border-color: @color-sunny-01;
        }
    }
}
