@import '../../../../common/theme/default';

.card {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid @color-asphalt-03;
    overflow: hidden;

    &.roundingMD {
        border-radius: 16px;
    }

    &.roundingSM {
        border-radius: 8px;
    }

    .cardMedia {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cardContent {
        &.paddingMD {
            padding: 23px;

            &:not(:first-child) {
                padding-top: 24px;
            }

            &:not(:last-child) {
                padding-bottom: 24px;
            }
        }

        &.paddingSM {
            padding: 15px;

            &:not(:first-child) {
                padding-top: 16px;
            }

            &:not(:last-child) {
                padding-bottom: 16px;
            }
        }

        .cardContentHeader {
            margin-bottom: 16px;
        }

        .cardContentFooter {
            margin-top: 16px;
        }
    }
}
