// Ширина модального окна размера sm.
@ufs-theme-modal-window-sm-width: 480px;

// Ширина модального окна размера md.
@ufs-theme-modal-window-md-width: 600px;

// Ширина модального окна размера lg.
@ufs-theme-modal-window-lg-width: 800px;

// Высота тела модального окна sm.
@ufs-theme-modal-window-sm-body-height: 200px;

// Высота тела модального окна md.
@ufs-theme-modal-window-md-body-height: 290px;

// Высота тела модального окна lg.
@ufs-theme-modal-window-lg-body-height: 440px;

// Отступ модального окна сверху.
@ufs-theme-modal-window-top: 80px;

// Отступ модального окна снизу.
@ufs-theme-modal-window-bottom: @metric-24;

// Ширина крестика.
@modal-close-icon-width: 20px;
