@import 'src/common/styles/theme/default';

@page-body-z-index: @z-index-step;
@page-header-sticky-z-index: @page-body-z-index + @z-index-step;
@page-footer-sticky-z-index: @page-body-z-index + @z-index-step;
