@import 'src/styles/style';

.alertContext {
    display: flex;
    .font-size(@font-size-12);

    > svg {
        flex-shrink: 0;
    }

    .alertContextText {
        margin-left: @metric-4;
    }

    &.alertTypeError .alertContextText {
        color: var(--triplex-AlertContext-Error_Color);
    }

    &.alertTypeInfo .alertContextText {
        color: var(--triplex-AlertContext-Info_Color);
    }
    &.alertTypeWarning .alertContextText {
        color: var(--triplex-AlertContext-Warning_Color);
    }
    &.alertTypeSystem .alertContextText {
        color: var(--triplex-AlertContext-System_Color);
    }
}
