@import '../../../../common/theme/default';

.button {
    position: relative;
    margin: 0; // Фиксим отступ в Safari.
    outline: none;
    border-style: solid;
    background-clip: padding-box;
    cursor: pointer;

    &::-moz-focus-inner {
        border: none;
        padding: 0;
    }

    &[data-focus-visible]:focus {
        border-color: @ufs-theme-button-border-color-focus;
    }

    &:disabled {
        cursor: default;

        * {
            pointer-events: none;
        }
    }

    & + .button,
    & + .buttonDropdown {
        &:not(.block) {
            margin-left: @ufs-theme-button-siblings-margin-left;
        }
    }

    .content {
        display: flex; // button pointer-events ie fix
        position: relative; // button active offset ie fix
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    &.block {
        display: block;
        width: 100%;
    }

    &.loading {
        pointer-events: none;

        .content {
            visibility: hidden;
        }
    }

    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
