@import '../../../../common/theme/default';

.globalButtonDropdownExtended {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 0;

    .buttonDropdownExtendedBlock {
        padding: @metric-4;
        margin-top: @metric-4;
        right: 0;
    }
}
