@import 'src/styles/style';

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.underlineStrikethrough {
    text-decoration: underline line-through;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}
