@import 'src/styles/style';

.b1 {
    font-size: 14px;

    &.normal {
        line-height: 16px;
    }

    &.extra {
        line-height: 20px;
    }
}

.b2 {
    font-size: 12px;

    &.normal {
        line-height: 16px;
    }

    &.extra {
        line-height: 18px;
    }
}

.b3 {
    font-size: 10px;

    &.normal {
        line-height: 10px;
    }

    &.extra {
        line-height: 12px;
    }
}
