@import 'src/styles/style';

.text {
    &.general {
        color: var(--triplex-Text-General_Color);
    }

    &.secondary {
        color: var(--triplex-Text-Secondary_Color);
    }

    &.success {
        color: var(--triplex-Text-Success_Color);
    }

    &.warning {
        color: var(--triplex-Text-Warning_Color);
    }

    &.danger {
        color: var(--triplex-Text-Danger_Color);
    }

    &.disabled {
        color: var(--triplex-Text-Disabled_Color);
        user-select: none;
    }
}

.b1 {
    font-size: 14px;

    &.normal {
        line-height: 16px;
    }

    &.extra {
        line-height: 20px;
    }
}

.b2 {
    font-size: 12px;

    &.normal {
        line-height: 16px;
    }

    &.extra {
        line-height: 18px;
    }
}

.b3 {
    font-size: 10px;

    &.normal {
        line-height: 10px;
    }

    &.extra {
        line-height: 12px;
    }
}
