@import 'src/styles/style';

.title {
    &.general {
        color: var(--triplex-Title-General_Color);
    }

    &.secondary {
        color: var(--triplex-Title-Secondary_Color);
    }

    &.success {
        color: var(--triplex-Title-Success_Color);
    }

    &.warning {
        color: var(--triplex-Title-Warning_Color);
    }

    &.danger {
        color: var(--triplex-Title-Danger_Color);
    }

    &.disabled {
        color: var(--triplex-Title-Disabled_Color);
        user-select: none;
    }
}

.h1,
.h2,
.h3,
.h4 {
    margin: 0;
}

.h1 {
    font-size: 30px;
    line-height: 40px;
}

.h2 {
    font-size: 21px;
    line-height: 32px;
}

.h3 {
    font-size: 18px;
    line-height: 24px;
}

.h4 {
    font-size: 16px;
    line-height: 24px;
}
