@import '../../../../common/theme/default';

.selectDropdown {
    &.topOrientation {
        top: auto;
        bottom: 36px;
    }

    .selectDropdownListItem {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
