@import 'src/styles/style';

.filterPanel {
    padding: @metric-24;
    background: var(--triplex-TableBasic-FilterPanel_Background);
    border-radius: @metric-8 @metric-8 0 0;
    box-shadow: 0 @metric-8 var(--triplex-TableBasic-FilterPanel_Background);
}
