@import 'src/styles/style';

.paginationWrapper {
    position: relative;
    padding: @metric-24 0;
    pointer-events: none;

    .paginationSelectBlock {
        position: absolute;
        display: flex;
        align-items: center;

        .paginationSelectText {
            .b1-text-main(@color-graphite-01);
            color: var(--triplex-TableBasic-PaginationBasic_Color);
        }

        .paginationSelect {
            margin-left: @metric-8;
            pointer-events: auto;
        }
    }

    .paginationIteratorBlock {
        display: flex;
        justify-content: center;
        align-items: center;

        &.hidden {
            visibility: hidden;
        }

        .paginationIteratorButton {
            display: flex;
            pointer-events: auto;

            circle {
                fill: var(--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Default);
            }

            path {
                fill: var(--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Default);
            }

            :hover {
                circle {
                    fill: var(--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Hover);
                }

                path {
                    fill: var(--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Hover);
                }
            }

            :disabled {
                circle {
                    fill: var(--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Disabled);
                }

                path {
                    fill: var(--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Disabled);
                }
            }
        }

        .pageNumber {
            margin: 0 @metric-24;
            .b1-text-main(@color-graphite-01);
            color: var(--triplex-TableBasic-PaginationBasic_Color);
        }
    }
}

@media (max-width: @screen-sm-max) {
    .paginationWrapper {
        display: flex;

        .paginationSelectBlock {
            position: relative;
        }

        .paginationIteratorBlock {
            margin-left: 12px;
        }
    }
}
