@import 'src/styles/style';

@borderVerticalSpacing: @metric-16;

.keyframes-fadeIn();

.tableBasic {
    position: relative;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 @metric-16;
        margin-top: -@metric-16;
        margin-bottom: -@metric-16;

        th,
        td {
            &.alignLeft {
                text-align: left;
            }

            &.alignRight {
                text-align: right;
            }

            &.alignCenter {
                text-align: center;
            }

            &.verticalAlignBaseline {
                vertical-align: baseline;
            }

            &.verticalAlignSub {
                vertical-align: sub;
            }

            &.verticalAlignSuper {
                vertical-align: super;
            }

            &.verticalAlignTextTop {
                vertical-align: text-top;
            }

            &.verticalAlignTextBottom {
                vertical-align: text-bottom;
            }

            &.verticalAlignMiddle {
                vertical-align: middle;
            }

            &.verticalAlignTop {
                vertical-align: top;
            }

            &.verticalAlignBottom {
                vertical-align: bottom;
            }
        }

        > thead > tr {
            height: @ufs-theme-size-icon-16 + @metric-16 * 2;

            > th {
                background-color: @color-asphalt-04;
                padding: @metric-16 @metric-12;
                box-sizing: border-box;
                .b4-text-info(@color-graphite-01);

                // Фикс бага движка IE11. Иначе по бокам от колонки появляется белая линия.
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    box-shadow: inset -1px 0 0 @color-asphalt-04, inset 1px 0 0 @color-asphalt-04;
                }

                &:first-child {
                    border-top-left-radius: @radius-8;
                }

                &:last-child {
                    border-top-right-radius: @radius-8;
                }

                .thBlock {
                    display: inline-flex;
                    vertical-align: top;

                    &.order {
                        cursor: pointer;

                        .orderButton {
                            display: flex;
                            visibility: hidden;

                            &.alignLeft {
                                margin-right: @metric-8;
                            }

                            &.alignRight {
                                margin-left: @metric-8;
                            }

                            &.sorted {
                                visibility: visible;
                            }
                        }

                        &:hover {
                            .orderButton {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    vertical-align: top;
                    box-sizing: border-box;
                    .b1-text-main(@color-graphite-01);

                    &:first-child {
                        border-radius: @radius-8 0 0 @radius-8;
                    }

                    &:last-child {
                        border-radius: 0 @radius-8 @radius-8 0;
                    }

                    &.textType {
                        padding: @metric-12;
                    }

                    &.componentsType {
                        padding: @metric-8 @metric-12;
                    }

                    &.checkboxType {
                        padding: @metric-12 + 2px @metric-12 @metric-12;
                    }
                }

                &.selected > td {
                    background-color: @color-asphalt-04;

                    // Фикс бага движка IE11. Иначе по бокам от колонки появляется белая линия.
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        box-shadow: inset -1px 0 0 @color-asphalt-04, inset 1px 0 0 @color-asphalt-04;
                    }
                }
            }

            &.clickable > tr {
                cursor: pointer;
            }

            &.hoverable > tr:hover > td {
                background-color: @color-asphalt-05;

                // Фикс бага движка IE11. Иначе по бокам от колонки появляется белая линия.
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    box-shadow: inset -1px 0 0 @color-asphalt-05, inset 1px 0 0 @color-asphalt-05;
                }
            }
        }
    }

    .footerEmptyData {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: @metric-64 0;
    }

    .spinnerWrapper {
        position: absolute;
        top: @metric-16;
        left: 0;
        width: 100%;
        height: calc(100% - @metric-16);
    }

    .overlayCover {
        position: absolute;
        top: @metric-16;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: @ufs-theme-overlay-white-background-color;
        animation: fadeIn 0.3s;
    }
}
