@import '../../../../common/theme/default';

@ufs-theme-currency-select-width: 86px;

.amountCurrencySelect {
    display: flex;
    align-items: center;

    input {
        padding-right: @metric-12;
        border-radius: @ufs-theme-input-border-radius 0 0 @ufs-theme-input-border-radius;
        text-align: right;
    }

    .currencySelectExtendedTarget {
        border-radius: 0 @ufs-theme-input-border-radius @ufs-theme-input-border-radius 0;
    }

    .currencySelectExtendedTarget:focus .currencyIcon .service-fill,
    .currencySelectExtendedTargetOpened .currencyIcon .service-fill {
        fill: @color-asphalt-01;
    }

    .currencySelectExtended {
        position: relative;
        margin-left: -1px;
        flex: 0 0 @ufs-theme-currency-select-width;
        max-width: @ufs-theme-currency-select-width; // ie fix
    }

    .currencySelectExtendedDropdownListItem {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    input:focus,
    .currencySelectExtended:focus {
        z-index: 2;
    }

    .currencyIcon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
