@import 'src/desktop/common/theme/default';

.stepper {
    padding-left: 32px;
    padding-right: 32px;
}

.stepperCarousel {
    margin-left: -32px;
    margin-right: -32px;
    position: relative;

    .buttonPrev,
    .buttonNext {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-clip: padding-box;
    }
}

.buttonPrev {
    left: 0;
    background-image: linear-gradient(to right, @color-snowy 39.06%, transparent);
}

.buttonNext {
    right: 0;
    background-image: linear-gradient(to left, @color-snowy 39.06%, transparent);
}

@media (max-width: @screen-sm-max) {
    .stepper {
        padding-left: 16px;
        padding-right: 16px;
    }

    .buttonPrev,
    .buttonNext {
        display: none;
    }
}
