@import 'src/desktop/common/theme/default';

@stepper-progress-height: 2px;

.stepperProgress {
    width: 100%;
    height: @stepper-progress-height;
    position: absolute;
    top: @metric-64 - @stepper-progress-height;
    left: 0;
    background-color: @color-asphalt-04;
}

.progressBar {
    height: 100%;
    max-width: 100%;
    background-color: @color-malachite-02;
}