@import (reference) '../../../../../common/theme/default.less';

@table-filter-height: 32px;

.tableFilterPanelLinks {
    display: flex;
    height: @table-filter-height;
    z-index: 1;
    padding-right: @metric-24;
    margin-left: auto;

    > a:not(:first-child) {
        margin-left: @metric-16;
    }
}
