.listMasterFooter {
  padding: 16px;
  background: var(--triplex-ListMaster-Footer_Background);
  color: var(--triplex-ListMaster-Footer_Color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.sticky {
    position: sticky;
    bottom: 0;
  }
}

.listMasterFooterDescription {
  padding-right: 16px;
}

.listMasterFooterControls {
  white-space: nowrap;
}