@import 'src/styles/style';

.link {
    cursor: pointer;
    padding: 0 2px;
    margin: -1px -3px;
    border: 1px solid var(--triplex-Link-BorderColor_Default);

    &:focus {
        outline: none;

        &.focusVisible {
            border-color: var(--triplex-Link-BorderColor_Focus);
        }
    }
}

.sm {
    .font-size(@font-size-12);
}

.lg {
    .font-size(@font-size-14);
}

.text {
    position: relative;
    color: var(--triplex-Link-Text_Color_Default);
    text-decoration: none;

    &:hover {
        color: var(--triplex-Link-Text_Color_Hover);
    }

    &:active {
        color: var(--triplex-Link-Text_Color_Active);
    }
}

.line {
    color: var(--triplex-Link-Line_Color_Default);
    text-decoration: underline;

    &:hover {
        color: var(--triplex-Link-Line_Color_Hover)
    }

    &:active {
        color: var(--triplex-Link-Line_Color_Active);
    }
}

.wordWithContent {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

.before :first-child {
    margin-right: @metric-4;
}

.after :last-child {
    margin-left: @metric-4;
}
