@import 'src/styles/style';

.page {
    height: 100%;
    color: @ufs-theme-default-text-color;
    display: flex;
    flex-grow: 1; // Для IE11
    flex-direction: column;
}

.bodyPage {
    flex-grow: 1;
}
