@import 'src/styles/style';

.documentNumberEdit {
    .label {
        margin-right: @metric-8;
    }

    .buttonEdit {
        .font-regular();

        font-size: inherit;
        border-radius: 0;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        .buttonEditInner {
            position: relative;
            color: var(--triplex-Link-Text_Color_Default);
            text-decoration: none;
            padding: 0 2px;
            margin: 0 -2px;
            border: 1px solid transparent;
            white-space: nowrap;

            // В IE11 не показывается боковая тень на :focus.
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                margin: 0;
            }
        }

        &:focus {
            outline: none;

            .buttonEditInner {
                border: 1px solid var(--triplex-Link-BorderColor_Focus);
            }
        }

        &:hover {
            .buttonEditInner {
                color: var(--triplex-Link-Text_Color_Hover);
            }
        }

        &:active {
            .buttonEditInner {
                color: var(--triplex-Link-Text_Color_Active);
            }
        }
    }

    .inputEditWrapper {
        width: 64px;
        display: inline-block;
    }
}
