@import 'src/styles/style';

.documentNumberEdit {
    .label {
        display: inline-block;
        margin-right: @metric-8;
    }

    .buttonEdit {
        padding: 0;
        .font-regular();
        font-size: 14px;
        line-height: 20px;
        background: none;
        border: none;
        cursor: pointer;

        .buttonEditInner {
            position: relative;
            color: var(--triplex-Link-Text_Color_Default);
            text-decoration: none;
            padding: 0 2px;
            margin: 0 -2px;
            border: 1px solid transparent;
            white-space: nowrap;
        }

        &:focus-visible {
            outline: none;

            .buttonEditInner {
                border: 1px solid var(--triplex-Link-BorderColor_Focus);
            }
        }

        &:hover {
            .buttonEditInner {
                color: var(--triplex-Link-Text_Color_Hover);
            }
        }

        &:active {
            .buttonEditInner {
                color: var(--triplex-Link-Text_Color_Active);
            }
        }
    }

    .inputEditWrapper {
        width: 64px;
        display: inline-block;
    }
}
