.styleguide-react-component-header,
.styleguide-react-component-docs,
.styleguide-react-component-tab-buttons {
    margin-bottom: 20px;
}

.styleguide-react-component-tab-body {
    max-width: 100%;
    overflow-x: auto;
}
