@import '../../../../common/theme/default';

.multiselectContentWrapper {
    padding: @metric-4;

    .multiselectContent {
        box-sizing: border-box;
        height: 196px;
        padding: @metric-8;
        overflow-y: auto;
        outline: none;
    }
}
