@import 'src/styles/style';

.selectExtendedTarget {
    .b2-text-controls-normal(@color-graphite-01);

    color: var(--triplex-Select-Color_Default);
    position: relative;
    background: var(--triplex-Select-Background_Default);
    border: 1px solid var(--triplex-Select-Border_Color_Default);
    border-radius: @ufs-theme-input-border-radius;
    box-sizing: border-box;
    height: @ufs-theme-input-height;
    padding: 0 35px 0 @ufs-theme-input-padding-horizontal;
    align-items: center;
    outline: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .label {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .caretIcon,
    .spinnerIcon {
        position: absolute;
        top: 0;
        right: @metric-12 - 1;
        bottom: 0;
        margin: auto;
        pointer-events: none;
    }

    .caretIcon {
        transition: transform 0.3s ease;
        transform: rotate(0);

        path {
            fill: var(--triplex-Select-Caret_Color_Default);
        }
    }

    &.placeholder {
        color: var(--triplex-Select-Color_Placeholder);
    }

    &.selectOpened,
    &:focus {
        border-color: var(--triplex-Select-Border_Color_Focus);
    }

    &.disabled,
    &.disabled:active,
    &.disabled:focus {
        color: var(--triplex-Select-Color_Disabled);
        border-color: var(--triplex-Select-Border_Color_Disabled);
        background: var(--triplex-Select-Background_Disabled);
        user-select: none;
        pointer-events: none;

        path {
            fill: var(--triplex-Select-Caret_Color_Disabled);
        }
    }

    &.error {
        border-color: var(--triplex-Select-Border_Color_Error);
    }

    &.selectOpened {
        .caretIcon {
            transform: rotate(180deg);
        }
    }
}

.grouped .selectOpened {
    z-index: 1;
}
