@import 'src/styles/style';

.uploadZoneContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadZoneContainerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
