@import 'src/styles/style';

.tip {
    width: 0;
    height: 0;

    &.down {
        border-top: solid var(--triplex-Tooltip-Background);
        border-right: solid transparent;
        border-left: solid transparent;
    }

    &.up {
        border-bottom: solid var(--triplex-Tooltip-Background);
        border-right: solid transparent;
        border-left: solid transparent;
    }

    &.left {
        border-right: solid var(--triplex-Tooltip-Background);
        border-top: solid transparent;
        border-bottom: solid transparent;
    }

    &.right {
        border-left: solid var(--triplex-Tooltip-Background);
        border-top: solid transparent;
        border-bottom: solid transparent;
    }
}
