@import 'src/styles/style';

.tip {
    width: 0;
    height: 0;

    &.down {
        border-top: solid @color-graphite-01;
        border-right: solid transparent;
        border-left: solid transparent;
    }

    &.up {
        border-bottom: solid @color-graphite-01;
        border-right: solid transparent;
        border-left: solid transparent;
    }

    &.left {
        border-right: solid @color-graphite-01;
        border-top: solid transparent;
        border-bottom: solid transparent;
    }

    &.right {
        border-left: solid @color-graphite-01;
        border-top: solid transparent;
        border-bottom: solid transparent;
    }

    &.ieHack {
        margin: -0.5px;
    }
}
