.tooltipMobile {
    .tooltipBody {
        text-align: left;
    }

    .tooltipXButton {
        position: absolute;
        right: 16px;
        top: 16px;
    }
}

.tooltipMobileContent {
    padding: 16px;

    .headerless & {
        padding-right: 40px;
    }
}
