.caret-icon {
    left: 4px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.caret-icon.opened {
    transform: rotate(-180deg);
}

.buttonRowWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

    & button,
    & div {
        margin-left: 0px !important;
    }
}

.buttonColumnWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}