@import 'src/desktop/common/theme/default';

@segment-z-index-step: 10;
@segment-default-z-index: 20;
@segment-selected-z-index: @segment-default-z-index - @segment-z-index-step;
@segment-focus-z-index: @segment-default-z-index + @segment-z-index-step;
@segment-hover-z-index: @segment-focus-z-index + @segment-z-index-step;

.segmentedControl {
    .font-regular();

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.segmentedControlSegment {
    .b2-text-controls-normal(@color-graphite-01);

    margin: 0;
    flex: 1;
    outline: none;
    background: @color-snowy;
    cursor: pointer;
    border: 1px solid @color-asphalt-03;
    padding: 7px 23px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: @segment-default-z-index;

    &::-moz-focus-inner {
        border: none;
    }

    &:disabled {
        cursor: default;
        color: @color-asphalt-03;
        pointer-events: none;
    }

    &:hover {
        border: 1px solid @color-graphite-01;
        z-index: @segment-hover-z-index;
    }

    &[data-focus-visible]:focus {
        border: 1px solid @color-sunny-01;
        z-index: @segment-focus-z-index;
    }

    &.selected,
    &.selected:hover {
        .b3-text-controls-medium(@color-graphite-01);

        z-index: @segment-selected-z-index;
        background: @color-malachite-02;
        border: 1px solid @color-malachite-02;
        color: @color-snowy;

        &:disabled {
            background: @color-malachite-04;
            border: 1px solid @color-malachite-04;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        &[data-focus-visible]:focus {
            border: 1px solid @color-sunny-01;
            z-index: @segment-focus-z-index;
        }
    }

    .segmentedControlSegmentContent {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    &:first-child {
        border-radius: @metric-8 0 0 @metric-8;
    }

    &:last-child {
        border-radius: 0 @metric-8 @metric-8 0;
    }

    & + .segmentedControlSegment {
        margin-left: -1px;
    }

    &.segmentedControlSingleSegment {
        &.selected:hover {
            cursor: default;
        }
    }

    &.segmentedControlMultipleSegment {
        &.selected:hover {
            background: @color-malachite-03;
            border: 1px solid @color-malachite-03;

            &[data-focus-visible]:focus {
                border: 1px solid @color-sunny-01;
            }
        }
    }
}
