@import 'src/styles/style';

.dropdown {
    position: fixed;
    z-index: @z-index-dropdown;
    box-sizing: border-box;
    box-shadow: var(--triplex-Dropdown-Shadow);
    background-color: var(--triplex-Dropdown-Background);
    border-radius: @radius-8;
}
