@import 'src/styles/style';

@ufs-theme-dropdown-item-padding-vert: 6px;

.dropdownList {
    max-height: 196px;
    padding: 4px;
    overflow: auto;
}

.dropdownListItem {
    .b2-text-controls-normal(@color-graphite-01);

    color: var(--triplex-DropdownList-Color);
    background: var(--triplex-DropdownList-Background_Default);
    position: relative;
    outline: none;
    padding: @ufs-theme-dropdown-item-padding-vert @metric-8;
    border-radius: @radius-8;
    white-space: nowrap;

    + .dropdownListItem {
        margin-top: 2px;
    }

    &.active {
        background: var(--triplex-DropdownList-Background_Active);
        cursor: pointer;
    }

    &.selected {
        background: var(--triplex-DropdownList-Background_Selected);
        cursor: default;
    }
}
