.tabs-extended-content {
    background-color: #FFFFFF;
    border-radius: 16px;

    .styleguidist-dark-theme & {
        background: #2D2D30;
    }
}

.tabs-extended-dropdown-item {
    &.marked::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 8px;
        height: 8px;
        background: #FF9900;
        border-radius: 4px;
    }
}

.tabs-extended-tab-button {
    &.marked::after {
        content: '';
        position: absolute;
        right: 4px;
        top: 4px;
        width: 8px;
        height: 8px;
        background: #FF9900;
        border-radius: 4px;
    }
}
