@import '../../../../common/theme/default';

.gap {
    overflow: hidden;
}

@sizes: 4, 8, 12, 16, 24, 32, 64, 128;

each(@sizes, {
    .gap[data-gap-size='@{value}'] {
        height: ~'@{value}px';
    }
});
