@import ~'@sberbusiness/core-styles/colors.less';

:root {
    --link-color: @color-sky-02;
    --link-color-hover: @color-malachite-02;
    --link-color-active: @color-sky-01;
    --line-color: @color-snowy;
    --line-color-hover: @color-asphalt-01;
    --line-color-active: @color-snowy;
}

.triplex-theme-dark {
    --link-color: @color-sky-03;
    --link-color-hover: @color-malachite-03;
    --link-color-active: @color-sky-02;
    --line-color: @color-graphite-01;
    --line-color-hover: @color-asphalt-01;
    --line-color-active: @color-graphite-01;
}
