.styleguide-heading {
    margin: 0;
    color: #2E2F36;
}

.heading-level-1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
}

.heading-level-2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.heading-level-3 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}
