@import 'src/styles/style';

@alert-list-marker-width: @metric-12;
@border-width: 1px;

.alertProcess {
    display: flex;
    padding: @metric-16 - @border-width;
    border-width: @border-width;
    border-style: solid;
    border-radius: @radius-8;
    .b1-text-main(@color-graphite-01);
    color: var(--triplex-AlertProcess-Color);

    .themeIcon {
        padding-top: 2px;
        box-sizing: border-box;
        height: 20px;
        width: 20px;
    }

    &.alertTypeError {
        background: var(--triplex-AlertProcess-Error_Background);
        border-color: var(--triplex-AlertProcess-Error_Border_Color);
    }

    &.alertTypeInfo {
        background: var(--triplex-AlertProcess-Info_Background);
        border-color: var(--triplex-AlertProcess-Info_Border_Color);
    }

    &.alertTypeWarning {
        background: var(--triplex-AlertProcess-Warning_Background);
        border-color: var(--triplex-AlertProcess-Warning_Border_Color);
    }

    &.alertTypeFeature {
        background: var(--triplex-AlertProcess-Feature_Background);
        border-color: var(--triplex-AlertProcess-Feature_Border_Color);

        .themeIcon {
            padding-top: 0;
        }
    }

    .alertProcessContentBlock {
        flex: 1;
        margin-left: @metric-8;

        .alertProcessContentHeader {
            margin-bottom: @metric-8;
            .font-medium();
            .font-size-inline(@font-size-14);

            text-transform: none;
            color: var(--triplex-AlertProcess-Color);
        }
    }

    .closeButton {
        margin-left: @metric-8;
        height: @metric-16;
    }
}
