@import 'src/desktop/common/theme/default';

.radioYGroup {
    display: inline-flex;
    flex-flow: column wrap;
    max-width: 100%; // IE11 fix

    .label + .label {
        margin-top: @metric-16;
    }
}
