.styleguide-table {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-collapse: collapse;
    margin-bottom: 32px;
}

.styleguide-table-head {
    border-bottom: 1px solid #F2F4F7;
}

.styleguide-table-header {
    padding: 0 0 11px 0;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.styleguide-table-data {
    padding: 12px 12px 12px 0;
    vertical-align: top;
}
