.components-list-renderer {
    margin: 0;
    padding: 0 0 0 16px;
    font-size: 15px;

    .components-list-renderer-item {
        list-style: none;
        margin: 8px 0;

        .link-selected {
            font-weight: bold !important;
        }

        .heading {
            .icon-caret {
                cursor: pointer;
                width: 14px;
                height: 14px;
                position: relative;
                top: 2px;
                margin-right: 2px;

                &.disabled {
                    cursor: default;
                    opacity: 0.3;
                }

                .caretdown-fill {
                    fill: #767676;
                }
          }

          &.opened .icon-caret {
            transform: rotate(-180deg);
          }
        }
    }
}
