@import 'src/styles/style';

@sidebar-width: 420px;
// Значения, необходимые для перекрытия всех компонентов при отображении в мобильной версии
@styleguide-mobile-header-z-index: 10300;
@styleguide-mobile-sidebar-z-index: 10350;

// Значение для отображения в десктоп версии
@styleguide-desktop-sidebar-z-index: 30;

.styleguide {
    position: relative;
    max-width: 940px;
    min-height: calc(100vh - 112px); // 40px + 72px = 112px
    margin: auto;

    &.has-sidebar {
        margin-left: @sidebar-width;
    }
}

.styleguide-content {
    padding: 30px 42px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
}

.styleguide-sidebar {
    height: 100%;
    max-width: @sidebar-width;
    position: fixed;
    z-index: @styleguide-desktop-sidebar-z-index;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #F2F4F7;

    &.collapsed {
        display: none;
    }
}

.styleguide-sidebar-logo {
    padding: 90px 110px 40px;
}

.styleguide-sidebar-burger {
    height: 32px;
    width: 32px;
    padding: 0;
    position: fixed;
    top: 8px;
    left: 16px;
    border: none;
    border-radius: 4px;
    background-color: transparent;

    &.expanded {
        transform: rotateZ(180deg);
    }
}

.styleguide-sidebar-burger-slice {
    height: 2px;
    width: 24px;
    position: absolute;
    left: 4px;
    background-color: #1F1F22;
    border-radius: 2px;
}

.styleguide-sidebar-burger,
.styleguide-sidebar-burger-slice {
    transition: transform 300ms;
}

.styleguide-sidebar-burger-slice:nth-child(1) {
    top: 9px;

    .expanded & {
        transform: translateY(6px) rotate(45deg) scaleX(1.095);
    }
}

.styleguide-sidebar-burger-slice:nth-child(2) {
    top: 15px;

    .expanded & {
        transform: scaleX(0);
    }
}

.styleguide-sidebar-burger-slice:nth-child(3) {
    top: 21px;

    .expanded & {
        transform: translateY(-6px) rotate(-45deg) scaleX(1.095);
    }
}

.styleguide-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #7D838A;
}

.styleguide-footer-logo {
    flex-shrink: 0;
}

.styleguide-footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.styleguide-footer-text span:nth-child(2) {
    margin: 4px 0;
}

.styleguide-footer-link {
    color: #1358bf;
    text-decoration: none;

    &:hover {
        color: #0eb757;
    }

    &:active {
        color: #0F5498;
    }
}

.styleguide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    color: #7D838A;
}

.styleguide-header-left-col {
    width: 32px;
    height: 32px;
}

@media (max-width: @screen-md-max) {
    .styleguide {
        padding-bottom: 0px;

        &.has-sidebar {
            margin-left: 0;
        }
    }

    .styleguide-content {
        margin-top: 49px;
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 0;
    }

    .styleguide-header {
        padding: 8px 16px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: @styleguide-mobile-header-z-index;

        .styleguidist-light-theme & {
            background-color: #F2F4F7;
        }

        .styleguidist-dark-theme & {
            background-color: #1F1F22;
        }
    }

    .styleguide-sidebar {
        z-index: @styleguide-mobile-sidebar-z-index;
    }

    .styleguide-footer {
        flex-direction: column-reverse;
        row-gap: 8px;
    }

    .contactLinks {
        display: none;
    }
}