@import '../../../../common/theme/default';

.subRow {
    display: flex;
    margin-left: -@ufs-theme-grid-horizontal-gap;
    margin-right: -@ufs-theme-grid-horizontal-gap;
    padding-bottom: @ufs-theme-sub-row-bottom-padding;

    &:last-child {
        padding-bottom: 0;
    }
}
