@import 'src/styles/style';

.sliderExtendedTrack {
    height: @metric-4;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    background: var(--triplex-Slider-Track_Background_Default);
    z-index: @slider-track-z-index;

    &:focus {
        box-shadow: inset 0 0 1px 1px var(--triplex-Accent-500);
    }

    &.focusedByClick {
        &:focus {
            box-shadow: none;
        }
    }

    &.hoverOrDragByMouse {
        background: var(--triplex-Slider-Track_Background_Hover);
    }

    &.staticSlider {
        cursor: default;
        pointer-events: none;
    }

    &.disabled {
        pointer-events: none;
        background: var(--triplex-Slider-Track_Background_Disabled);
    }
}
