@import 'src/@sbbol/web-library/desktop/common/theme/default';

.example-background {
    border-radius: 3px;
    margin: -16px;
    padding: 16px;

    &.graphite-01 {
        background: @color-graphite-01;
    }

    &.asphalt-05 {
        background: @color-asphalt-05;
    }
}
