@import '../../../../common/theme/default';

.carouselExtended {
    display: flex;
    overflow-y: hidden;
    position: relative;

    // Hide scrollbar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE + Edge

    &::-webkit-scrollbar {
        display: none; // Chrome
    }
}
