:root {--triplex-Primary-100-12-0-0: #E5FCF7;
--triplex-Primary-300-12-0-0: #90D0CC;
--triplex-Primary-500-12-0-0: #21A19A;
--triplex-Primary-700-12-0-0: #107F8C;
--triplex-Primary-900-12-0-0: #005E7F;
--triplex-Neutral-100-12-0-0: #F2F4F7;
--triplex-Neutral-300-12-0-0: #E4E8EB;
--triplex-Neutral-500-12-0-0: #D0D7DD;
--triplex-Neutral-700-12-0-0: #B2B8BF;
--triplex-Neutral-900-12-0-0: #7D838A;
--triplex-Basic-0-12-0-0: transparent;
--triplex-Basic-100-12-0-0: #FFF;
--triplex-Basic-300-12-0-0: #565B62;
--triplex-Basic-500-12-0-0: #2D2D30;
--triplex-Basic-700-12-0-0: #1F1F22;
--triplex-Basic-900-12-0-0: #181819;
--triplex-Error-100-12-0-0: #FFE5E8;
--triplex-Error-300-12-0-0: #FFBDC5;
--triplex-Error-500-12-0-0: #DB1237;
--triplex-Error-700-12-0-0: #C11030;
--triplex-Error-900-12-0-0: #A80E2A;
--triplex-Warning-100-12-0-0: #FFF5E6;
--triplex-Warning-300-12-0-0: #FFD9A0;
--triplex-Warning-500-12-0-0: #FFB13B;
--triplex-Warning-700-12-0-0: #F90;
--triplex-Warning-900-12-0-0: #E58A00;
--triplex-Info-100-12-0-0: #F2F8FF;
--triplex-Info-300-12-0-0: #93B7ED;
--triplex-Info-500-12-0-0: #198CFE;
--triplex-Info-700-12-0-0: #1358BF;
--triplex-Info-900-12-0-0: #0F5498;
--triplex-Accent-500-12-0-0: #FFDD64;
--triplex-AccordionForm-Background_Default-12-0-0: #F2F4F7;
--triplex-AccordionForm-Background_Hover-12-0-0: #E4E8EB;
--triplex-AccordionForm-BorderColor_Default-12-0-0: #D0D7DD;
--triplex-AccordionForm-BorderColor_Focus-12-0-0: #FFDD64;
--triplex-AccordionForm-Title_Color_Default-12-0-0: #1F1F22;
--triplex-AccordionForm-Title_Color_Disabled-12-0-0: #B2B8BF;
--triplex-AccordionForm-Step_Line_Default-12-0-0: #D0D7DD;
--triplex-AccordionForm-Step_Line_Success-12-0-0: #107F8C;
--triplex-AccordionForm-Step_Line_Warning-12-0-0: #F90;
--triplex-AccordionForm-Step_Line_Error-12-0-0: #C11030;
--triplex-AccordionForm-Divider_Color-12-0-0: #D0D7DD;
--triplex-AccordionView-BorderColor_Default-12-0-0: #D0D7DD;
--triplex-AccordionView-BorderColor_Focus-12-0-0: #FFDD64;
--triplex-AccordionView-Header_Color-12-0-0: #1F1F22;
--triplex-AlertContext-Error_Color-12-0-0: #C11030;
--triplex-AlertContext-Info_Color-12-0-0: #1F1F22;
--triplex-AlertContext-Warning_Color-12-0-0: #1F1F22;
--triplex-AlertContext-System_Color-12-0-0: #1F1F22;
--triplex-AlertProcess-Color-12-0-0: #1F1F22;
--triplex-AlertProcess-Error_Background-12-0-0: #FFE5E8;
--triplex-AlertProcess-Info_Background-12-0-0: #F2F8FF;
--triplex-AlertProcess-Warning_Background-12-0-0: #FFF5E6;
--triplex-AlertProcess-Feature_Background-12-0-0: #E5FCF7;
--triplex-AlertProcess-Error_Border_Color-12-0-0: #C11030;
--triplex-AlertProcess-Info_Border_Color-12-0-0: #1358BF;
--triplex-AlertProcess-Warning_Border_Color-12-0-0: #F90;
--triplex-AlertProcess-Feature_Border_Color-12-0-0: #21A19A;
--triplex-backdrop-background-12-0-0: rgba(31, 31, 34, 0.56);
--triplex-Body-Background_White-12-0-0: #FFF;
--triplex-Body-Background_Gray-12-0-0: #F2F4F7;
--triplex-Body-Background_Darkgray-12-0-0: #7D838A;
--triplex-Button-General_Background_Default-12-0-0: #107F8C;
--triplex-Button-General_Background_Hover-12-0-0: #21A19A;
--triplex-Button-General_Background_Active-12-0-0: #005E7F;
--triplex-Button-General_Background_Disabled-12-0-0: #90D0CC;
--triplex-Button-General_Caret_Color_Default-12-0-0: #FFF;
--triplex-Button-General_Caret_Color_Disabled-12-0-0: #FFF;
--triplex-Button-General_Color_Default-12-0-0: #FFF;
--triplex-Button-General_Color_Hover-12-0-0: #FFF;
--triplex-Button-General_Color_Active-12-0-0: #FFF;
--triplex-Button-General_Color_Disabled-12-0-0: #FFF;
--triplex-Button-Secondary_Background_Default-12-0-0: #FFF;
--triplex-Button-Secondary_Background_Hover-12-0-0: #FFF;
--triplex-Button-Secondary_Background_Active-12-0-0: #D0D7DD;
--triplex-Button-Secondary_Background_Disabled-12-0-0: #FFF;
--triplex-Button-Secondary_Caret_Color_Default-12-0-0: #1F1F22;
--triplex-Button-Secondary_Caret_Color_Active-12-0-0: #1F1F22;
--triplex-Button-Secondary_Caret_Color_Hover-12-0-0: #1F1F22;
--triplex-Button-Secondary_Caret_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Button-Secondary_Color_Default-12-0-0: #1F1F22;
--triplex-Button-Secondary_Color_Hover-12-0-0: #1F1F22;
--triplex-Button-Secondary_Color_Active-12-0-0: #1F1F22;
--triplex-Button-Secondary_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Button-Secondary_Shadow_Default-12-0-0: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Secondary_Shadow_Hover-12-0-0: 0px 0px 0px 1px #1F1F22 inset;
--triplex-Button-Secondary_Shadow_Active-12-0-0: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Secondary_Shadow_Disabled-12-0-0: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Secondary_Shadow_Focus-12-0-0: inset 0 0 1px 1px #FFDD64;
--triplex-Button-Danger_Background_Default-12-0-0: #C11030;
--triplex-Button-Danger_Background_Hover-12-0-0: #DB1237;
--triplex-Button-Danger_Background_Active-12-0-0: #A80E2A;
--triplex-Button-Danger_Background_Disabled-12-0-0: #FFBDC5;
--triplex-Button-Danger_Caret_Color_Default-12-0-0: #FFF;
--triplex-Button-Danger_Caret_Color_Disabled-12-0-0: #FFF;
--triplex-Button-Danger_Color_Default-12-0-0: #FFF;
--triplex-Button-Danger_Color_Hover-12-0-0: #FFF;
--triplex-Button-Danger_Color_Active-12-0-0: #FFF;
--triplex-Button-Danger_Color_Disabled-12-0-0: #FFF;
--triplex-Button-Dots_Background_Default-12-0-0: #FFF;
--triplex-Button-Dots_Background_Hover-12-0-0: #FFF;
--triplex-Button-Dots_Background_Active-12-0-0: #D0D7DD;
--triplex-Button-Dots_Background_Disabled-12-0-0: #FFF;
--triplex-Button-Dots_Color_Default-12-0-0: #1F1F22;
--triplex-Button-Dots_Color_Hover-12-0-0: #1F1F22;
--triplex-Button-Dots_Color_Active-12-0-0: #1F1F22;
--triplex-Button-Dots_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Button-Dots_Shadow_Default-12-0-0: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Dots_Shadow_Hover-12-0-0: 0px 0px 0px 1px #1F1F22 inset;
--triplex-Button-Dots_Shadow_Active-12-0-0: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Dots_Shadow_Disabled-12-0-0: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Dots_Shadow_Focus-12-0-0: inset 0 0 1px 1px #FFDD64;
--triplex-Button-Link_Color_Default-12-0-0: #1358BF;
--triplex-Button-Link_Color_Hover-12-0-0: #107F8C;
--triplex-Button-Link_Color_Active-12-0-0: #0F5498;
--triplex-Button-Link_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Button-Tile_Background_Default-12-0-0: #FFF;
--triplex-Button-Tile_Background_Hover-12-0-0: #F2F4F7;
--triplex-Button-Tile_Background_Active-12-0-0: #E4E8EB;
--triplex-Button-Tile_Background_Disabled-12-0-0: #FFF;
--triplex-Calendar-Background-12-0-0: #FFF;
--triplex-Calendar-View_Header_Color-12-0-0: #7D838A;
--triplex-Calendar-View_Item_Color_Default-12-0-0: #1F1F22;
--triplex-Calendar-View_Item_Color_Selected-12-0-0: #FFF;
--triplex-Calendar-View_Item_Color_Muted-12-0-0: #D0D7DD;
--triplex-Calendar-View_Item_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Calendar-View_Item_Background_Hover-12-0-0: #F2F4F7;
--triplex-Calendar-View_Item_Background_Selected_Default-12-0-0: #107F8C;
--triplex-Calendar-View_Item_Background_Selected_Hover-12-0-0: #21A19A;
--triplex-Calendar-View_Item_Background_Range-12-0-0: #F2F4F7;
--triplex-Calendar-View_Item_BorderColor_Default-12-0-0: transparent;
--triplex-Calendar-View_Item_BorderColor_Focus-12-0-0: #FFDD64;
--triplex-Calendar-View_Item_Mark_Background-12-0-0: #B2B8BF;
--triplex-Card-BorderColor_Default-12-0-0: #D0D7DD;
--triplex-Card-BorderColor_Selected-12-0-0: #107F8C;
--triplex-Card-BorderColor_Focus-12-0-0: #FFDD64;
--triplex-Card-Shadow_Default-12-0-0: 0 1px 3px 0 rgba(31, 31, 34, 0.25);
--triplex-Card-Shadow_Hover-12-0-0: 0 2px 7px 0 rgba(31, 31, 34, 0.25);
--triplex-Card-TableTotal_Color-12-0-0: #FFF;
--triplex-Checkbox-Color_Default-12-0-0: #1F1F22;
--triplex-Checkbox-Color_Disabled-12-0-0: #1F1F22;
--triplex-Checkbox-Background_Default-12-0-0: #FFF;
--triplex-Checkbox-Background_Checked_Default-12-0-0: #107F8C;
--triplex-Checkbox-Background_Checked_Hover-12-0-0: #21A19A;
--triplex-Checkbox-Background_Disabled-12-0-0: #F2F4F7;
--triplex-Checkbox-BorderColor_Default-12-0-0: #D0D7DD;
--triplex-Checkbox-BorderColor_Checked-12-0-0: #107F8C;
--triplex-Checkbox-BorderColor_Hover-12-0-0: #21A19A;
--triplex-Checkbox-BorderColor_Focus-12-0-0: #FFDD64;
--triplex-Checkbox-BorderColor_Disabled-12-0-0: #D0D7DD;
--triplex-Checkbox-Checkmark_Fill_Default-12-0-0: #FFF;
--triplex-Checkbox-Checkmark_Fill_Disabled-12-0-0: #D0D7DD;
--triplex-Confirm-Background-12-0-0: #FFE5E8;
--triplex-Divider-Background-12-0-0: #D0D7DD;
--triplex-Dropdown-Background-12-0-0: #FFF;
--triplex-Dropdown-Shadow-12-0-0: 0px 2px 7px rgba(31, 31, 34, 0.25);
--triplex-DropdownList-Background_Default-12-0-0: none;
--triplex-DropdownList-Background_Active-12-0-0: #F2F4F7;
--triplex-DropdownList-Background_Selected-12-0-0: #D0D7DD;
--triplex-DropdownList-Color-12-0-0: #1F1F22;
--triplex-Footer-Background-12-0-0: #F2F4F7;
--triplex-Footer-Color-12-0-0: #1F1F22;
--triplex-FormField-Placeholder_Color-12-0-0: #B2B8BF;
--triplex-FormField-Shadow_Default-12-0-0: 0 0 0 1px #D0D7DD inset;
--triplex-FormField-Shadow_Focus-12-0-0: 0 0 0 1px #FFDD64 inset;
--triplex-FormField-Shadow_Disabled-12-0-0: 0 0 0 1px #D0D7DD inset;
--triplex-FormField-Shadow_Error-12-0-0: 0 0 0 1px #C11030 inset;
--triplex-FormField-Label_Color_Default-12-0-0: #7D838A;
--triplex-FormField-Label_Color_Disabled-12-0-0: #7D838A;
--triplex-FormField-Label_Background-12-0-0: linear-gradient(transparent 7px, #FFFFFF 7px 8px, transparent 8px);
--triplex-FormField-Description_Color_Default-12-0-0: #565B62;
--triplex-FormField-Description_Color_Error-12-0-0: #C11030;
--triplex-Header-Background-12-0-0: #F2F4F7;
--triplex-Header-Title_Color-12-0-0: #1F1F22;
--triplex-Header-TitleSubhead_Color-12-0-0: #7D838A;
--triplex-Input-Color_Default-12-0-0: #1F1F22;
--triplex-Input-Color_Disabled-12-0-0: #7D838A;
--triplex-Input-Placeholder_Color-12-0-0: #7D838A;
--triplex-Input-Caret_Color-12-0-0: #1F1F22;
--triplex-Input-Background_Default-12-0-0: #FFF;
--triplex-Input-Background_Disabled-12-0-0: #F2F4F7;
--triplex-Input-BorderColor_Default-12-0-0: #D0D7DD;
--triplex-Input-BorderColor_Focus-12-0-0: #1F1F22;
--triplex-Input-BorderColor_Disabled-12-0-0: #D0D7DD;
--triplex-Input-BorderColor_Error-12-0-0: #C11030;
--triplex-Label-Color-12-0-0: #1F1F22;
--triplex-Label-Code_Color-12-0-0: #B2B8BF;
--triplex-Label-Description_Color-12-0-0: #7D838A;
--triplex-LightBox-Controls_Background-12-0-0: #565B62;
--triplex-Link-BorderColor_Default-12-0-0: transparent;
--triplex-Link-BorderColor_Focus-12-0-0: #FFDD64;
--triplex-Link-Text_Color_Default-12-0-0: #1358BF;
--triplex-Link-Text_Color_Hover-12-0-0: #107F8C;
--triplex-Link-Text_Color_Active-12-0-0: #0F5498;
--triplex-Link-Line_Color_Default-12-0-0: #FFF;
--triplex-Link-Line_Color_Hover-12-0-0: #7D838A;
--triplex-Link-Line_Color_Active-12-0-0: #FFF;
--triplex-Marker-Background_Success-12-0-0: #21A19A;
--triplex-Marker-Background_Error-12-0-0: #DB1237;
--triplex-Marker-Background_Warning-12-0-0: #F90;
--triplex-Marker-Background_Waiting-12-0-0: #B2B8BF;
--triplex-MarkerStatus-Text_Color-12-0-0: #1F1F22;
--triplex-MarkerStatus-Desc_Color-12-0-0: #7D838A;
--triplex-Multiselect-Divider_Color-12-0-0: #D0D7DD;
--triplex-Notification-Color-12-0-0: #1F1F22;
--triplex-Notification-Background-12-0-0: #FFF;
--triplex-Notification-Shadow-12-0-0: 0px 2px 7px rgba(31, 31, 34, 0.25);
--triplex-overlay-maskBackground-12-0-0: rgba(255, 255, 255, 0.8);
--triplex-Radio-Color_Default-12-0-0: #1F1F22;
--triplex-Radio-Color_Disabled-12-0-0: #1F1F22;
--triplex-Radio-Background_Default-12-0-0: #FFF;
--triplex-Radio-Background_Checked_Default-12-0-0: #107F8C;
--triplex-Radio-Background_Checked_Hover-12-0-0: #21A19A;
--triplex-Radio-Background_Disabled-12-0-0: #F2F4F7;
--triplex-Radio-BorderColor_Default-12-0-0: #D0D7DD;
--triplex-Radio-BorderColor_Checked-12-0-0: #107F8C;
--triplex-Radio-BorderColor_Hover-12-0-0: #21A19A;
--triplex-Radio-BorderColor_Focused-12-0-0: #FFDD64;
--triplex-Radio-BorderColor_Disabled-12-0-0: #D0D7DD;
--triplex-Radio-Dot_Default-12-0-0: #FFF;
--triplex-Radio-Dot_Disabled-12-0-0: #D0D7DD;
--triplex-SegmentedControl-General_Background_Default-12-0-0: #FFF;
--triplex-SegmentedControl-General_Background_Disabled-12-0-0: #FFF;
--triplex-SegmentedControl-General_Background_Selected_Default-12-0-0: #107F8C;
--triplex-SegmentedControl-General_Background_Selected_Disabled-12-0-0: #90D0CC;
--triplex-SegmentedControl-General_Multiple_Background_Selected_Hover-12-0-0: #21A19A;
--triplex-SegmentedControl-General_BorderColor_Default-12-0-0: #D0D7DD;
--triplex-SegmentedControl-General_BorderColor_Disabled-12-0-0: #D0D7DD;
--triplex-SegmentedControl-General_BorderColor_Focus-12-0-0: #FFDD64;
--triplex-SegmentedControl-General_BorderColor_Hover-12-0-0: #1F1F22;
--triplex-SegmentedControl-General_BorderColor_Selected_Default-12-0-0: #107F8C;
--triplex-SegmentedControl-General_BorderColor_Selected_Disabled-12-0-0: #90D0CC;
--triplex-SegmentedControl-General_Multiple_BorderColor_Selected_Hover-12-0-0: #21A19A;
--triplex-SegmentedControl-General_Color_Default-12-0-0: #1F1F22;
--triplex-SegmentedControl-General_Color_Disabled-12-0-0: #D0D7DD;
--triplex-SegmentedControl-General_Color_Selected_Default-12-0-0: #FFF;
--triplex-SegmentedControl-General_Color_Selected_Disabled-12-0-0: #FFF;
--triplex-SegmentedControl-Secondary_Background_Default-12-0-0: #FFF;
--triplex-SegmentedControl-Secondary_Background_Disabled-12-0-0: #FFF;
--triplex-SegmentedControl-Secondary_Background_Selected_Default-12-0-0: #D0D7DD;
--triplex-SegmentedControl-Secondary_Background_Selected_Disabled-12-0-0: #F2F4F7;
--triplex-SegmentedControl-Secondary_Multiple_Background_Selected_Hover-12-0-0: #E4E8EB;
--triplex-SegmentedControl-Secondary_BorderColor_Default-12-0-0: #D0D7DD;
--triplex-SegmentedControl-Secondary_BorderColor_Disabled-12-0-0: #E4E8EB;
--triplex-SegmentedControl-Secondary_BorderColor_Focus-12-0-0: #FFDD64;
--triplex-SegmentedControl-Secondary_BorderColor_Hover-12-0-0: #1F1F22;
--triplex-SegmentedControl-Secondary_BorderColor_Selected_Default-12-0-0: #D0D7DD;
--triplex-SegmentedControl-Secondary_BorderColor_Selected_Disabled-12-0-0: #F2F4F7;
--triplex-SegmentedControl-Secondary_Multiple_BorderColor_Selected_Hover-12-0-0: #E4E8EB;
--triplex-SegmentedControl-Secondary_Color_Default-12-0-0: #1F1F22;
--triplex-SegmentedControl-Secondary_Color_Disabled-12-0-0: #D0D7DD;
--triplex-SegmentedControl-Secondary_Color_Selected_Default-12-0-0: #565B62;
--triplex-SegmentedControl-Secondary_Color_Selected_Disabled-12-0-0: #D0D7DD;
--triplex-Select-Background_Default-12-0-0: #FFF;
--triplex-Select-Background_Disabled-12-0-0: #F2F4F7;
--triplex-Select-Border_Color_Default-12-0-0: #D0D7DD;
--triplex-Select-Border_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Select-Border_Color_Error-12-0-0: #C11030;
--triplex-Select-Border_Color_Focus-12-0-0: #1F1F22;
--triplex-Select-Caret_Color_Default-12-0-0: #1F1F22;
--triplex-Select-Caret_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Select-Color_Default-12-0-0: #1F1F22;
--triplex-Select-Color_Disabled-12-0-0: #7D838A;
--triplex-Select-Color_Placeholder-12-0-0: #7D838A;
--triplex-Skeleton-BackgroundImage_Light-12-0-0: linear-gradient(88deg, #FFFFFF 0%, #E4E8EB 70.95%, #FFFFFF 100%);
--triplex-Skeleton-BackgroundImage_Dark-12-0-0: linear-gradient(88deg, #F2F4F7 0%, #E4E8EB 70.95%, #F2F4F7 100%);
--triplex-Slider-Dot_Inner_Background-12-0-0: #FFF;
--triplex-Slider-Dot_Background_Default-12-0-0: #107F8C;
--triplex-Slider-Dot_Background_Disabled-12-0-0: #B2B8BF;
--triplex-Slider-Dot_Background_Hover-12-0-0: #005E7F;
--triplex-Slider-Mark_Color_Default-12-0-0: #B2B8BF;
--triplex-Slider-Mark_Color_Active-12-0-0: #1F1F22;
--triplex-Slider-Mark_Dot_Background_Default-12-0-0: #D0D7DD;
--triplex-Slider-Mark_Dot_Background_Selected-12-0-0: #107F8C;
--triplex-Slider-Mark_Dot_Background_Selected_Disabled-12-0-0: #B2B8BF;
--triplex-Slider-Rail_Background-12-0-0: #D0D7DD;
--triplex-Slider-Tooltip_Background-12-0-0: #1F1F22;
--triplex-Slider-Tooltip_Color-12-0-0: #FFF;
--triplex-Slider-Track_Background_Default-12-0-0: #107F8C;
--triplex-Slider-Track_Background_Hover-12-0-0: #005E7F;
--triplex-Slider-Track_Background_Disabled-12-0-0: #B2B8BF;
--triplex-SmallInput-Background-12-0-0: #FFF;
--triplex-SMSInput-Refresh_Fill_Full-12-0-0: #565B62;
--triplex-SMSInput-Refresh_Fill_Empty-12-0-0: #B2B8BF;
--triplex-Spinner-Text_Color-12-0-0: #1F1F22;
--triplex-Spoiler-Caret_Color-12-0-0: #1F1F22;
--triplex-Stepper-Background-12-0-0: #FFF;
--triplex-Stepper-Step_Color_Default-12-0-0: #565B62;
--triplex-Stepper-Step_Color_Intact-12-0-0: #7D838A;
--triplex-Stepper-Step_Color_Disabled-12-0-0: #D0D7DD;
--triplex-Stepper-Step_Background_Default-12-0-0: #FFF;
--triplex-Stepper-Step_Background_Selected-12-0-0: #F2F4F7;
--triplex-Stepper-Step_BorderColor_Default-12-0-0: #D0D7DD;
--triplex-Stepper-Step_BorderColor_Hover-12-0-0: #107F8C;
--triplex-Stepper-Step_BorderColor_Focus-12-0-0: #FFDD64;
--triplex-Stepper-Step_BorderColor_Disabled-12-0-0: #D0D7DD;
--triplex-Stepper-ButtonPrev_Background-12-0-0: linear-gradient(to right, #FFFFFF 39.06%, transparent);
--triplex-Stepper-ButtonNext_Background-12-0-0: linear-gradient(to left, #FFFFFF 39.06%, transparent);
--triplex-Stepper-Progress_Background_Default-12-0-0: #E4E8EB;
--triplex-Stepper-Progress_Background_Filled-12-0-0: #107F8C;
--triplex-Stepper-Wrapper_Background-12-0-0: linear-gradient(#FFFFFF 64px, transparent);
--triplex-Stepper-Wrapper_BoxShadow-12-0-0: 0 10px 15px 0 #E4E8EB;
--triplex-TableBasic-Color-12-0-0: #1F1F22;
--triplex-TableBasic-Header_Background-12-0-0: #E4E8EB;
--triplex-TableBasic-Background_Hover-12-0-0: #F2F4F7;
--triplex-TableBasic-Background_Selected-12-0-0: #E4E8EB;
--triplex-TableBasic-TableFooter_Background-12-0-0: #E4E8EB;
--triplex-TableBasic-TableFooter_Highlight-12-0-0: linear-gradient(transparent, #FFFFFF);
--triplex-TableBasic-PaginationBasic_Color-12-0-0: #1F1F22;
--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Default-12-0-0: #F2F4F7;
--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Hover-12-0-0: #E4E8EB;
--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Disabled-12-0-0: #F2F4F7;
--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Default-12-0-0: #565B62;
--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Hover-12-0-0: #1F1F22;
--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Disabled-12-0-0: #D0D7DD;
--triplex-TableBasic-TableFilter_Color-12-0-0: #1F1F22;
--triplex-TableBasic-TableFilter_BorderColor_Default-12-0-0: transparent;
--triplex-TableBasic-TableFilter_BorderColor_Hover-12-0-0: #21A19A;
--triplex-TableBasic-TableFilter_BorderColor_Active-12-0-0: #005E7F;
--triplex-TableBasic-TableFilter_Notification_Color-12-0-0: #F90;
--triplex-TableBasic-TableFilter_Caret_Color-12-0-0: #1F1F22;
--triplex-TableBasic-FilterPanel_Background-12-0-0: #F2F4F7;
--triplex-Tabs-Background-12-0-0: #FFF;
--triplex-Tabs-Tab_Background_Default-12-0-0: #FFF;
--triplex-Tabs-Tab_Background_Hover-12-0-0: #F2F4F7;
--triplex-Tabs-Tab_Background_Selected-12-0-0: #D0D7DD;
--triplex-Tabs-Tab_BorderColor_Default-12-0-0: transparent;
--triplex-Tabs-Tab_BorderColor_Focus-12-0-0: #FFDD64;
--triplex-TabsFolder-Background-12-0-0: #F2F4F7;
--triplex-TabsFolder-Shadow-12-0-0: 0 -1px 0 0 #D0D7DD inset;
--triplex-TabsFolder-Tab_Color_Default-12-0-0: #1F1F22;
--triplex-TabsFolder-Tab_Color_Disabled-12-0-0: #D0D7DD;
--triplex-TabsFolder-Tab_Background_Default-12-0-0: #F2F4F7;
--triplex-TabsFolder-Tab_Background_Hover-12-0-0: #FFF;
--triplex-TabsFolder-Tab_Background_Selected-12-0-0: #FFF;
--triplex-TabsFolder-Tab_BorderColor-12-0-0: #D0D7DD;
--triplex-TabsFolder-ButtonPrev_Background-12-0-0: linear-gradient(to right, #F2F4F7 39.06%, transparent);
--triplex-TabsFolder-ButtonNext_Background-12-0-0: linear-gradient(to left, #F2F4F7 39.06%, transparent);
--triplex-Tag-Color-12-0-0: #1F1F22;
--triplex-Tag-Background-12-0-0: #FFF;
--triplex-Tag-BorderColor-12-0-0: #D0D7DD;
--triplex-Text-General_Color-12-0-0: #1F1F22;
--triplex-Text-Secondary_Color-12-0-0: #7D838A;
--triplex-Text-Success_Color-12-0-0: #107F8C;
--triplex-Text-Warning_Color-12-0-0: #F90;
--triplex-Text-Danger_Color-12-0-0: #C11030;
--triplex-Text-Disabled_Color-12-0-0: #D0D7DD;
--triplex-Title-General_Color-12-0-0: #1F1F22;
--triplex-Title-Secondary_Color-12-0-0: #7D838A;
--triplex-Title-Success_Color-12-0-0: #107F8C;
--triplex-Title-Warning_Color-12-0-0: #F90;
--triplex-Title-Danger_Color-12-0-0: #C11030;
--triplex-Title-Disabled_Color-12-0-0: #D0D7DD;
--triplex-Tooltip-Background-12-0-0: #1F1F22;
--triplex-Tooltip-Color-12-0-0: #FFF;
--triplex-TopOverlay-Background-12-0-0: #FFE5E8;
--triplex-TopOverlay-Color-12-0-0: #1F1F22;
--triplex-UnorderedList-Color-12-0-0: #1F1F22;
--triplex-UploadZone-BorderColor_Default-12-0-0: #D0D7DD;
--triplex-UploadZone-BorderColor_Hover-12-0-0: #1F1F22;
--triplex-UploadZone-DragArea_Background-12-0-0: #FFF;
--triplex-UploadZone-DragArea_BorderColor-12-0-0: #1F1F22;
--triplex-Widget-Background-12-0-0: #FFF;
--triplex-Widget-Caret_Color-12-0-0: #1F1F22;
--triplex-Widget-Title_Color-12-0-0: #1F1F22;}