html {--triplex-Accent-500-14-0-4: #FFDD64;
--triplex-Basic-0-14-0-4: transparent;
--triplex-Basic-100-14-0-4: #FFFFFF;
--triplex-Basic-300-14-0-4: #565B62;
--triplex-Basic-500-14-0-4: #2D2D30;
--triplex-Basic-700-14-0-4: #1F1F22;
--triplex-Basic-900-14-0-4: #181819;
--triplex-Error-100-14-0-4: #FFE5E8;
--triplex-Error-300-14-0-4: #FFBDC5;
--triplex-Error-500-14-0-4: #DB1237;
--triplex-Error-700-14-0-4: #C11030;
--triplex-Error-900-14-0-4: #A80E2A;
--triplex-Info-100-14-0-4: #F2F8FF;
--triplex-Info-300-14-0-4: #93B7ED;
--triplex-Info-500-14-0-4: #198CFE;
--triplex-Info-700-14-0-4: #1358BF;
--triplex-Info-900-14-0-4: #0F5498;
--triplex-Neutral-100-14-0-4: #F2F4F7;
--triplex-Neutral-300-14-0-4: #E4E8EB;
--triplex-Neutral-500-14-0-4: #D0D7DD;
--triplex-Neutral-700-14-0-4: #B2B8BF;
--triplex-Neutral-900-14-0-4: #7D838A;
--triplex-Primary-100-14-0-4: #E5FCF7;
--triplex-Primary-300-14-0-4: #90D0CC;
--triplex-Primary-500-14-0-4: #21A19A;
--triplex-Primary-700-14-0-4: #107F8C;
--triplex-Primary-900-14-0-4: #005E7F;
--triplex-Warning-100-14-0-4: #FFF5E6;
--triplex-Warning-300-14-0-4: #FFD9A0;
--triplex-Warning-500-14-0-4: #FFB13B;
--triplex-Warning-700-14-0-4: #FF9900;
--triplex-Warning-900-14-0-4: #E58A00;
--triplex-AccordionForm-Background_Default-14-0-4: #F2F4F7;
--triplex-AccordionForm-Background_Hover-14-0-4: #E4E8EB;
--triplex-AccordionForm-BorderColor_Default-14-0-4: #D0D7DD;
--triplex-AccordionForm-BorderColor_Focus-14-0-4: #FFDD64;
--triplex-AccordionForm-Divider_Color-14-0-4: #D0D7DD;
--triplex-AccordionForm-Step_Line_Default-14-0-4: #D0D7DD;
--triplex-AccordionForm-Step_Line_Error-14-0-4: #C11030;
--triplex-AccordionForm-Step_Line_Success-14-0-4: #107F8C;
--triplex-AccordionForm-Step_Line_Warning-14-0-4: #FF9900;
--triplex-AccordionForm-Title_Color_Default-14-0-4: #1F1F22;
--triplex-AccordionForm-Title_Color_Disabled-14-0-4: #B2B8BF;
--triplex-AccordionView-Background-14-0-4: #FFFFFF;
--triplex-AccordionView-BorderColor_Default-14-0-4: #D0D7DD;
--triplex-AccordionView-BorderColor_Focus-14-0-4: #FFDD64;
--triplex-AccordionView-Header_Color-14-0-4: #1F1F22;
--triplex-AlertContext-Error_Color-14-0-4: #C11030;
--triplex-AlertContext-Info_Color-14-0-4: #1F1F22;
--triplex-AlertContext-System_Color-14-0-4: #1F1F22;
--triplex-AlertContext-Warning_Color-14-0-4: #1F1F22;
--triplex-AlertProcess-Color-14-0-4: #1F1F22;
--triplex-AlertProcess-Info_Background-14-0-4: #F2F8FF;
--triplex-AlertProcess-Info_Border_Color-14-0-4: #1358BF;
--triplex-AlertProcess-Warning_Background-14-0-4: #FFF5E6;
--triplex-AlertProcess-Warning_Border_Color-14-0-4: #FF9900;
--triplex-AlertProcess-Error_Background-14-0-4: #FFE5E8;
--triplex-AlertProcess-Error_Border_Color-14-0-4: #C11030;
--triplex-AlertProcess-System_Background-14-0-4: #F2F4F7;
--triplex-AlertProcess-System_Border_Color-14-0-4: #B2B8BF;
--triplex-AlertProcess-Feature_Background-14-0-4: #E5FCF7;
--triplex-AlertProcess-Feature_Border_Color-14-0-4: #21A19A;
--triplex-Backdrop-background-14-0-4: rgba(31, 31, 34, 0.56);
--triplex-Body-Background_Darkgray-14-0-4: #7D838A;
--triplex-Body-Background_Gray-14-0-4: #F2F4F7;
--triplex-Body-Background_White-14-0-4: #FFFFFF;
--triplex-Button-General_Background_Active-14-0-4: #005E7F;
--triplex-Button-General_Background_Default-14-0-4: #107F8C;
--triplex-Button-General_Background_Disabled-14-0-4: #90D0CC;
--triplex-Button-General_Background_Hover-14-0-4: #21A19A;
--triplex-Button-General_Caret_Color_Default-14-0-4: #FFFFFF;
--triplex-Button-General_Caret_Color_Disabled-14-0-4: #FFFFFF;
--triplex-Button-General_Color_Active-14-0-4: #FFFFFF;
--triplex-Button-General_Color_Default-14-0-4: #FFFFFF;
--triplex-Button-General_Color_Disabled-14-0-4: #FFFFFF;
--triplex-Button-General_Color_Hover-14-0-4: #FFFFFF;
--triplex-Button-General_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Button-Secondary_Background_Active-14-0-4: #D0D7DD;
--triplex-Button-Secondary_Background_Default-14-0-4: #FFFFFF;
--triplex-Button-Secondary_Background_Disabled-14-0-4: #FFFFFF;
--triplex-Button-Secondary_Background_Hover-14-0-4: #FFFFFF;
--triplex-Button-Secondary_Caret_Color_Active-14-0-4: #1F1F22;
--triplex-Button-Secondary_Caret_Color_Default-14-0-4: #1F1F22;
--triplex-Button-Secondary_Caret_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Button-Secondary_Caret_Color_Hover-14-0-4: #1F1F22;
--triplex-Button-Secondary_Color_Active-14-0-4: #1F1F22;
--triplex-Button-Secondary_Color_Default-14-0-4: #1F1F22;
--triplex-Button-Secondary_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Button-Secondary_Color_Hover-14-0-4: #1F1F22;
--triplex-Button-Secondary_Shadow_Active-14-0-4: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Secondary_Shadow_Default-14-0-4: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Secondary_Shadow_Disabled-14-0-4: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Secondary_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Button-Secondary_Shadow_Hover-14-0-4: 0px 0px 0px 1px #1F1F22 inset;
--triplex-Button-Danger_Background_Active-14-0-4: #A80E2A;
--triplex-Button-Danger_Background_Default-14-0-4: #C11030;
--triplex-Button-Danger_Background_Disabled-14-0-4: #FFBDC5;
--triplex-Button-Danger_Background_Hover-14-0-4: #DB1237;
--triplex-Button-Danger_Caret_Color_Default-14-0-4: #FFFFFF;
--triplex-Button-Danger_Caret_Color_Disabled-14-0-4: #FFFFFF;
--triplex-Button-Danger_Color_Active-14-0-4: #FFFFFF;
--triplex-Button-Danger_Color_Default-14-0-4: #FFFFFF;
--triplex-Button-Danger_Color_Disabled-14-0-4: #FFFFFF;
--triplex-Button-Danger_Color_Hover-14-0-4: #FFFFFF;
--triplex-Button-Danger_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Button-Dots_Background_Active-14-0-4: #D0D7DD;
--triplex-Button-Dots_Background_Default-14-0-4: #FFFFFF;
--triplex-Button-Dots_Background_Disabled-14-0-4: #FFFFFF;
--triplex-Button-Dots_Background_Hover-14-0-4: #FFFFFF;
--triplex-Button-Dots_Color_Active-14-0-4: #1F1F22;
--triplex-Button-Dots_Color_Default-14-0-4: #1F1F22;
--triplex-Button-Dots_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Button-Dots_Color_Hover-14-0-4: #1F1F22;
--triplex-Button-Dots_Shadow_Active-14-0-4: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Dots_Shadow_Default-14-0-4: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Dots_Shadow_Disabled-14-0-4: 0px 0px 0px 1px #D0D7DD inset;
--triplex-Button-Dots_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Button-Dots_Shadow_Hover-14-0-4: 0px 0px 0px 1px #1F1F22 inset;
--triplex-Button-Icon_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64;
--triplex-Button-Link_Color_Active-14-0-4: #0F5498;
--triplex-Button-Link_Color_Default-14-0-4: #1358BF;
--triplex-Button-Link_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Button-Link_Color_Hover-14-0-4: #107F8C;
--triplex-Button-Link_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Button-Tile_Background_Active-14-0-4: #E4E8EB;
--triplex-Button-Tile_Background_Default-14-0-4: #FFFFFF;
--triplex-Button-Tile_Background_Disabled-14-0-4: #FFFFFF;
--triplex-Button-Tile_Background_Hover-14-0-4: #F2F4F7;
--triplex-Button-Tile_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Calendar-Background-14-0-4: #FFFFFF;
--triplex-Calendar-View_Header_Color-14-0-4: #7D838A;
--triplex-Calendar-View_Item_Background_Default-14-0-4: transparent;
--triplex-Calendar-View_Item_Background_Hover-14-0-4: #F2F4F7;
--triplex-Calendar-View_Item_Background_Range-14-0-4: #F2F4F7;
--triplex-Calendar-View_Item_Background_Selected_Default-14-0-4: #107F8C;
--triplex-Calendar-View_Item_Background_Selected_Hover-14-0-4: #21A19A;
--triplex-Calendar-View_Item_Background_Selected_Muted_Default-14-0-4: #E5FCF7;
--triplex-Calendar-View_Item_Background_Selected_Muted_Hover-14-0-4: #90D0CC;
--triplex-Calendar-View_Item_BorderColor_Default-14-0-4: transparent;
--triplex-Calendar-View_Item_BorderColor_Focus-14-0-4: #FFDD64;
--triplex-Calendar-View_Item_Color_Default-14-0-4: #1F1F22;
--triplex-Calendar-View_Item_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Calendar-View_Item_Color_Muted-14-0-4: #D0D7DD;
--triplex-Calendar-View_Item_Color_Selected-14-0-4: #FFFFFF;
--triplex-Calendar-View_Item_Color_Selected_Muted_Default-14-0-4: #B2B8BF;
--triplex-Calendar-View_Item_Color_Selected_Muted_Hover-14-0-4: #F2F4F7;
--triplex-Calendar-View_Item_Mark_Basic_Background_Default-14-0-4: #B2B8BF;
--triplex-Calendar-View_Item_Mark_Basic_Background_Selected_Default-14-0-4: #B2B8BF;
--triplex-Calendar-View_Item_Mark_Basic_Background_Selected_Hover-14-0-4: #B2B8BF;
--triplex-Calendar-View_Item_Mark_Standard_Background_Default-14-0-4: #107F8C;
--triplex-Calendar-View_Item_Mark_Standard_Background_Selected_Default-14-0-4: #90D0CC;
--triplex-Calendar-View_Item_Mark_Standard_Background_Selected_Hover-14-0-4: #107F8C;
--triplex-Calendar-View_Item_Mark_Attention_Background_Default-14-0-4: #FF9900;
--triplex-Calendar-View_Item_Mark_Attention_Background_Selected_Default-14-0-4: #FF9900;
--triplex-Calendar-View_Item_Mark_Attention_Background_Selected_Hover-14-0-4: #FF9900;
--triplex-Calendar-View_Item_Mark_Critical_Background_Default-14-0-4: #C11030;
--triplex-Calendar-View_Item_Mark_Critical_Background_Selected_Default-14-0-4: #C11030;
--triplex-Calendar-View_Item_Mark_Critical_Background_Selected_Hover-14-0-4: #C11030;
--triplex-Card-Background-14-0-4: #FFFFFF;
--triplex-Card-BorderColor_Default-14-0-4: #D0D7DD;
--triplex-Card-BorderColor_Focus-14-0-4: #FFDD64;
--triplex-Card-BorderColor_Hover-14-0-4: #D0D7DD;
--triplex-Card-BorderColor_Selected_Default-14-0-4: #107F8C;
--triplex-Card-BorderColor_Selected_Hover-14-0-4: #107F8C;
--triplex-Card-Shadow_Default-14-0-4: 0 1px 3px 0 rgba(31, 31, 34, 0.25);
--triplex-Card-Shadow_Hover-14-0-4: 0 2px 7px 0 rgba(31, 31, 34, 0.25);
--triplex-Checkbox-Background_Checked_Default-14-0-4: #107F8C;
--triplex-Checkbox-Background_Checked_Hover-14-0-4: #21A19A;
--triplex-Checkbox-Background_Default-14-0-4: #FFFFFF;
--triplex-Checkbox-Background_Disabled-14-0-4: #F2F4F7;
--triplex-Checkbox-BorderColor_Checked-14-0-4: #107F8C;
--triplex-Checkbox-BorderColor_Default-14-0-4: #D0D7DD;
--triplex-Checkbox-BorderColor_Disabled-14-0-4: #D0D7DD;
--triplex-Checkbox-BorderColor_Focus-14-0-4: #FFDD64;
--triplex-Checkbox-BorderColor_Hover-14-0-4: #21A19A;
--triplex-Checkbox-Checkmark_Fill_Default-14-0-4: #FFFFFF;
--triplex-Checkbox-Checkmark_Fill_Disabled-14-0-4: #D0D7DD;
--triplex-Checkbox-Color_Default-14-0-4: #1F1F22;
--triplex-Checkbox-Color_Disabled-14-0-4: #1F1F22;
--triplex-Chip-Background_Active-14-0-4: #D0D7DD;
--triplex-Chip-Background_Default-14-0-4: #F2F4F7;
--triplex-Chip-Background_Disabled-14-0-4: #F2F4F7;
--triplex-Chip-Background_Hover-14-0-4: #E4E8EB;
--triplex-Chip-Background_Selected_Active-14-0-4: #7D838A;
--triplex-Chip-Background_Selected_Default-14-0-4: #1F1F22;
--triplex-Chip-Background_Selected_Disabled-14-0-4: #1F1F22;
--triplex-Chip-Background_Selected_Hover-14-0-4: #565B62;
--triplex-Chip-Color_Active-14-0-4: #1F1F22;
--triplex-Chip-Color_Default-14-0-4: #1F1F22;
--triplex-Chip-Color_Disabled-14-0-4: #B2B8BF;
--triplex-Chip-Color_Hover-14-0-4: #1F1F22;
--triplex-Chip-Color_Selected_Active-14-0-4: #F2F4F7;
--triplex-Chip-Color_Selected_Default-14-0-4: #F2F4F7;
--triplex-Chip-Color_Selected_Disabled-14-0-4: #565B62;
--triplex-Chip-Color_Selected_Hover-14-0-4: #F2F4F7;
--triplex-Chip-Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Confirm-Background-14-0-4: #FFE5E8;
--triplex-Confirm-Shadow-14-0-4: 0 -1px 0 0 #C11030 inset;
--triplex-Divider-Background-14-0-4: #D0D7DD;
--triplex-Dropdown-Background-14-0-4: #FFFFFF;
--triplex-Dropdown-Shadow-14-0-4: 0px 2px 7px rgba(31, 31, 34, 0.25);
--triplex-DropdownList-Background_Active-14-0-4: #F2F4F7;
--triplex-DropdownList-Background_Default-14-0-4: none;
--triplex-DropdownList-Background_Selected-14-0-4: #D0D7DD;
--triplex-DropdownList-Color-14-0-4: #1F1F22;
--triplex-DropdownMobile-Backdrop-14-0-4: #1F1F22;
--triplex-DropdownMobile-Border_Color-14-0-4: #D0D7DD;
--triplex-DropdownMobile-Content_Background-14-0-4: #FFFFFF;
--triplex-DropdownMobile-Footer_Background-14-0-4: #FFFFFF;
--triplex-DropdownMobile-Header_Background-14-0-4: #F2F4F7;
--triplex-DropdownMobile-Opacity-14-0-4: 0.6;
--triplex-DropdownMobileList-Active_Background-14-0-4: #F2F4F7;
--triplex-DropdownMobileList-Selected_Background-14-0-4: #D0D7DD;
--triplex-Footer-Background-14-0-4: #F2F4F7;
--triplex-Footer-Color-14-0-4: #1F1F22;
--triplex-FormField-Description_Color_Default-14-0-4: #565B62;
--triplex-FormField-Description_Color_Error-14-0-4: #C11030;
--triplex-FormField-Label_Background-14-0-4: linear-gradient(transparent 8px, #FFFFFF 8px 9px, transparent 0);
--triplex-FormField-Label_Color_Default-14-0-4: #7D838A;
--triplex-FormField-Label_Color_Disabled-14-0-4: #7D838A;
--triplex-FormField-Placeholder_Color-14-0-4: #B2B8BF;
--triplex-FormField-Shadow_Default-14-0-4: 0 0 0 1px #D0D7DD inset;
--triplex-FormField-Shadow_Disabled-14-0-4: 0 0 0 1px #D0D7DD inset;
--triplex-FormField-Shadow_Error-14-0-4: 0 0 0 1px #C11030 inset;
--triplex-FormField-Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Header-Background-14-0-4: #F2F4F7;
--triplex-Header-Title_Color-14-0-4: #1F1F22;
--triplex-Header-TitleSubhead_Color-14-0-4: #7D838A;
--triplex-Input-Background_Default-14-0-4: #FFFFFF;
--triplex-Input-Background_Disabled-14-0-4: #F2F4F7;
--triplex-Input-BorderColor_Default-14-0-4: #D0D7DD;
--triplex-Input-BorderColor_Disabled-14-0-4: #D0D7DD;
--triplex-Input-BorderColor_Error-14-0-4: #C11030;
--triplex-Input-BorderColor_Focus-14-0-4: #1F1F22;
--triplex-Input-Caret_Color-14-0-4: #1F1F22;
--triplex-Input-Color_Default-14-0-4: #1F1F22;
--triplex-Input-Color_Disabled-14-0-4: #7D838A;
--triplex-Input-Placeholder_Color-14-0-4: #7D838A;
--triplex-Label-Code_Color-14-0-4: #B2B8BF;
--triplex-Label-Color-14-0-4: #1F1F22;
--triplex-Label-Description_Color-14-0-4: #7D838A;
--triplex-LightBox-Controls_Background-14-0-4: #565B62;
--triplex-Link-BorderColor_Default-14-0-4: transparent;
--triplex-Link-BorderColor_Focus-14-0-4: #FFDD64;
--triplex-Link-Line_Color_Active-14-0-4: #FFFFFF;
--triplex-Link-Line_Color_Default-14-0-4: #FFFFFF;
--triplex-Link-Line_Color_Hover-14-0-4: #7D838A;
--triplex-Link-Text_Color_Active-14-0-4: #0F5498;
--triplex-Link-Text_Color_Default-14-0-4: #1358BF;
--triplex-Link-Text_Color_Hover-14-0-4: #107F8C;
--triplex-ListItem-Background-14-0-4: #FFFFFF;
--triplex-ListItem-Background_Selected-14-0-4: #F2F4F7;
--triplex-ListItemControlsButton-Background-14-0-4: #F2F4F7;
--triplex-ListItemControlsButton-Color-14-0-4: #1F1F22;
--triplex-ListMaster-Background-14-0-4: #FFFFFF;
--triplex-ListMaster-Footer_Background-14-0-4: #E4E8EB;
--triplex-ListMaster-Footer_Color-14-0-4: #1F1F22;
--triplex-ListMaster-Header_Background-14-0-4: #E4E8EB;
--triplex-ListMaster-Header_Color-14-0-4: #1F1F22;
--triplex-Marker-Background_Error-14-0-4: #DB1237;
--triplex-Marker-Background_Success-14-0-4: #21A19A;
--triplex-Marker-Background_Waiting-14-0-4: #B2B8BF;
--triplex-Marker-Background_Warning-14-0-4: #FF9900;
--triplex-MarkerStatus-Desc_Color-14-0-4: #7D838A;
--triplex-MarkerStatus-Text_Color-14-0-4: #1F1F22;
--triplex-Multiselect-Divider_Color-14-0-4: #D0D7DD;
--triplex-Notification-Background-14-0-4: #FFFFFF;
--triplex-Notification-Color-14-0-4: #1F1F22;
--triplex-Notification-Shadow-14-0-4: 0px 2px 7px rgba(31, 31, 34, 0.25);
--triplex-Overlay-maskBackground-14-0-4: rgba(255, 255, 255, 0.8);
--triplex-Pagination-PageButton_Background_Active-14-0-4: #E4E8EB;
--triplex-Pagination-PageButton_Background_Default-14-0-4: transparent;
--triplex-Pagination-PageButton_Background_Hover-14-0-4: #F2F4F7;
--triplex-Pagination-PageButton_Background_Selected-14-0-4: #E4E8EB;
--triplex-Pagination-PageButton_BorderColor_Default-14-0-4: transparent;
--triplex-Pagination-PageButton_BorderColor_Focus-14-0-4: #FFDD64;
--triplex-Pagination-PageButton_Color-14-0-4: #1F1F22;
--triplex-Radio-Background_Checked_Default-14-0-4: #107F8C;
--triplex-Radio-Background_Checked_Hover-14-0-4: #21A19A;
--triplex-Radio-Background_Default-14-0-4: #FFFFFF;
--triplex-Radio-Background_Disabled-14-0-4: #F2F4F7;
--triplex-Radio-BorderColor_Checked-14-0-4: #107F8C;
--triplex-Radio-BorderColor_Default-14-0-4: #D0D7DD;
--triplex-Radio-BorderColor_Disabled-14-0-4: #D0D7DD;
--triplex-Radio-BorderColor_Focused-14-0-4: #FFDD64;
--triplex-Radio-BorderColor_Hover-14-0-4: #21A19A;
--triplex-Radio-Color_Default-14-0-4: #1F1F22;
--triplex-Radio-Color_Disabled-14-0-4: #1F1F22;
--triplex-Radio-Dot_Default-14-0-4: #FFFFFF;
--triplex-Radio-Dot_Disabled-14-0-4: #D0D7DD;
--triplex-SMSInput-Refresh_Fill_Empty-14-0-4: #B2B8BF;
--triplex-SMSInput-Refresh_Fill_Full-14-0-4: #565B62;
--triplex-SegmentedControl-General_Background_Default-14-0-4: #FFFFFF;
--triplex-SegmentedControl-General_Background_Disabled-14-0-4: #FFFFFF;
--triplex-SegmentedControl-General_Background_Selected_Default-14-0-4: #107F8C;
--triplex-SegmentedControl-General_Background_Selected_Disabled-14-0-4: #90D0CC;
--triplex-SegmentedControl-General_Multiple_Background_Selected_Hover-14-0-4: #21A19A;
--triplex-SegmentedControl-General_BorderColor_Default-14-0-4: #D0D7DD;
--triplex-SegmentedControl-General_BorderColor_Disabled-14-0-4: #D0D7DD;
--triplex-SegmentedControl-General_BorderColor_Focus-14-0-4: #FFDD64;
--triplex-SegmentedControl-General_BorderColor_Hover-14-0-4: #1F1F22;
--triplex-SegmentedControl-General_BorderColor_Selected_Default-14-0-4: #107F8C;
--triplex-SegmentedControl-General_BorderColor_Selected_Disabled-14-0-4: #90D0CC;
--triplex-SegmentedControl-General_Multiple_BorderColor_Selected_Hover-14-0-4: #21A19A;
--triplex-SegmentedControl-General_Color_Default-14-0-4: #1F1F22;
--triplex-SegmentedControl-General_Color_Disabled-14-0-4: #D0D7DD;
--triplex-SegmentedControl-General_Color_Selected_Default-14-0-4: #FFFFFF;
--triplex-SegmentedControl-General_Color_Selected_Disabled-14-0-4: #FFFFFF;
--triplex-SegmentedControl-Secondary_Background_Default-14-0-4: #FFFFFF;
--triplex-SegmentedControl-Secondary_Background_Disabled-14-0-4: #FFFFFF;
--triplex-SegmentedControl-Secondary_Background_Selected_Default-14-0-4: #D0D7DD;
--triplex-SegmentedControl-Secondary_Background_Selected_Disabled-14-0-4: #F2F4F7;
--triplex-SegmentedControl-Secondary_Multiple_Background_Selected_Hover-14-0-4: #E4E8EB;
--triplex-SegmentedControl-Secondary_BorderColor_Default-14-0-4: #D0D7DD;
--triplex-SegmentedControl-Secondary_BorderColor_Disabled-14-0-4: #E4E8EB;
--triplex-SegmentedControl-Secondary_BorderColor_Focus-14-0-4: #FFDD64;
--triplex-SegmentedControl-Secondary_BorderColor_Hover-14-0-4: #1F1F22;
--triplex-SegmentedControl-Secondary_BorderColor_Selected_Default-14-0-4: #D0D7DD;
--triplex-SegmentedControl-Secondary_BorderColor_Selected_Disabled-14-0-4: #F2F4F7;
--triplex-SegmentedControl-Secondary_Multiple_BorderColor_Selected_Hover-14-0-4: #E4E8EB;
--triplex-SegmentedControl-Secondary_Color_Default-14-0-4: #1F1F22;
--triplex-SegmentedControl-Secondary_Color_Disabled-14-0-4: #D0D7DD;
--triplex-SegmentedControl-Secondary_Color_Selected_Default-14-0-4: #565B62;
--triplex-SegmentedControl-Secondary_Color_Selected_Disabled-14-0-4: #D0D7DD;
--triplex-Select-Background_Default-14-0-4: #FFFFFF;
--triplex-Select-Background_Disabled-14-0-4: #F2F4F7;
--triplex-Select-Border_Color_Default-14-0-4: #D0D7DD;
--triplex-Select-Border_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Select-Border_Color_Error-14-0-4: #C11030;
--triplex-Select-Border_Color_Focus-14-0-4: #1F1F22;
--triplex-Select-Caret_Color_Default-14-0-4: #1F1F22;
--triplex-Select-Caret_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Select-Color_Default-14-0-4: #1F1F22;
--triplex-Select-Color_Disabled-14-0-4: #7D838A;
--triplex-Select-Color_Placeholder-14-0-4: #7D838A;
--triplex-Skeleton-BackgroundImage_Dark-14-0-4: linear-gradient(90deg, #F2F4F7 0%, #E4E8EB 71%, #F2F4F7 100%);
--triplex-Skeleton-BackgroundImage_Light-14-0-4: linear-gradient(90deg, #FFFFFF 0%, #F2F4F7 71%, #FFFFFF 100%);
--triplex-Slider-Dot_Background_Default-14-0-4: #107F8C;
--triplex-Slider-Dot_Background_Disabled-14-0-4: #B2B8BF;
--triplex-Slider-Dot_Background_Hover-14-0-4: #005E7F;
--triplex-Slider-Dot_Inner_Background-14-0-4: #FFFFFF;
--triplex-Slider-Mark_Color_Active-14-0-4: #1F1F22;
--triplex-Slider-Mark_Color_Default-14-0-4: #B2B8BF;
--triplex-Slider-Mark_Dot_Background_Default-14-0-4: #D0D7DD;
--triplex-Slider-Mark_Dot_Background_Selected-14-0-4: #107F8C;
--triplex-Slider-Mark_Dot_Background_Selected_Disabled-14-0-4: #B2B8BF;
--triplex-Slider-Rail_Background-14-0-4: #D0D7DD;
--triplex-Slider-Tooltip_Background-14-0-4: #1F1F22;
--triplex-Slider-Tooltip_Color-14-0-4: #FFFFFF;
--triplex-Slider-Track_Background_Default-14-0-4: #107F8C;
--triplex-Slider-Track_Background_Disabled-14-0-4: #B2B8BF;
--triplex-Slider-Track_Background_Hover-14-0-4: #005E7F;
--triplex-SmallInput-Background-14-0-4: #FFFFFF;
--triplex-Spinner-Text_Color-14-0-4: #1F1F22;
--triplex-Spoiler-Caret_Color-14-0-4: #1F1F22;
--triplex-Step-Color_Disabled-14-0-4: #B2B8BF;
--triplex-Step-Color_Error-14-0-4: #FFFFFF;
--triplex-Step-Color_Success-14-0-4: #FFFFFF;
--triplex-Step-Color_Wait-14-0-4: #107F8C;
--triplex-Step-Color_Warning-14-0-4: #FF9900;
--triplex-Step-Background_Color_Disabled-14-0-4: #FFFFFF;
--triplex-Step-Background_Color_Error-14-0-4: #C11030;
--triplex-Step-Background_Color_Success-14-0-4: #107F8C;
--triplex-Step-Background_Color_Wait-14-0-4: #FFFFFF;
--triplex-Step-Background_Color_Warning-14-0-4: #FFFFFF;
--triplex-Step-Border_Color_Disabled-14-0-4: transparent;
--triplex-Step-Border_Color_Error-14-0-4: transparent;
--triplex-Step-Border_Color_Success-14-0-4: transparent;
--triplex-Step-Border_Color_Wait-14-0-4: #107F8C;
--triplex-Step-Border_Color_Warning-14-0-4: #FF9900;
--triplex-Stepper-Background-14-0-4: #FFFFFF;
--triplex-Stepper-ButtonNext_Background-14-0-4: linear-gradient(to left, #FFFFFF 39.06%, transparent);
--triplex-Stepper-ButtonPrev_Background-14-0-4: linear-gradient(to right, #FFFFFF 39.06%, transparent);
--triplex-Stepper-Progress_Background_Default-14-0-4: #E4E8EB;
--triplex-Stepper-Progress_Background_Filled-14-0-4: #107F8C;
--triplex-Stepper-Step_Background_Default-14-0-4: #FFFFFF;
--triplex-Stepper-Step_Background_Selected-14-0-4: #F2F4F7;
--triplex-Stepper-Step_BorderColor_Default-14-0-4: #D0D7DD;
--triplex-Stepper-Step_BorderColor_Disabled-14-0-4: #E4E8EB;
--triplex-Stepper-Step_BorderColor_Focus-14-0-4: #FFDD64;
--triplex-Stepper-Step_BorderColor_Hover-14-0-4: #107F8C;
--triplex-Stepper-Step_Color_Default-14-0-4: #565B62;
--triplex-Stepper-Step_Color_Disabled-14-0-4: #D0D7DD;
--triplex-Stepper-Step_Color_Intact-14-0-4: #7D838A;
--triplex-Stepper-Step_Color_Selected-14-0-4: #1F1F22;
--triplex-Stepper-Wrapper_Background-14-0-4: linear-gradient(#FFFFFF 64px, transparent 0);
--triplex-Stepper-Wrapper_BoxShadow-14-0-4: 0 10px 15px 0 rgba(228, 232, 235, 0.5);
--triplex-TableBasic-Background_Hover-14-0-4: #F2F4F7;
--triplex-TableBasic-Background_Selected-14-0-4: #E4E8EB;
--triplex-TableBasic-Color-14-0-4: #1F1F22;
--triplex-TableBasic-FilterPanel_Background-14-0-4: #F2F4F7;
--triplex-TableBasic-Header_Background-14-0-4: #E4E8EB;
--triplex-TableBasic-PaginationBasic_Color-14-0-4: #1F1F22;
--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Default-14-0-4: #F2F4F7;
--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Disabled-14-0-4: #F2F4F7;
--triplex-TableBasic-PaginationBasic_Icon_Circle_Fill_Hover-14-0-4: #E4E8EB;
--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Default-14-0-4: #565B62;
--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Disabled-14-0-4: #D0D7DD;
--triplex-TableBasic-PaginationBasic_Icon_Path_Fill_Hover-14-0-4: #1F1F22;
--triplex-TableBasic-TableFooter_Background-14-0-4: #E4E8EB;
--triplex-TableBasic-TableFooter_Highlight-14-0-4: linear-gradient(transparent, #FFFFFF);
--triplex-TableBasicSettings-Footer_BorderColor-14-0-4: #D0D7DD;
--triplex-Tabs-Background-14-0-4: #FFFFFF;
--triplex-Tabs-Tab_Background_Default-14-0-4: #FFFFFF;
--triplex-Tabs-Tab_Background_Hover-14-0-4: #F2F4F7;
--triplex-Tabs-Tab_Background_Selected-14-0-4: #D0D7DD;
--triplex-Tabs-Tab_BorderColor_Default-14-0-4: transparent;
--triplex-Tabs-Tab_BorderColor_Focus-14-0-4: #FFDD64;
--triplex-TabsFolder-Background-14-0-4: #F2F4F7;
--triplex-TabsFolder-ButtonNext_Background-14-0-4: linear-gradient(to left, #F2F4F7 39.06%, transparent);
--triplex-TabsFolder-ButtonPrev_Background-14-0-4: linear-gradient(to right, #F2F4F7 39.06%, transparent);
--triplex-TabsFolder-Shadow-14-0-4: 0 -1px 0 0 #D0D7DD inset;
--triplex-TabsFolder-Tab_Background_Default-14-0-4: #F2F4F7;
--triplex-TabsFolder-Tab_Background_Hover-14-0-4: #FFFFFF;
--triplex-TabsFolder-Tab_Background_Selected-14-0-4: #FFFFFF;
--triplex-TabsFolder-Tab_BorderColor_Default-14-0-4: #D0D7DD;
--triplex-TabsFolder-Tab_BorderColor_Focus-14-0-4: #FFDD64;
--triplex-TabsFolder-Tab_Color_Default-14-0-4: #1F1F22;
--triplex-TabsFolder-Tab_Color_Disabled-14-0-4: #D0D7DD;
--triplex-TabsLine-BorderColor_Active-14-0-4: #005E7F;
--triplex-TabsLine-BorderColor_Default-14-0-4: transparent;
--triplex-TabsLine-BorderColor_Hover-14-0-4: #21A19A;
--triplex-TabsLine-Color-14-0-4: #1F1F22;
--triplex-TabsLine-Notification_Color-14-0-4: #FF9900;
--triplex-TabsLine-Separator_Background-14-0-4: #D0D7DD;
--triplex-TabsLine-Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64 inset;
--triplex-Tag-BorderColor-14-0-4: #D0D7DD;
--triplex-Tag-Color-14-0-4: #1F1F22;
--triplex-Tag-Medium_Background-14-0-4: #FFFFFF;
--triplex-Tag-Small_Background-14-0-4: #F2F4F7;
--triplex-Text-Danger_Color-14-0-4: #C11030;
--triplex-Text-Disabled_Color-14-0-4: #D0D7DD;
--triplex-Text-General_Color-14-0-4: #1F1F22;
--triplex-Text-Secondary_Color-14-0-4: #7D838A;
--triplex-Text-Success_Color-14-0-4: #107F8C;
--triplex-Text-Warning_Color-14-0-4: #FF9900;
--triplex-Title-Danger_Color-14-0-4: #C11030;
--triplex-Title-Disabled_Color-14-0-4: #D0D7DD;
--triplex-Title-General_Color-14-0-4: #1F1F22;
--triplex-Title-Secondary_Color-14-0-4: #7D838A;
--triplex-Title-Success_Color-14-0-4: #107F8C;
--triplex-Title-Warning_Color-14-0-4: #FF9900;
--triplex-Tooltip-Background-14-0-4: #1F1F22;
--triplex-Tooltip-Color-14-0-4: #FFFFFF;
--triplex-Tooltip-Link_Desktop_Color_Active-14-0-4: #1358BF;
--triplex-Tooltip-Link_Desktop_Color_Default-14-0-4: #198CFE;
--triplex-Tooltip-Link_Desktop_Color_Hover-14-0-4: #21A19A;
--triplex-Tooltip-Link_Desktop_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64;
--triplex-Tooltip-Link_Mobile_Color_Active-14-0-4: #0F5498;
--triplex-Tooltip-Link_Mobile_Color_Default-14-0-4: #1358BF;
--triplex-Tooltip-Link_Mobile_Color_Hover-14-0-4: #107F8C;
--triplex-Tooltip-Link_Mobile_Shadow_Focus-14-0-4: 0 0 0 1px #FFDD64;
--triplex-TopOverlay-Background-14-0-4: #FFE5E8;
--triplex-TopOverlay-Color-14-0-4: #1F1F22;
--triplex-TopOverlay-Shadow-14-0-4: 0 -1px 0 0 #C11030 inset;
--triplex-UploadZone-BorderColor_Default-14-0-4: #D0D7DD;
--triplex-UploadZone-BorderColor_Hover-14-0-4: #1F1F22;
--triplex-UploadZone-DragArea_Background-14-0-4: #FFFFFF;
--triplex-UploadZone-DragArea_BorderColor-14-0-4: #1F1F22;
--triplex-Widget-Background-14-0-4: #FFFFFF;
--triplex-Widget-Caret_Color-14-0-4: #1F1F22;
--triplex-Widget-Shadow-14-0-4: 0 0 0 1px #D0D7DD inset;
--triplex-Widget-Title_Color-14-0-4: #1F1F22;}