@import 'src/styles/style';

.multiselectFooter {
    padding: 0 @metric-12 @metric-16 @metric-12;

    &::before {
        content: '';
        display: block;
        height: @metric-16;
        margin: 0 -@metric-12;
        border-top: 1px solid var(--triplex-Multiselect-Divider_Color);
    }
}
