.component-options {
    margin-bottom: 32px;

    &.hidden {
        display: none;
    }

    .options-group {
        margin-bottom: 32px;
    }

    .option {
        input[type='checkbox'] {
            position: relative;
            top: 1px;
        }
    }
}
