@import '../../../../common/theme/default.less';

.checkboxYGroup {
    display: inline-flex;
    flex-flow: column wrap;

    .checkboxLabel {
        &:not(:last-of-type) {
            margin-bottom: @metric-16;
        }
    }
}
