@import 'src/styles/style';

.widget {
    border-radius: @metric-16;
    background: var(--triplex-Widget-Background);
    box-shadow: var(--triplex-Widget-Shadow);

    .widgetContent {
        box-sizing: content-box;
        visibility: hidden;

        &.globalExpandAnimationAnimating,
        &.globalExpandAnimationOpened {
            visibility: visible;
        }
    }
}
