@import 'src/styles/style';
@import 'src/components/Widget/styles/WidgetVariabless';

.widgetHeaderTitle {
    .h5-header-form(@color-graphite-01);
    color: var(--triplex-Widget-Title_Color);
    padding: @widget-vertical-padding 8px;
    margin-right: auto;
    margin-left: -8px;
    outline: none;

    &:focus-visible {
        box-shadow: 0 0 0 1px var(--triplex-Accent-500);
    }
}

.widgetHeaderControls {
    white-space: nowrap;
    padding-left: @metric-24;
}

.widgetHeader {
    padding: 0 @widget-horizontal-padding;
    border-radius: @metric-16;
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .widgetHeaderArrow {
        padding-left: @metric-32;
        flex-shrink: 0;

        .caretIcon {
            vertical-align: middle;
            transition: transform 0.25s ease-in-out;

            path {
                fill: var(--triplex-Widget-Caret_Color);
            }
        }
    }

    &:not(.isStatic) {
        cursor: pointer;
    }

    &:focus {
        &:not(.focusedByClick):focus {
            border-color: var(--triplex-Accent-500);
        }
    }

    &.animating {
        border-radius: @metric-16 @metric-16 0 0;
        border-bottom-color: transparent;
    }

    &.opened {
        border-radius: @metric-16 @metric-16 0 0;
        border-bottom-color: transparent;

        .widgetHeaderArrow .caretIcon {
            transform: rotate(-180deg);
        }
    }

    &.controlsAlignLeft {
        .widgetHeaderControls {
            flex-grow: 1;
        }
    }

    &.controlsAlignRight {
        .widgetHeaderTitle {
            flex-grow: 1;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .widgetHeader {
        padding-left: @widget-horizontal-mobile-padding;
        padding-right: @widget-horizontal-mobile-padding;
    }

    .widgetHeaderControls {
        // На мобильных устройствах этот блок не показывается.
        display: none;
    }
}
