.unorderedList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.unorderedListItem {
    margin-bottom: 8px;
    color: var(--triplex-UnorderedList-Color);

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: '\2022';
        display: inline-block;
        width: 12px;
        font-weight: bold;
        color: var(--triplex-UnorderedList-Color);
    }
}
