.themeIcon {
    height: 32px;
    border-radius: 8px;
    cursor: pointer;
}

.styleguidist-light-theme .themeIcon {
    &:hover {
        background-color: #ffffff;
    }
}

.styleguidist-dark-theme .themeIcon {
    &:hover {
        background-color: #686977;
    }
}
