@import 'src/styles/style';

.stepper {
    padding-left: 32px;
    padding-right: 32px;
}

.stepperCarousel {
    margin-left: -32px;
    margin-right: -32px;
    position: relative;

    .buttonPrev,
    .buttonNext {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-clip: padding-box;
    }

    .buttonPrev {
        left: 0;
    }

    .buttonNext {
        right: 0;
    }

    .buttonPrevIcon {
        background: var(--triplex-Stepper-ButtonPrev_Background);
    }

    .buttonNextIcon {
        background: var(--triplex-Stepper-ButtonNext_Background);
    }
}

@media (max-width: @screen-sm-max) {
    .stepper {
        padding-left: 16px;
        padding-right: 16px;
    }

    .buttonPrev,
    .buttonNext {
        display: none;
    }
}
