@import 'src/styles/style';

@arrow-border-right-width: 20px;

.stepperStep {
    display: inline-flex;
    position: relative;
    outline: none;
    cursor: pointer;

    + .stepperStep {
        margin-left: @metric-12;
    }

    &:not(:last-child) {
        .content {
            padding: 7px 0 7px 11px;
            border-width: 1px 0 1px 1px;
            border-radius: 6px 0 0 6px;
        }
    }

    &:last-child {
        .content {
            padding: 7px 11px;
            border-width: 1px;
            border-radius: 6px;
        }

        .arrow {
            display: none;
        }
    }

    &:hover {
        .content {
            border-color: var(--triplex-Stepper-Step_BorderColor_Hover);
        }

        .arrow path:last-child {
            fill: var(--triplex-Stepper-Step_BorderColor_Hover);
        }
    }

    &.intact {
        .content {
            color: var(--triplex-Stepper-Step_Color_Intact);
        }
    }

    &.selected {
        cursor: default;

        .content {
            background: var(--triplex-Stepper-Step_Background_Selected);
            border-color: var(--triplex-Stepper-Step_BorderColor_Hover);
        }

        .arrow path:first-child {
            fill: var(--triplex-Stepper-Step_Background_Selected);
        }

        .arrow path:last-child {
            fill: var(--triplex-Stepper-Step_BorderColor_Hover);
        }
    }

    &.disabled {
        pointer-events: none;

        .content {
            color: var(--triplex-Stepper-Step_Color_Disabled);
            border-color: var(--triplex-Stepper-Step_BorderColor_Disabled);
        }

        .arrow path:last-child {
            fill: var(--triplex-Stepper-Step_BorderColor_Disabled);
        }
    }

    &.focusVisible {
        .content {
            border-color: var(--triplex-Stepper-Step_BorderColor_Focus);
        }

        .arrow path:last-child {
            fill: var(--triplex-Stepper-Step_BorderColor_Focus);
        }
    }
}

.content {
    display: inline-flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--triplex-Stepper-Step_Color_Default);
    background: var(--triplex-Stepper-Step_Background_Default);
    border-style: solid;
    border-color: var(--triplex-Stepper-Step_BorderColor_Default);
    white-space: nowrap;
}

.icon {
    line-height: 0;

    .nonempty & {
        margin-right: 4px;
    }
}

.arrow {
    transform: translate(0); // Safari fix

    path:first-child {
        fill: var(--triplex-Stepper-Step_Background_Default);
    }

    path:last-child {
        fill: var(--triplex-Stepper-Step_BorderColor_Default);
    }
}
