@import 'src/styles/style';

.stepperWrapper {
    position: relative;
    padding: @metric-16 @metric-32;
    overflow-y: hidden;
    background: var(--triplex-Stepper-Background);

    &.withShadow {
        padding-bottom: @metric-32;
        margin-bottom: -@metric-16;
        background: var(--triplex-Stepper-Wrapper_Background);

        &::before {
            content: '';
            position: absolute;
            height: @metric-64;
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: var(--triplex-Stepper-Wrapper_BoxShadow);
        }
    }
}
