@import 'src/styles/style';

@stepper-progress-height: 2px;

.stepperProgress {
    width: 100%;
    height: @stepper-progress-height;
    position: absolute;
    top: @metric-64 - @stepper-progress-height;
    left: 0;
    background: var(--triplex-Stepper-Progress_Background_Default);
}

.progressBar {
    height: 100%;
    max-width: 100%;
    background: var(--triplex-Stepper-Progress_Background_Filled);
}
