@import '../../../../common/theme/default';

.dropdown {
    position: fixed;
    z-index: @z-index-dropdown;
    box-sizing: border-box;
    box-shadow: @shadow-02;
    background-color: @color-snowy;
    border-radius: @radius-8;
}
