@import 'src/styles/style';

.spoiler {
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        justify-content: space-between;

        .icon {
            align-self: start;
            margin: 2px 0 0 @metric-4;
            flex-shrink: 0;

            path {
                fill: var(--triplex-Spoiler-Caret_Color);
            }

            &.animationRotate180 {
                transition: transform 0.3s ease-in-out;

                &.active {
                    transform: rotate(-180deg);
                }
            }
        }

        button {
            &.toggleButton {
                margin-left: -2px;
                height: auto;
            }

            & > span {
                white-space: normal;
                text-align: left;
            }
        }
    }

    .content {
        margin-top: @ufs-theme-base*2;

        &.hidden {
            display: none;
        }
    }
}
