@import 'src/styles/style';

.spoiler {
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        justify-content: space-between;

        .icon {
            margin-left: @metric-4;

            path {
                fill: var(--triplex-Spoiler-Caret_Color);
            }

            &.animationRotate180 {
                transition: transform 0.3s ease-in-out;

                &.active {
                    transform: rotate(-180deg);
                }
            }
        }

        .toggleButton {
            margin-left: -2px;
        }
    }

    .content {
        margin-top: @ufs-theme-base*2;

        &.hidden {
            display: none;
        }
    }
}
