.styleguide-toolbar-button {
    display: inline-block;
    padding: 0;
    margin-left: auto;
    line-height: 0;
    color: #7D838A;
    background: none;
    border: none;

    &:hover {
        color: #2E2F36;
    }
}
