.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

@media (max-width: 767px) {
  .not-found {
    height: auto;
    justify-content: left;
    padding: 16px;
  }
}