@import '../../../../../common/theme/default';

.lightBoxTopOverlayMask {
    background: @ufs-theme-overlay-white-background-color;
    transition: opacity 0s;
}

.lightBoxTopOverlayWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    &.closing,
    &.opened {
        bottom: 0;
    }
}

.lightBoxTopOverlay {
    z-index: @page-header-sticky-z-index + @z-index-step;
}

.lightBoxTopOverlayPanel {
    transition: transform 0.6s;
}