@import '../../../../common/theme/default';

.formFieldTextarea {
    border: none;
    border-radius: 8px;
    outline: none;
    min-width: 0; // https://stackoverflow.com/questions/43314921/strange-input-widths-in-firefox-vs-chrome
    line-height: 16px;
    font-size: 14px;
    font-family: inherit;
    padding: 16px 12px;
    height: 96px;
    width: 100%;
    box-sizing: border-box;
    background: @color-snowy;
    // Иначе будет лишний отступ снизу.
    vertical-align: top;
    box-shadow: 0 0 0 1px rgba(208, 215, 221, 1) inset;

    &.error {
        box-shadow: 0 0 0 1px rgba(193, 16, 48, 1) inset;
    }

    &:disabled {
        background: @color-asphalt-05;
        box-shadow: 0 0 0 1px rgba(208, 215, 221, 1) inset;
    }

    &:focus {
        box-shadow: 0 0 0 1px rgba(255, 221, 100, 1) inset;
    }
}
