@import '../../../../common/theme/default';

.formFieldSidebar {
    flex-shrink: 0;
    align-self: center;
    padding-left: 8px;
    // Чтобы поля без HelpBox не занимали большую ширину.
    min-width: 16px;
}
