@import 'src/styles/style';

.tabsContent {
    background: var(--triplex-Tabs-Background);
    border-radius: 16px;
}

.tabsButtonDropdown {
    // Fix IE11.
    vertical-align: top;
    // Fix IE11.
    height: 28px;
}
