@import url('src/styles/style');

.suggestMobileBody {
    height: 176px;
}

// Input на форме.
.suggestMobileTarget {
    text-overflow: ellipsis;
}

// Input внутри Dropdown.
.suggestMobileInput {
    border: none;
    background: none;
    // Компенсация отступов .dropdownMobileHeader
    margin: -12px 0 -12px -16px;
    padding: 12px 0 12px 16px;
    box-sizing: border-box;
    // 12px - отступ под иконку spinner.
    width: calc(100% - 12px);
    color: @color-graphite-01;
    font-size: 14px;
    line-height: 20px;
    outline: none;
}

.suggestMobileDropdownHint {
    padding: 6px 16px;
}

.dropdownInputSpinnerWrapper {
    position: absolute;
    right: 40px;
    top: 12px;
}

.dropdownListSpinnerWrapper {
    position: relative;
    text-align: center;
    padding: 12px 0;
    height: 44px;
    box-sizing: border-box;
}
