@import 'src/styles/style';

// measures.
@ufs-theme-suggest-right-padding: 40px;
@ufs-theme-suggest-loading-paddings: @ufs-theme-input-padding-vertical @ufs-theme-suggest-right-padding @ufs-theme-input-padding-vertical @ufs-theme-input-padding-horizontal;

.suggest {
    position: relative;
    width: 100%;
}

.suggestDesktopTarget {
    &.hidden {
        opacity: 0;
    }

    .loading & {
        padding: @ufs-theme-suggest-loading-paddings;
    }
}

.pseudoLabel {
    position: absolute;
    top: 0;
    left: 0;

    &.hidden {
        z-index: -1;
    }
}

.spinnerIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: @metric-12;
    margin: auto;
}

.suggestDropdownListItem {
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestListSpinnerWrapper {
    position: relative;
    text-align: center;
    padding: @metric-4 0;
    height: 28px;

    .suggestListSpinner {
        display: inline-block;
    }
}

.grouped {
    flex: 1;

    &:not(:first-child) {
        margin-left: -1px;
    }

    &.left {
        .suggestDesktopTarget,
        .suggestMobileTarget {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.intermediate {
        .suggestDesktopTarget,
        .suggestMobileTarget {
            border-radius: 0;
        }
    }

    &.right {
        .suggestDesktopTarget,
        .suggestMobileTarget {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.error {
        z-index: 1;
    }

    &.focused {
        z-index: 2;
    }
}
