@import url('src/styles/style');

.suggestMobileBody {
    height: 176px;
}

// Input на форме.
.suggestMobileTarget {
    text-overflow: ellipsis;
}

.suggestMobileDropdownHint {
    padding: 6px 16px;
}

.dropdownInputSpinnerWrapper {
    position: absolute;
    right: 40px;
    top: 12px;
}

.dropdownListSpinnerWrapper {
    position: relative;
    text-align: center;
    padding: 12px 0;
    height: 44px;
    box-sizing: border-box;
}
