@import 'src/desktop/common/theme/default';

.general {
    color: @color-graphite-01;
}

.secondary {
    color: @color-asphalt-01;
}

.success {
    color: @color-malachite-02;
}

.warning {
    color: @color-pumpkin-02;
}

.danger {
    color: @color-ruby-02;
}

.disabled {
    color: @color-asphalt-03;
    user-select: none;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.underline.strikethrough {
    text-decoration: underline line-through;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}
