@import 'src/styles/style';

.button.secondary {
    .font-regular();
    .font-size-inline(@font-size-14);

    background: var(--triplex-Button-Secondary_Background_Default);
    box-shadow: var(--triplex-Button-Secondary_Shadow_Default);
    color: var(--triplex-Button-Secondary_Color_Default);
    text-transform: none;

    .caretIcon path {
        fill: var(--triplex-Button-Secondary_Caret_Color_Default);
    }

    &.MD {
        .size-MD();
    }

    &.SM {
        .size-SM();
    }

    &.LG {
        .size-LG();
    }

    &:hover {
        background: var(--triplex-Button-Secondary_Background_Hover);
        box-shadow: var(--triplex-Button-Secondary_Shadow_Hover);
        color: var(--triplex-Button-Secondary_Color_Hover);

        .caretIcon path {
            fill: var(--triplex-Button-Secondary_Caret_Color_Hover);
        }
    }

    &.expanded,
    &:active {
        background: var(--triplex-Button-Secondary_Background_Active);
        box-shadow: var(--triplex-Button-Secondary_Shadow_Active);
        color: var(--triplex-Button-Secondary_Color_Active);

        .caretIcon path {
            fill: var(--triplex-Button-Secondary_Caret_Color_Active);
        }
    }

    &:focus-visible {
        box-shadow: var(--triplex-Button-Secondary_Shadow_Focus);
    }

    &:disabled {
        background: var(--triplex-Button-Secondary_Background_Disabled);
        box-shadow: var(--triplex-Button-Secondary_Shadow_Disabled);
        color: var(--triplex-Button-Secondary_Color_Disabled);

        .caretIcon path {
            fill: var(--triplex-Button-Secondary_Caret_Color_Disabled);
        }
    }
}
