@import 'src/styles/style';

.button.link {
    background: transparent;
    .b1-text-main(@color-sky-02);
    color: var(--triplex-Button-Link_Color_Default);

    &.MD {
        .size-MD(@ufs-theme-button-min-width-link-md, @ufs-theme-button-padding-horizontal-link-md);
    }

    &.SM {
        .size-SM(@ufs-theme-button-min-width-link-sm, @ufs-theme-button-padding-horizontal-link-sm);
    }

    &.LG {
        .size-LG(@ufs-theme-button-min-width-link-lg, @ufs-theme-button-padding-horizontal-link-lg);
    }

    &:hover {
        color: var(--triplex-Button-Link_Color_Hover);
    }

    &:active {
        color: var(--triplex-Button-Link_Color_Active);
    }

    &:disabled {
        color: var(--triplex-Button-Link_Color_Disabled);
    }

    &[data-focus-visible]:focus {
        box-shadow: inset 0 0 1px 1px var(--triplex-Accent-500);
    }
}
