@import 'src/styles/style';

.button.secondary {
    background-color: @color-snowy;
    border-color: @color-asphalt-03;
    .b2-text-controls-normal(@color-graphite-01);

    &.MD {
        .size-MD(@ufs-theme-button-border-width-secondary);
    }

    &.SM {
        .size-SM(@ufs-theme-button-border-width-secondary);
    }

    &:hover {
        border-color: @color-graphite-01;
    }

    &.expanded,
    &:active {
        background-color: @color-asphalt-03;
    }

    &.expanded:not([data-focus-visible]):enabled,
    &:not([data-focus-visible]):enabled:active {
        background-clip: border-box;
        border-color: transparent;
    }

    &:disabled {
        background-color: @color-snowy;
        border-color: @color-asphalt-03;
        color: @color-asphalt-03;
    }
}
