@import 'src/styles/style';

.button.dots {
    background: var(--triplex-Button-Dots_Background_Default);
    box-shadow: var(--triplex-Button-Dots_Shadow_Default);

    .dotsIcon path {
        fill: var(--triplex-Button-Dots_Color_Default);
    }

    &.MD {
        .size-MD(@ufs-theme-button-height-md, @ufs-theme-button-padding-horizontal-dots-md);
    }

    &.SM {
        .size-SM(@ufs-theme-button-height-sm, @ufs-theme-button-padding-horizontal-dots-sm);
    }

    &.LG {
        .size-LG(@ufs-theme-button-height-lg, @ufs-theme-button-padding-horizontal-dots-lg);
    }

    &:hover {
        background: var(--triplex-Button-Dots_Background_Hover);
        box-shadow: var(--triplex-Button-Dots_Shadow_Hover);

        .dotsIcon path {
            fill: var(--triplex-Button-Dots_Color_Hover);
        }
    }

    &.expanded,
    &:active {
        background: var(--triplex-Button-Dots_Background_Active);
        box-shadow: var(--triplex-Button-Dots_Shadow_Active);

        .dotsIcon path {
            fill: var(--triplex-Button-Dots_Color_Active);
        }
    }

    &:focus-visible {
        box-shadow: var(--triplex-Button-Dots_Shadow_Focus);
    }

    &:disabled {
        background: var(--triplex-Button-Dots_Background_Disabled);
        box-shadow: var(--triplex-Button-Dots_Shadow_Disabled);

        .dotsIcon path {
            fill: var(--triplex-Button-Dots_Color_Disabled);
        }
    }
}
